[2016-12-02 16:42] bpbond opened #1 "Redo old-vs-new outputs testing code"
It's going to need to look at disk-saved outputs (don't want to re-run `driver` each time we test).

In addition, it should transform some outputs to match old form (no Xyears, wide-vs-long forms).

1. Build
2. Run driver(write_intermediate_outputs=TRUE)
3. Test
4. Test code: if no intermediate_outputs directory, skip

[2016-12-03 00:09] bpbond opened #2 "Change commenting mechanism"
`comment(x) <- ...` will erase previous comments. Make an `add_comment()` function.

[2016-12-04 13:15] bpbond commented on #1
Done in 5531ed8.

[2016-12-04 13:15] #1 closed

[2016-12-04 13:15] bpbond commented on #2
Done.

[2016-12-04 13:15] #2 closed

[2016-12-04 13:17] bpbond opened #3 "Separate flags from comments"
Right now data flags, like LONG_NO_X_FORM, are just dropped in as comments. We should cleanly separate this--i.e. flags and comments use different structures.

[2016-12-04 13:26] bpbond opened #4 "Logfile(s)"
A single log file? Log files for each chunk?

[2016-12-04 17:08] bpbond opened #5 "Abstract away chunk get/return data"
I.e., chunks should not access `all_data` directly, but rather via `get_data(all_data, "what_i_want").

Similarly, they return just `return_data(x, y, z)`.

[2016-12-04 17:09] bpbond opened #6 "How to handle CSV reads"
Should chunks 'know' about CSV reads? Or should they just request (see #5 ) data, and if it's not found, `get_data` looks for a file with that name?

[2016-12-05 01:14] bpbond commented on #5
Addressed in 	647f851.

[2016-12-05 01:14] #5 closed

[2016-12-05 18:15] bpbond opened #7 "Is socioeconomics_inputs necessary?"
Current this chunk reads `USDA_GDP_MER.csv` which is only used by one chunk, so there's no need for it to be here. Look at other socioeconomics chunks--if there's no need for a dedicated input chunk (i.e. no files used by more than one chunk) then get of it.

[2016-12-05 22:14] bpbond commented on #6
Solution implemented in 25db708ef after discussion with @pralitp

[2016-12-05 22:14] #6 closed

[2016-12-05 22:15] bpbond commented on #7
Closing - it's no longer necessary after new handling of csv reads in 25db708ef.

[2016-12-05 22:15] #7 closed

[2016-12-06 01:35] bpbond commented on #3
Addressed in c6aba92.

[2016-12-06 01:35] #3 closed

[2016-12-09 02:29] bpbond opened #8 "Identify a level 2 program to rewrite"
Something so we have the full chain (level 0 to final product).

[2016-12-09 08:10] #8 closed

[2017-01-05 14:30] bpbond opened #9 "Test code and years"
Test code should test chunks for different `HISTORICAL_YEARS` and stuff like that. Ensure nothing breaks.

[2017-01-05 18:46] bpbond opened #10 "Tests and chunk permissions"
Ideally chunks are under highly restrictive restrictions: for example, they can't change the units of their data (?). This would be tested by the automatic testing code. Chunks can request tests be suspended, but doing so flags the issue for code reviewers.

I.e., we want as many restrictions on chunks as we can get. This needs to be thought out and developed more.

[2017-01-05 18:51] bpbond opened #11 "'Legacy_name' attribute"
Attach legacy (current d.s.) name to every data product; then can have more sensible names.

[2017-01-05 19:24] bpbond opened #12 "Ability to 'shim' into driver"
Users will want to test out new things. Per @pralitp suggestion - we could give them the ability to modify data frames as the driver runs. For example, they can say "whenever X gets created, call this user-supplied function to modify it before anything else happens".

The more general point is we want to make it easy, or at least provide robust tools, to work with the data system.

[2017-01-17 02:09] bpbond opened #13 "Reading input data at the beginning versus on-the-fly"
We set up the driver to pre-read all input data that it can't find (i.e. that a chunk has declared it will provide). This does allow us to quickly find missing data.

But...this means that the chunks, which 'know' their data and could provide hints to the reader function, can't do so. In particular, `socioeconomics/Maddison_population.csv` has a missing column that we'd like not to fix in-file, bu

[2017-01-17 02:36] bpbond commented on #13
...plus, time is incorrectly charged–chunks that read expensive data don't get charged for it. Yeah, change this.

[2017-01-17 02:41] bpbond commented on #13
BUT how does the driver know when all data are available, then? There will have to be a special flag indicating something is an input, or it'll have to deduce from name form, or something like that.

[2017-01-17 03:09] bpbond commented on #13
Settled on this syntax which seems easy and clear:

[code]

[2017-01-17 04:02] bpbond opened #14 "Need some mutable globals"
Right? For example...

So we can easily check whether a requested data set is `from_file` without re-calling `chunk_names()`.

[2017-01-17 11:50] bpbond opened #15 "Add a check that data not generated by more than one chunk"

[2017-01-17 11:58] #15 closed

[2017-01-17 11:58] bpbond commented on #13
Tried this and didn't like it; reverted. But kept the `FILE =` requirement above, as it's a useful check.

[2017-01-17 11:58] #13 closed

[2017-01-18 10:07] bpbond commented on #14
Seems like we might pass `all_data` in to functions as an environment, not a list.

Hmm, but that would let them modify things in-place.

Pass all chunks an environment to access their globals in?

http://adv-r.had.co.nz/Environments.html

[2017-01-18 16:34] bpbond commented on #14
Right now the dsr package uses a single namespace for its globals--any code anywhere can access `HISTORICAL_YEARS`, for example, which is defined in the package's environment. This is easy and makes some sense (e.g. historical years will always be the same for all package code) but is also a Bad Thing :tm:

(Also, we spent a while last meeting discussing putting as many restrictions and tests on c

[2017-01-18 22:36] bpbond commented on #12
E.g.
[code]

[2017-01-19 00:34] bpbond opened #16 "Drivers checks"
Driver should

- [x] Declaring outputs: verify no overlaps in promised data
- [x] Only pass _required_ (declared) data to chunks
- [x] Verify chunks return exactly what was promised

[2017-01-19 02:55] #16 closed

[2017-01-19 04:07] bpbond opened #17 "Driver tests"
Need more and better tests for the driver!

- Catches duplicate outputs
- Catches unmarked file inputs
- Catches lying chunks (outputs don't match what was declared)
- Catches being stuck

For all these will need to [mock](https://blog.rstudio.org/2014/09/23/testthat-0-9/) some package functions (`find_chunks`, etc).

[2017-01-19 15:03] bpbond opened #18 "Write documentation on creating a chunk"
Wiki pages on:

- [x] Overview of process: check issues, create an issue, do translation, open PR referencing issue
- [x] Overview of system and how it works
- [x] Testing: what chunks are tested on and how to do it
- [x] Creating globals and input files
- [x] Looking for efficiencies and finding mistakes (tricky)
- [x] Documentation: functions, code, data
- [x] Data reformatting and flags

Also:

[2017-01-19 15:56] bpbond commented on #17
Done - see commit 2ccbf80

[2017-01-19 15:56] #17 closed

[2017-01-19 15:56] bpbond commented on #4
Something. This is getting increasingly important; at least need to be able to `quiet = TRUE` the chatty driver.

[2017-01-19 19:45] bpbond opened #19 "Tools to help in d.s. conversion"
What tools can we develop/demo to help people doing this?!?

[2017-01-19 21:22] bpbond opened #20 "Convert tests to mockr package"

[2017-01-19 21:25] bpbond opened #21 "Create progress() function"
...that makes dependency graph; gets finished chunks; appends to pre-existing data; graphs date versus chunks colored by module; saves to README graphics folder.

[2017-01-20 03:00] #20 closed

[2017-01-20 03:02] bpbond commented on #14
Robert notes:

[2017-01-20 03:13] bpbond opened #22 "Maddison_population.csv empty column"
The `socioeconomics/Maddison_population.csv` file has an empty column, way out between 2008 and 2030. This causes `readr::read_csv` to throw a warning. Can we remove this column? Because it has no column name, I can't force a skip.

[2017-01-23 20:13] #9 closed

[2017-01-23 20:17] bpbond opened #23 "`gcam-usa_LA100.Socioeconomics_makedata` and FUTURE_YEARS"
`gcam-usa_LA100.Socioeconomics_makedata` is not robust to anything except a 5-year change in FUTURE_YEARS, because the future population data used there are 2010, 2015, etc. So a 1-year shift in FUTURE_YEARS means it doesn't intersect with the data years, and in turn `approx_fun` fails (see code below, currently lines 118-127 in `module-gcam-usa.R`.

Basically, I think we'd like to interpolate the

[2017-01-23 20:55] bpbond opened #24 "Update GCAM wiki directly from data system"
Suggestion from Leon: it would be great if data system could update wiki documentation automatically–e.g., a table with energy system default assumptions, etc.

This seems straightforward to do.

[2017-01-24 01:26] bpbond opened #25 "Pre-create ALL the chunks?"
One way to smooth things might be to pre-create all the chunks. They could all declare their dependencies; read their data; and create fake outputs (flagged). That would give Leon et al. a list of finished and unfinished chunks, and make for a killer graphic at GCAM meeting.

[2017-01-24 17:49] bpbond commented on #25
Yes. A script scans the original data system scripts. It reads them in one by one and

- identifies the inputs
- identifies which of the inputs are files
- constructs `get_data` calls
- constructs the `driver.DECLARE_INPUTS` response
- identifies the outputs
- identifies which of the outputs are to XML
- constructs the `driver.DECLARE_OUTPUTS` response
- constructs the `return_data` call
- pastes

[2017-01-26 16:39] bpbond opened #26 "Multiple datasets into same XML"
Pralit notes that there are cases in the d.s. where multiple datasets flow into a single XML, and the ordering is important. We'll need to look at this.

[2017-01-26 16:42] #25 closed

[2017-02-15 19:27] bpbond opened #27 "More resolved tracking of data provenance"
Good suggestion from Steve: have chunks label each of their outputs with the names of all the chunk _inputs_ that contributed to that output. This is easy and will give us much more resolution in terms of printing data provenance: instead of "X was produced by chunk Y" the system will be able to say "X was produced by Y using A, B, and C" [and then recurse to whoever made A-C]. (edited). E.g.

[co

[2017-02-15 19:28] bpbond opened #28 "Documenting input data"
There are a number of ways to document input datasets _not_ generated by the data system itself, and how we do it will sometimes depend on the data.

* Separate file - e.g. `xxx.csv` accompanied by `xxx-metadata.txt`
* Header in data file
* In-code (if specialized for reading in one particular dataset)

[2017-02-15 19:30] bpbond opened #29 "Units!!!"
The benefits of forcing units specification are MANY. Think about this.

Internally one could have e.g.

[code]

Then later chunks have to assert they know units, Hector-style:

[code]

[2017-02-23 01:42] bpbond commented on #27
So we could have

function | purpose
-------- | ---------
`add_units` | Add units (character) to an object
`add_precursors` | Add precursor names to an object; can be called multiple times
`add_description` | Add to object description; can be called multiple times

And `returndata` will reject an object that doesn't have these three attributes set?

[2017-02-23 18:55] bpbond opened #30 "Which branch are we basing from?"
Integration or master?

[2017-02-23 20:08] bpbond commented on #30
`integration/water-ssp`

[2017-02-24 06:41] bpbond opened #31 "How to handle un-done chunks?"
1. They don't exist until created. Easy. Except then we can't run dependency analyses on un-done work, which would be really critical to know as we go.
2. Create them ALL at the beginning, but mark them as "disabled". Disabled chunks don't get run. When someone works on a chunk, they change its status. This could be done via a `driver.STATUS` return message, or just append "_DISABLED" to the end o

[2017-02-24 13:19] bpbond commented on #31
I think number 2.

[2017-02-24 13:19] #31 closed

[2017-02-25 19:56] bpbond opened #32 "Add tests for add_title, add_units, add_precursors"
Also want to have checks that chunks have provided required documentation on their objects.
ALSO want to check that their precursors are in fact one of their inputs!
Put this logic in `return_data` or the driver?

[code]

[2017-02-25 20:00] bpbond opened #33 "Update chunk generator with add_units, etc."

[2017-02-25 20:01] bpbond commented on #32
See #27

[2017-02-25 20:02] bpbond commented on #27
Done except for #32 . Closing.

[2017-02-25 20:02] #27 closed

[2017-02-27 12:32] bpbond commented on #32
Implemented in 3a11df8.

[2017-02-27 12:32] #32 closed

[2017-02-27 12:33] bpbond commented on #29
Chunks now have to provide units with all their outputs (see 3a11df8) but not enforcing the know-units-to-get-data possibility above.

[2017-02-27 12:47] #19 closed

[2017-02-27 16:05] bpbond opened #34 "Write a sample trace()"
[code]

[2017-02-27 16:05] bpbond opened #35 "add_title should record name of caller, too"

[2017-02-28 19:52] bpbond commented on #34
Done in 8e1e7491.

[2017-02-28 19:52] #34 closed

[2017-02-28 19:53] bpbond commented on #10
This is all done I think, except for the idea of chunks requesting no tests, which seems dangerous and unnecessary.

[2017-02-28 19:53] #10 closed

[2017-02-28 19:54] bpbond commented on #14
Closing as this seems solved, at least for now.

[2017-02-28 19:54] #14 closed

[2017-03-09 14:27] #33 closed

[2017-03-15 14:59] pkyle commented on #22
This was the dataset exactly as downloaded from the source; there's no reason to keep the blank column (i.e. feel free to delete it).

[2017-03-15 15:02] bpbond commented on #22
Thanks @pkyle . The thing is, if we do that, then the code will break if someone re-downloads it in the future...hmm.

[2017-03-15 15:04] pkyle commented on #23
Totally agreed; when I first set this up, the interpolation function was quite slow and would have taken a very long time to write out the future years in one-year increments. Another aspect is that for debugging purposes, writing out all years as columns is kind of impractical. But I agree, FUTURE_YEARS should be all future years.

[2017-03-15 15:07] bpbond commented on #23
We talked about this at meeting last week (which was totally my screwup that you weren't invited to, Page–sorry). Let's sit down and take a look at code, and talk to whoever else we need to, and get this interpolating to 1-year FUTURE_YEARS. I'll assign this to me to follow up.

[2017-03-15 15:08] pkyle commented on #22
True! I just re-downloaded it a second ago, and while an additional year (2008) is available, there's still an empty column between 2008 and 2030.

[2017-03-15 15:08] #30 closed

[2017-03-15 15:10] bpbond commented on #29
@rplzzz @pkyle @kvcalvin @pralitp does this seem reasonable? For our first pass at DSR, require units to be attached to output data, but NOT require assertion of units to access data?

[2017-03-15 15:23] pkyle commented on #26
Yeah, good point. I think the only case in aglu/energy modules is the bio_hi.xml file in AgLU, which changes yields and carbon contents of bioenergy crops, and those parameters are set in different R code files. But that file is not long for this world (isn't in the integration branch). There is at least one case of this in the emissions module (all_fgas_emissions.xml, created by L241 and L252), b

[2017-03-15 17:49] pralitp commented on #26
This should be taken care of it the approach that I took on the branch I just created (I'll open a pull request in the next day or two and reference this issue).

Basically the current level 2 just publish the tables that the current data system would add to a "batch xml file" as output.  And a separate chunk will input them back in and do the XML conversion.  So each "batch xml file" now get's it

[2017-03-15 17:57] pralitp commented on #29
That sounds reasonable to me.

[2017-03-15 18:55] pkyle commented on #29
From my understanding, this is only enforced for the data objects being written out to CSV, and not the ones that are just stored (or not) mid-stream. That sounds fine--the mid-stream ones are the ones that tend to have different units in different columns. Still, there might be some files with multiple units; the only ones I can think of are the cement-related files (energy/L*321.*) with input-re

[2017-03-16 00:25] bpbond commented on #29
OK, thanks, seems like this is good for now, and gives us a foundation to build on later.

[2017-03-16 00:25] #29 closed

[2017-03-16 00:26] bpbond commented on #18
https://github.com/JGCRI/gcamdata/wiki/Training-2

[2017-03-16 00:26] #18 closed

[2017-03-16 01:07] bpbond opened #37 "Driver needs to check for duplicated chunk names"

[2017-03-16 14:03] rplzzz commented on #23
Sounds good.

[2017-03-16 14:10] bpbond opened #38 "DEMO_chunk_LA112.U.R"
Working

[2017-03-16 14:47] rplzzz opened #39 "Some GCAM inputs have bad line endings."
For example: [A12.U_curves](https://github.com/JGCRI/gcam-data-system-OLD/blob/master/energy-data/assumptions/A12.U_curves.csv).  You can't see it in the github interface, but this file has <CR> line endings (like you would find in Mac OS 9 and previous).  It also doesn't have a final newline. Where possible, when we encounter these we should convert to unix line endings (<LF>) and a final newline

[2017-03-16 15:51] #38 closed

[2017-03-16 16:13] bpbond opened #40 "Fix output dirs in old data system"
Git won't sync empty directories

[2017-03-16 16:17] bpbond opened #41 "Guidance/standard for how to deal with merges and matches"
If no match/rows get dropped, error? OK?

Do we want to provide a `left_join_no_drops` safe function?

[2017-03-16 16:18] bpbond commented on #11
Yes (insert into skeletons), but don't allow people to change object names for now.

[2017-03-16 16:18] bpbond opened #42 "chunk_generator shouldn't add _DISABLED to function documentation header"

[2017-03-16 16:21] bpbond opened #43 "Change FLAG_LONG_FORM to FLAG_YEAR_LONG_FORM or something more specific"

[2017-03-16 16:21] bpbond opened #44 "check_chunk_outputs - add spaces in precursor error message"

[2017-03-16 16:22] bpbond opened #45 "Maybe encourage folks to use add_units in mid-chunk, for clarity"
Even for internal-only objects

[2017-03-16 16:22] bpbond opened #46 "Could provide convenience function same_precursors_as(obj)"

[2017-03-16 16:23] bpbond commented on #28
Could have generic file reader send any comment lines (`#`) at top into `add_comments`, and could even look for title/units too

[2017-03-17 13:19] bpbond opened #50 "I want you to do this ...."

[2017-03-17 13:25] #50 closed

[2017-03-17 13:38] bpbond opened #51 "Check RTools availability for 3.3.1 - why are people getting warning messages?"

[2017-03-17 15:46] #44 closed

[2017-03-17 16:13] #40 closed

[2017-03-18 15:14] #11 closed

[2017-03-18 15:15] bpbond commented on #21
Partially done in 185837d.

[2017-03-18 19:37] bpbond opened #58 "Shift graph_chunks() to ggraph"
http://www.data-imaginist.com/2017/Announcing-ggraph/

[2017-03-20 14:54] #43 closed

[2017-03-20 15:00] bpbond commented on #42
Fixed

[2017-03-20 15:00] #42 closed

[2017-03-20 15:28] bpbond commented on #51
@russellhz I don't use Windows; can you tell me what the message is exactly, please?

[2017-03-20 15:32] bpbond commented on #22
Useful link, thanks @rplzzz ! I think the first option makes sense, coupled with a chunk dedicated to this particular dataset (as we've talked about before, see #28 ). This will be a good test of that dedicated-chunk approach.

[2017-03-20 15:36] bpbond commented on #46
This was an idea from @pralitp , e.g.

[code]

Easy to implement; worth it? @rplzzz @kvcalvin

[2017-03-20 15:54] cahartin opened #66 "DEMO_chunk_LA112.U.R"

[2017-03-20 17:06] bpbond opened #67 "DEMO_chunk_LA112.U.R"

[2017-03-20 17:41] bpbond opened #68 "energy/A112.U_curves not well documented"

[2017-03-20 18:02] russellhz commented on #51
@bpbond Not sure what this is referring to

[2017-03-20 18:20] ssmithClimate commented on #28
@bpbond  - you also had mentioned at one point yaml as an option as well? (Don't think I got that right).

A few thoughts.

We , collectively, have a lot of work to do to document the sources of GCAM data. So this will need to be incremental - we'll need to slowly build this up over time. (For example, at some point the expectation would be during code review that inputs have metadata documenting

[2017-03-20 18:52] cahartin opened #70 "Date included in documentation"
Do we want to add a date created line under author names in the chunks?

[2017-03-20 21:23] bpbond commented on #22
Ended up just defining the column names explicitly. This will break if the file format changes, but here here that's probably a good thing, as this code `module_data_Maddison_population` is explicitly tied to this file.

[2017-03-20 21:23] #22 closed

[2017-03-20 21:35] bpbond commented on #28
Initial thoughts - I'd suggest a two-pronged approach for now:

1. 'Generic' (most) CSV files should be documented via a header at the top of the file, with header lines prefixed by `#`. As we bring files from the old data system into the new one, we check and make sure documentation looks good and update/add as necessary. Issues are opened for problems/unclear datasets. As the data system reads t

[2017-03-20 21:36] #67 closed

[2017-03-20 21:38] bpbond commented on #70
I checked, and there's no `@date` roxygen2 field. But we could add it in `@author`, e.g. "BBL March 2017" if we think useful.

[2017-03-21 00:18] ssmithClimate commented on #28
A number of csv's now start with:
# File:iso_to_GCAM_region.csv,,,
# Description: Maps iso codes to GCAM regions (including composites as necessary),,,
so perhaps we want to accommodate that.
(I like the "File: " tag, which is also a nice check that the # lines weren't simply copied from somewhere else.)

[2017-03-21 00:42] bpbond commented on #28
Any standard is fine, as long as there is one.

[2017-03-21 00:43] #46 closed

[2017-03-21 00:45] bpbond commented on #21
See also #58

[2017-03-21 00:49] bpbond commented on #37
This can't happen in a way that the driver can detect. Closing.

[2017-03-21 00:49] #37 closed

[2017-03-21 00:52] #70 closed

[2017-03-21 00:57] bpbond commented on #35
I don't think this provides any benefit--we _always_ know where an object came from.

[2017-03-21 00:57] #35 closed

[2017-03-21 00:58] bpbond commented on #39
When we're all done with the first translation effort, a simple script should be able to scan all the input files, read, and re-write them with standardized line endings.

[2017-03-21 15:00] pkyle commented on #28
Agreed that any standard is fine, and the suggested one looks good to me. I know some of the csv's have the wrong metadata, just because there were a lot of them and I didn't pay a whole lot of attention to that because the top-line comments weren't being used by the data system anyway.

[2017-03-21 17:43] bpbond commented on #28
So in the DSR trainings we are (briefly) discussing the importance of putting eyes on all input files, and fixing/flagging for followup ones with insufficient documentation. Would we would like to specify that, when possible, they put on a standard header as well? E.g.

[code]

[2017-03-21 17:45] bpbond opened #78 "CSV header parser"
We'd like metadata in CSV files to be parsed and attached, when possible, to data flowing into the data system.

E.g. a line with `Title: XXX` would get mapped to `add_title(parsed_string)`

Initially this would be optional, but it could be made obligatory (i.e. the parser would throw an error if no units specified) later.

See also #28

[2017-03-21 17:58] ssmithClimate commented on #28
I would support this (as Ben said, where possible). Might we want to call the tag Description instead of Comment to be more specific? I'd like suggest we have the (optional) tag Reference:, since in some cases there will be a specific reference source for the data.

Would multiple line comments/description all require a tag, or just inherit the last tag used?

If one pasted a standard reference (t

[2017-03-21 18:16] bpbond opened #79 "DEMO_chunk_LA112.U.R"

[2017-03-21 19:58] pkyle commented on #28
That's a good point--for data from other sources, often an external URL is provided, and we should check/update them, and certainly keep them. Also a lot of the datasets have multiple units. Some have different units in different rows, with a column indicating the unit (e.g., see socioeconomics-data/level0/IMF_GDP_growth.csv). Others have different units in different columns, where the column head

[2017-03-22 01:36] bpbond commented on #28
Good point, Page. Re units - my sense is that we don't want to grapple, right now, with the problem of multiple-unit tables. We're not going to enforce unit checking, so we'll just tell people to enter "(various)" or something like that in those cases.

Commas - that's an Excel quirk. If you don't use Excel to edit the CSVs, this problem goes away. Good to remind folks of this though.

OK, seems l

[2017-03-22 02:53] ssmithClimate commented on #28
Suggest reference could also have multiple lines (could be more than one reference, seems cleaner to have one reference per line. That facilitates possible parsing into a reference list, etc.).

So what would be best for processing multiple lines?

A)
# Description: Line one
# line 2
# line 3...

or

B)
# Description: Line one
# Description: line 2
# Description: line 3...

Ben, you seem to be poi

[2017-03-22 09:23] #79 closed

[2017-03-22 12:52] bpbond commented on #28
The thing about multiline comments (i.e. option A above) is how do we know when they end? As a first pass, I'm going to assume the simplest thing--that they end when the comments end.

[2017-03-22 13:09] bpbond opened #82 "DEMO_chunk_LA112.U"

[2017-03-22 13:36] ssmithClimate commented on #28
When comments end or the parser runs into a new tag.

[2017-03-22 14:20] gokuliyer opened #83 "Check excel, csv problem"
Saving a csv file in excel introduces a comma which is unintentional.

[2017-03-22 14:59] #82 closed

[2017-03-22 15:03] bpbond commented on #83
This is super easy to do when opening a file in Excel. Have the parser code check for `"#` lines and throw an error if it sees any. See #78

[2017-03-22 15:08] bpbond commented on #28
Trickier but yeah, I think that's right. OK. Closing this issue. Further comments, if necessary, in #78 .

[2017-03-22 15:08] #28 closed

[2017-03-23 01:11] bpbond commented on #78
@pkyle @ssmithClimate I have committed code that handles parsing of CSV file headers. Currently it's not enforced, but today @kvcalvin suggested (and I seconded) that we make at least `Title` and `Units` obligatory. Thoughts?

[2017-03-23 01:58] #83 closed

[2017-03-23 11:55] rplzzz commented on #78
On a related note, what is our convention for specifying that a quantity is a pure number?  "Unitless"?  "NA"?  Something else? It actually came up in something else I'm working on, and I'm not sure what we usually do in those cases?

[2017-03-23 12:13] rplzzz commented on #78
Back to the main topic, I'm a little behind, so I just caught up on the discussion at #28.  Might the [csvy](https://cran.r-project.org/web/packages/csvy/index.html) package provide a solution here?

[2017-03-23 12:19] bpbond commented on #78
No convention at the moment. I've started a [wiki page](https://github.com/JGCRI/gcamdata/wiki/Input-files) on this; feel free to edit.

[2017-03-23 12:24] bpbond commented on #78
csvy - yes, maybe. I looked at it and it wasn't immediately obvious how to bring in the header information as object attributes in the data system, so decided to roll my own solution (one that's fairly consistent with existing headers in the data system, when they exist) in commit 67c4f02. This could be revisited.

[2017-03-23 12:28] bpbond commented on #51
I believe this was fixed by 67c4f02. Closing.

[2017-03-23 12:28] #51 closed

[2017-03-23 12:28] rplzzz commented on #78
Yeah, on closer inspection, csvy isn't ready for prime time.  Trying to use `readr` as the engine fails on their example data sets, and writing seems to be locked to `write.table`, which is annoying.  It looks like the metadata gets brought in as attributes on the data frame and/or the columns, but the documentation for the package is not at all clear on a lot of things (for example, do all attrib

[2017-03-23 12:30] bpbond commented on #78
@rplzzz . Agreed. If we want to switch in the future, after `csvy` has had time to mature, we should be able to write a script to auto-convert file headers.

[2017-03-23 12:40] bpbond commented on #78
So - should `Title` and `Units` be required, at least, in every CSV file header? (Except for files downloaded from somewhere whose structure we want to preserve; those get dedicated chunks that will add documentation.) I'm all for it if people think it's worth the upfront cost.

[2017-03-23 12:47] ssmithClimate commented on #78
I'm fine with Title and Units being required.

Doesn't look as if I can edit the wiki page - a few potential comments below:
"Be careful with editing in Excel" -> "Be careful with editing in Excel, commas in any line will break the text into two cells"

Should we add "Reference:" as a synonym for "Source:"?

The File attribute could be used by the parser to check if the name there is consistent wi

[2017-03-23 12:56] bpbond commented on #78
@ssmithClimate re wiki page - have you emailed me (*cough* as the instructions specified *cough*) and asked to be added to the `dsr` team?

`Reference` and `Source` can be synonyms, sure.

Re `File` - hmm. Seems super easy and, as you say, a good check that folks are paying attention.

[2017-03-23 18:05] bpbond opened #88 "L102.water.supply.unlimited"

[2017-03-23 18:06] bpbond opened #89 "L202.water.resources.unlimited"

[2017-03-23 18:07] bpbond opened #90 "L110.water.demand.primary"

[2017-03-23 18:08] bpbond opened #91 "L210.water.demand.primary"

[2017-03-23 18:40] bpbond opened #92 "Make "What's new" section on Wiki and publicize"

[2017-03-23 19:08] pkyle commented on #78
@bpbond Required Title and Units attributes could work--assuming we'll still be able to add other metadata (e.g., source), where applicable and available? Also assuming that title provides a description. However I'm not sure that requiring units is best, given the large number of files for which they don't apply. All mappings CSVs and most assumptions CSVs do not have units, either because the dat

[2017-03-23 19:29] #26 closed

[2017-03-23 19:31] bpbond commented on #78
But in that case, people can enter "unitless" or "NA" I think. We'll point people to the [relevant Wiki page](https://github.com/JGCRI/gcamdata/wiki/Input-Files).

OK, I think the path forward is pretty clear at this point and so will close the issue once the PR is in. Thanks!

[2017-03-23 20:50] ssmithClimate commented on #78
Perhaps we want one more option for the Units field to indicate when there is a "Units" column in the table? Perhaps "units-in-table"? That would also be a way to deal with data with multiple units.

[2017-03-23 22:45] bpbond commented on #78
That's fine, but I don't want any more code complexity at this point (no parsing table units for anything like that for now).

[2017-03-23 22:45] #78 closed

[2017-03-23 22:45] bpbond commented on #92
Also the merge and match page

[2017-03-23 23:33] #41 closed

[2017-03-24 12:19] bpbond opened #96 "chunk_generator shouldn't generate chunks that already exist in R/"

[2017-03-24 12:19] bpbond commented on #96
At least by default

[2017-03-24 13:55] bpbond opened #98 "L100.Population_downscale_ctry"

[2017-03-24 13:59] bpbond opened #99 "L102.GDP"

[2017-03-24 14:19] bpbond commented on #99
Hey @rplzzz , @d3y419 (Haewon) notes that in this file Romania's ISO code is replaced because it's spelled incorrectly in the SSP database. He asks should we have a `regularize_iso_codes` function for the entire package, and I said, very probably, especially if this happens in other places. Please keep in mind as you look at the code. -B

[2017-03-24 14:22] bpbond opened #100 "Turn on required CSV header checking and update existing files"

[2017-03-24 15:05] bpbond commented on #21
This has essentially been done, although it's still a manual process.

[2017-03-24 15:05] #21 closed

[2017-03-24 15:05] pralitp opened #102 "Get warning messages from CSVToXML converter into R"
Currently most of the error checking when converting CSV (or really tabular data) to XML is done in the Java CSVToXML tool.  Unfortunately the way we are calling this tool (using `pipe`) makes it impossible to capture the STDOUT/STDERR where the warning/error messages are printed thus unable to check them in the test cases.

We could get these messages if we switch to `system2` to call the Java to

[2017-03-24 15:10] bpbond opened #103 "Silently skip XML tests if Java not installed?"
The XML writing tests all fail if there's no Java installed (and in addition, at least on my Mac, every test cycle now pops up a dialog box asking if I want to go install Java). Is this the behavior we want, i.e. to force folks to install Java? Or would we rather have the tests not execute, or at least not fail, if Java is not installed? Not sure.

[2017-03-24 15:11] #66 closed

[2017-03-24 15:18] pralitp opened #104 "Allow disabling of XML file generation if Java is not installed"
Currently the tests for the CSV to XML pipeline utilities are disabled since they fail if a user does not have Java installed.  We could add some sort of global option that disables the tests and calling Java in `run_xml_conversion`.

Of course disabling those calls means no XML files will be generated.  This is ok in the short term while we are building up the gcamdata chunks but in the long run

[2017-03-24 15:20] pralitp commented on #104
Opps, just dup'ed #103 .  I'll close this one out.

[2017-03-24 15:20] #104 closed

[2017-03-24 15:24] bpbond commented on #103
I think we'd always like to keep the _option_ of running the data system without Java. Maybe a global option `USE_JAVA` whose default is FALSE for now, but we'll change to TRUE later?

[2017-03-24 15:34] pralitp commented on #103
Yup, I was thinking something similar.  It would be pretty easy.  Although I did notice in the tests you took out the calls to `skip`, was there a reason for that?  Otherwise I was thinking in the tests we start with:
[code]

[2017-03-24 15:42] bpbond commented on #103
Only because `skip` prints a message, sullying my test screen. :)

[2017-03-24 15:56] pralitp commented on #103
Do you have objections to me using `skip` as noted above?  It seems to be the designated way to handle this use case.

[2017-03-24 16:00] bpbond commented on #103
I guess not. I just like the satisfaction of seeing all the tests pass cleanly. Rows of pretty dots...

[2017-03-24 16:14] pkyle commented on #99
Sorry this one's my mistake. The problem was that Romania changed its iso code from "rom" to "rou" in 2006, so any of our databases that have a base year of 2000 (in general, the land use databases) use "rom", and the more recent ones use "rou". I probably could have addressed this in a number of ways, and seem to have selected the most inconvenient: changing all "rou" to "rom" in each individual

[2017-03-24 16:22] bpbond commented on #99
Thanks, Page. Do you have any guess about how often this remapping happens throughout the code? Is it pretty widespread?

It seems like we could at least provide a `regularize_iso(iso, year)` that returns the correct (standard) ISO code for that place and year? What the calling code does with that information would be case-specific.

[2017-03-24 16:23] bpbond commented on #99
P.S. I appreciate that it might be tricky! That may be all the more reason to do this kind of thing in one place.

[2017-03-24 16:52] pralitp commented on #103
Should I issue a warning if someone calls `run_xml_conversion` with USE_JAVA=FALSE?

[2017-03-24 16:57] bpbond commented on #103
Probably, the first time only?

[2017-03-24 16:58] pralitp commented on #103
Is there an easy way to detect that or do I roll my own solution?

[2017-03-24 17:06] bpbond commented on #103
Hmm. I guess the three ways to do this (warning first time only) would be [a closure](http://stackoverflow.com/questions/1088639/static-variables-in-r) or a package global that you change (`XML_WARNING_GIVEN <<- TRUE`).

We could also stick this on the to-do list for now. I'm fine with that.

[2017-03-24 17:09] bpbond commented on #103
Let's handle `USE_JAVA` via R options mechanism I think?

[2017-03-24 17:14] bpbond commented on #103
If that sounds good, I'd suggest create a new file `onload.R` with the following code:

[code]

Then your code can check `getOptions("gcamdata.use_java")` for behavior to follow.

[2017-03-24 17:19] pralitp commented on #103
Thanks! much more advanced than I was thinking.

[2017-03-24 17:23] bpbond commented on #103
No problem. To be safe, checking code should say `if(isTRUE(getOptions("gcamdata.use_java")))`

[2017-03-24 18:01] pkyle commented on #99
So we don't want changing ISO codes over time--one of the reasons for all of the *00.downscaling files is that I'm trying to get the iso code to indicate geographic space, permanent, independent of the political changes. And because a lot of our joins occur on country-level datasets, it isn't good enough just to map both "rou" and "rom" to the same GCAM region.
The regularize_iso() function should

[2017-03-24 18:05] bpbond commented on #99
Interesting. Thanks. I'm going to open a dedicated issue so we don't lose this, and we can follow up later.

[2017-03-24 18:06] bpbond opened #105 "ISO code regularization - may want to have a dedicated function"
See discussion in #99 , in which @pkyle notes this will be tricky. For later follow-up.

[2017-03-24 18:30] pralitp commented on #103
Thanks Ben!  I ended up going the closure route for `XML_WARNING_GIVEN` since otherwise I was running into this:
https://www.r-bloggers.com/package-wide-variablescache-in-r-packages/

The closure seemed to be the cleanest solution in the end.

One last question.  Is there some way to set `options(gcamdata.use_java=TRUE)` before travis(?) kicks off the tests?  Might as well get the fullest automate

[2017-03-24 18:36] bpbond commented on #103
OK, cool. So the `.onLoad` function will execute when the package is loaded, before the tests run; you can modify it anytime within test code simply by `options(gcamdata.use_java = FALSE)`

[2017-03-24 21:14] ssmithClimate commented on #105
Just a note to talk to the CEDS team. We have an expanded list of countries that might be helpful.  (and also by then improved energy downscaling from IEA regions)

[2017-03-24 21:55] #103 closed

[2017-03-27 16:05] bpbond opened #111 "LA100.IMAGE_downscale_ctry_yr"

[2017-03-27 16:05] bpbond opened #112 "LB110.For_FAO_R_Y"

[2017-03-27 16:06] bpbond opened #113 "LB111.ag_resbio_R_C"

[2017-03-27 16:07] bpbond opened #114 "LA101.ag_FAO_R_C_Y"

[2017-03-27 16:21] bpbond opened #115 "LA100.0_LDS_preprocessing.R"

[2017-03-27 16:22] bpbond opened #116 "LA100.GTAP_downscale_ctry"

[2017-03-27 16:23] bpbond opened #117 "LA102.ag_LDS_R_C_GLU"

[2017-03-27 16:25] bpbond opened #118 "LA106.ag_an_NetExp_FAO_R_C_Y.R"

[2017-03-27 16:28] bpbond opened #119 "LA105.an_FAO_R_C_Y.R"

[2017-03-27 16:28] bpbond opened #120 "LA103.ag_R_C_Y_GLU.R"

[2017-03-27 16:48] bpbond commented on #111
Hi @crvernon it looks like this file uses a `downscale_IMAGE_regions` routine. Please check whether it's called elsewhere in the data system; if not, it can be defined locally (in your new file), but if yes, please put it in a separate file--we can talk. Thanks.

[2017-03-27 16:51] bpbond commented on #112
Hi @chenminbnu @abigailsnyder it looks like this file uses a `translate_to_full_table` function that's also called by LA101.ag_FAO_R_C_Y which @kvcalvin is working on. Between the three of you, please coordinate and make sure only one of you implements this function!

[2017-03-27 16:52] bpbond commented on #114
See note about `translate_to_full_table` in #112

[2017-03-27 20:15] kvcalvin commented on #112
@chenminbnu and @abigailsnyder: I'm working on my chunk today and tomorrow. I can try translating this first and then maybe we can cherrypick it into your branch.

[2017-03-27 20:17] abigailsnyder commented on #112
@kvcalvin Great, I was not going to start until tomorrow or Wednesday

[2017-03-27 20:20] chenminbnu commented on #112
@kvcalvin Thanks Kate.

[2017-03-27 20:25] bpbond commented on #88
Hi @skim301 @mihejazi - note this file uses a function called `gcam_interp` that is already partially implemented in the new data system as `approx_fun` - but we need to double-check that this works correctly. Please let me know when you get to this line and let's touch base.

[2017-03-27 20:27] bpbond commented on #99
Also note this script uses `vecpaste` which I'm pretty sure can be eliminated entirely.

[2017-03-27 20:30] bpbond commented on #98
Hi @swaldhoff @d3y419 - note that this code uses a function `downscale_Maddison_country` that is _only_ used here, so you can code as a separate function within the same file.

It also uses a function `repeat_and_add_vector` that we'll need to discuss when you get there--it is used widely, throughout the data system, so we'll want to look very hard at its efficiency and necessity.

[2017-03-28 15:11] bpbond commented on #112
Hi guys, I just realized that this chunk's inputs are coming in wide-form, but they shouldn't be. Let me make a change to the upstream chunk, and then they should come in long form, saving you a transform step.

[2017-03-28 16:02] abigailsnyder commented on #112
@bpbond I'm having trouble running just the chunk for testing, namely doing
driver() -> x is fine but then
x[["module_aglu_LB110.For_FAO_R_Y"]] just returns NULL.

Also, just to verify, if I want to run just the chunk, I don't have to do
build & reload
driver() -> x
every time?

[2017-03-28 16:10] bpbond commented on #112
Should type `x[["name_of_output_data"]]`, not name_of_chunk.

Re second question, right. You should be able to type `module_aglu_LB110.For_FAO_R_Y("MAKE", x)`

[2017-03-28 16:29] bpbond opened #124 "Optional inputs"
Per discussion with @rplzzz chunks are going to need to have the ability to declare optional inputs--e.g. we will need this for running with (or without) proprietary IEA data. I think this can fit right into the existing input-declaring mechanism, e.g.

[code]

[2017-03-28 17:13] bpbond opened #125 "L1221.ghg_agr_R_S_T_Y_IRR"

[2017-03-28 17:14] bpbond opened #126 "L1211.nonco2_awb_R_S_T_Y_IRR.R"

[2017-03-28 17:15] bpbond opened #127 "L103.ghg_an_USA_S_T_Y.R"

[2017-03-28 17:17] bpbond opened #128 "L131.nonco2_proc_R_S_T_Y.R"

[2017-03-28 17:18] bpbond opened #129 "L123.bcoc_awb_R_S_T_Y.R"

[2017-03-28 17:19] bpbond opened #130 "L102.ghg_en_USA_S_T_Y.R"

[2017-03-28 17:24] kvcalvin commented on #112
I don't think we need "translate_to_full_table" anymore. I think we can replicate this using tidyr with expand and possibly left_join. I'll do it for my data and then post a sample code on the wiki.

[2017-03-28 17:39] bpbond commented on #112
Great, thanks.

[2017-03-28 17:40] bpbond commented on #125
Switching this to "up next" because of dependencies.

[2017-03-28 17:41] bpbond commented on #130
Switching this to "in progress" because of dependencies.

[2017-03-28 17:46] bpbond commented on #129
Check with me before starting--may need data inject.

[2017-03-28 17:46] bpbond commented on #128
Check with me before starting--may need data inject.

[2017-03-28 17:55] bpbond opened #132 "left_join_error_no_match"
Per discussion with @pralitp - provide a `left_join` that immediately throws an error if any NAs occur in the join.

[2017-03-28 17:55] bpbond opened #133 "What's That Function? wiki page"
Per discussion with @kvcalvin - make a wiki page with a table of existing data system functions and how to handle them.

[2017-03-29 13:46] #133 closed

[2017-03-29 16:48] #92 closed

[2017-03-29 18:40] bpbond opened #139 "LA119.Solar"

[2017-03-29 18:43] bpbond opened #140 "LA101.EIA_SEDS"

[2017-03-29 18:43] bpbond opened #141 "LA161.Cstorage"

[2017-03-29 18:44] bpbond opened #142 "LA114.Wind"

[2017-03-30 03:42] pralitp commented on #132
Has been added in pull request #137

[2017-03-30 03:42] #132 closed

[2017-03-30 14:25] bpbond opened #145 "Is Travis running the oldnew test properly?"
The driver has to be run before!

[2017-03-30 16:02] bpbond opened #146 "Metadata incomplete for A13.MSW_curves.csv"
Units and perhaps better description need to be filled in.

[2017-03-30 16:04] bpbond opened #147 "Metadata incomplete for states_subregions.csv"
Units and perhaps better description need to be filled in.

[2017-03-30 16:06] bpbond opened #148 "Metadata incomplete for BEA_pcGDP_09USD_state.csv and BEA_pcGDP_97USD_state.csv"

[2017-03-30 16:08] bpbond opened #149 "Metadata incomplete for PRIMA_pop.csv"

[2017-03-30 22:38] swaldhoff commented on #98
@bpbond There is also a function, gcam_interp (in the GCAM_header script), that I think is also used more broadly. Is this being looked at by someone else or should we look at rewriting this, too?

[2017-03-31 01:25] bpbond commented on #98
I started working on this--it's available as `approx_fun` in the new data system--but this needs to be checked, and finished probably.

[2017-03-31 01:41] bpbond opened #155 "Metadata for Land_type_area_ha.csv incomplete"
Missing units

[2017-03-31 01:41] #155 closed

[2017-03-31 01:47] bpbond opened #156 "Metadata for LDS files incomplete Mueller_yield_levels.csv"

[2017-03-31 11:37] bpbond commented on #100
Done in 4e45a2b.

[2017-03-31 11:37] #100 closed

[2017-03-31 11:39] bpbond opened #159 "Change test_timeshift to do a 1-year time shift"
This will involve addressing #23

[2017-03-31 14:36] pkyle commented on #156
Title: Attainable yield levels by country and basin
Units: tonnes per hectare ("count" is number)
Extended description: Min, average, and max refer to the respective yields observed in grid cells within country, basin, and crop; count is the number of grid cells with harvested area for the given crop, country, and basin.
Source: Mueller, N. D., Gerber, J. S., Johnston, M., Ray, D. K., Ramankutty,

[2017-03-31 15:07] bpbond commented on #156
Thanks!

[2017-03-31 15:07] #156 closed

[2017-03-31 15:23] bpbond opened #162 "LA107.an_IMAGE_R_C_Sys_Fd_Y.R"

[2017-03-31 15:23] bpbond commented on #162
I messed up and made this your "in progress" one, not the "up next"...anyway, if not a problem, let's do this one.  cc @kvcalvin

[2017-03-31 15:25] bpbond opened #164 "LB113.bio_Yield_R_GLU"
Sorry I messed up and made this your "in progress" (not the "up next" one). If not a problem, let's keep it this way please. Thanks.  cc @kvcalvin

[2017-03-31 15:25] #112 closed

[2017-03-31 15:44] pkyle commented on #146
Description: Supply curves of municipal solid waste (MSW), inherited from GCAM 3.0.
Units: varied (see below)
maxSubResource (EJ/yr): maximum amount of MSW production in the base year
mid-price (1975$/GJ): price at which half of the maxSubResource is produced
curve-exponent (unitless): shape parameter of S-surve supply function
gdpSupplyElast (unitless): maxSubResource elasticity of GDP
Reference:

[2017-03-31 15:55] swd-turner opened #165 "Metadata incomplete for resource_water_share.csv"
Need source for "1995 US data" for this file...

# File: resource_water_share.csv
# Title: Fresh and saline water share and consumption to withdrawal ratios based on **1995 US data**
# Units: Unitless
# Source: ????
# Comment: Assumes 95% of Middle East water use for resource prodution from saline water

[2017-03-31 16:02] #113 closed

[2017-03-31 16:04] #115 closed

[2017-03-31 16:05] pkyle commented on #149
Description: 2005-2100 population projections by state
Units: Persons
Source: Scott, M., D.S. Daly, Y. Zhou, J.S. Rice, P.L. Patel, H.C. McJeon, G.P. Kyle, S.H. Kim, J. Eom, and L.E. Clarke. 2014. Evaluating sub-national building-energy efficiency policy options under uncertainty: Efficient sensitivity testing of alternative climate, technological, and socioeconomic futures in a regional integrate

[2017-03-31 16:12] bpbond commented on #116
Hi @rynacui - this file now in the repo. Thanks!

[2017-03-31 16:15] bpbond commented on #149
Thanks Page.

[2017-03-31 16:15] #149 closed

[2017-03-31 16:20] #146 closed

[2017-03-31 16:33] pkyle commented on #148
Title: GDP by State and Industry, NAICS, Per Capita Real GDP
Units: Chained 2009 US Dollars per capita
Source: Bureau of Economic Analysis, Gross Domestic Product by State, Advance 2013 and Revised 1997-2012.
URL: https://www.bea.gov/regional/histdata/releases/0614gsp/gsp_naics_all_pc.zip

[2017-03-31 16:42] pkyle commented on #148
Title: Per Capita Real GDP by State (chained 1997 dollars)
Units: Chained 1997 US Dollars per capita
Source: Bureau of Economic Analysis, Per Capita Real GDP, SIC (1963-1997), All Areas, All Years.
URL: http://www.bea.gov/iTable/iTableHtml.cfm?reqid=70&step=10&isuri=1&7003=1000&7035=-1&7004=sic&7022=10&7005=1&7023=7&7006=xx&7036=-1&7001=11000&7002=1&7090=70&7007=-1&7093=levels

[2017-03-31 16:44] bpbond commented on #148
Thanks.

[2017-03-31 16:44] #148 closed

[2017-03-31 17:02] pkyle commented on #147
Description: Mapping between state codes, state names, and state groupings found in various inventories relevant for GCAM-USA
Units: NA
grid_region: electricity grid region (n=12)
DIVISION: Census division (n=9)
LRGSTATE: Large states (CA, FL, NY, TX) specifically indicated in 1993-2005 versions of the Residential Energy Consumption Survey (n=4)
REGION: Census region (n=4)
subregion13: Census divi

[2017-03-31 17:22] rynacui commented on #116
Hi @bpbond it seems this one need two precursors (`L100.LDS_value_milUSD` and `L100.LDS_ag_prod_t`) that are not available as outputs.

[2017-03-31 17:38] bpbond commented on #147
Thanks.

[2017-03-31 17:38] #147 closed

[2017-03-31 17:45] bpbond commented on #116
If you update to the latest `master` those should be available.

[2017-03-31 17:57] bpbond opened #169 "LA111.rsrc_fos_Prod.R"

[2017-03-31 18:13] bpbond opened #171 "LA115.roofPV.R"

[2017-03-31 18:31] bpbond opened #173 "Write a test case that unfound inputs are identified correctly"

[2017-03-31 18:32] bpbond opened #174 "LA116.geo.R"

[2017-03-31 18:35] bpbond opened #175 "LA117.tradbio.R"

[2017-03-31 18:37] bpbond opened #176 "LA123.electricity.R"
@gokuliyer - can you remind Felipe to join GitHub and accept the dsr invitation please?

[2017-03-31 18:41] bpbond opened #177 "LA124.heat.R"

[2017-03-31 18:44] bpbond opened #178 "LA114.wind-energy"
My notes say "tag @pralitp as this is tricky"

[2017-03-31 22:17] swd-turner opened #179 "Possible mistake in original chunk L110.water.demand.primary"
Output for this chunk ("L110.water_demand_primary_R_S_W_m3_GJ") is uniform across all regions... does not reflect different fresh/saline fractions for Middle East (see input file resource_water_share.csv). This seems to be caused by a merging error in the original code.

I've coded a fix in the updated chunk and maintained the old behavior under the OLD_DATA_SYSTEM_BEHAVIOR trap.

[2017-03-31 22:59] bpbond opened #180 "Test code should make sure OLD_DATA_SYSTEM_BEHAVIOR blocks run"

[2017-04-01 11:58] bpbond opened #182 "LA121.oil.R"
Note that all data may not be available be for this; talk to me when starting.

[2017-04-01 12:00] bpbond opened #183 "LB1231.elec_tech.R"
Note that all data may not be available be for this; talk to me when starting.

Assign to Felipe.

[2017-04-01 12:01] bpbond opened #184 "LA126.distribution.R"
Note that all data may not be available be for this; talk to me when starting.

[2017-04-01 14:33] bpbond opened #186 "LA100.CDIAC_downscale_ctry.R"

[2017-04-01 14:36] bpbond commented on #186
These input files have no header information and need documentation - @pkyle can you provide?

- [ ] CDIAC_CO2_by_nation.csv
- [ ] CDIAC_Cseq_by_nation.csv
- [ ] CDIAC_nation.csv

[2017-04-02 03:42] pkyle commented on #186
Note that the data have been updated since downloaded to the GCAM repository. Also, a note from the CDIAC website: CDIAC as currently configured and hosted by ORNL will cease operations on September 30, 2017. Data will continue to be available through this portal until that time. Data transition plans are being developed with DOE to ensure preservation and availability beyond 2017.

File: CDIAC_CO

[2017-04-03 13:11] bpbond commented on #186
Thanks Page! See PR #191

[2017-04-03 13:11] #186 closed

[2017-04-03 13:27] russellhz opened #192 "Incomplete metadata for A17.tradbio_curves.csv"
File: A17.tradbio_curves.csv
Title: Supply curves of traditional biomass, inherited from GCAM 3.0
Units: ? (1975$ ?)
Description: ?
Reference: ?

[2017-04-03 14:38] bpbond opened #194 "Replacement for `match`"
Yes - currently the wiki says use these two to replicate behavior of `match` but we should provide a function?

[2017-04-03 17:21] bpbond commented on #128
@cahartin this is already in repo.

[2017-04-03 17:22] cahartin commented on #128
@bpbond thanks!

[2017-04-03 20:49] #114 closed

[2017-04-03 20:58] bpbond commented on #90
@swd-turner it looks like you don't (?) have an "upnext" assignment...want one?

[2017-04-03 22:27] bpbond opened #199 "L151.ctrl_R_en_S_T"

[2017-04-03 22:40] bpbond opened #200 "A51.min_coeff.csv needs metadata"
Title, Units, and hopefully Description and Source?

[2017-04-04 00:00] bpbond commented on #200
Also while I have you on the line, so to speak: line 40 in `L151.ctrl_R_en_S_T.R` subsets to only 2005:

[code]

Why? I'd like to add some comments explaining at this point.

[2017-04-04 00:30] swd-turner commented on #90
@bpbond sure, I'll take another.

[2017-04-04 01:06] bpbond commented on #90
@mihejazi - does it matter which?

[2017-04-04 02:36] pkyle commented on #192
Title: Traditional biomass renewable resource supply curves, inherited from GCAM 3.0
Units: available: unitless multiplier; extractioncost: 1975$/GJ

[2017-04-04 02:50] pkyle commented on #200
I'm not the one who developed/implemented the method (I did shorten the number of steps), but I believe that what is going on here is that the EDGAR emissions inventory only goes up to 2008, so for calculating emissions coefficients, 2005 is the final base year. These steps calculate the "reduction" required to get from the 2005 observed emissions coefficients (for each region / technology / emiss

[2017-04-04 02:55] pkyle commented on #200
Title: minimum (i.e., fully controlled) emissions coefficients by technology and emissions species, for non-greenhouse gases
Units: kg per GJ
Source: check with Kate, I really don't know

[2017-04-04 06:51] bpbond commented on #200
@kvcalvin do you know the source of this file's data? Also, does anyone know what units are?

[code]

[2017-04-04 08:22] bpbond commented on #68
Closing - see #202

[2017-04-04 08:22] #68 closed

[2017-04-04 13:40] kvcalvin opened #206 "USA Alfalfa production in LA101.ag_FAO_R_C_Y"
We divided USA alfalfa production by 4 in LA101.ag_FAO_R_C_Y "for consistency with USDA". This needs more documentation. Why only this crop/region combination? Was there a problem with the FAO data?

[2017-04-04 13:41] kvcalvin opened #207 "Ethiopia FAO data"
Ethiopia appears twice in the FAO data used in LA101.ag_FAO_R_C_Y. Both "countries" have the same iso code, but different country names. The old data system (and now the DSR) aggregate the two countries together, but more documentation/checking on the problem would be good.

[2017-04-04 13:47] rplzzz opened #208 "left_join_error_no_match could throw spurious errors"
The `left_join_error_no_match` operation detects non-matches by checking the newly created columns for `NA`.  However, we have some input tables, notably the SSP database, that have legit `NA` entries.  In theory, matching an `NA` entry in a join operation of this sort should not be an error.  However, it's also not clear that this will come up in practice.  Perhaps matching an `NA` value from a t

[2017-04-04 13:54] bpbond commented on #208
Good point. Right, `left_join_error_no_match` is extremely restrictive and won't always be applicable.

[2017-04-04 14:00] bpbond opened #209 "LB131.LV_R_GLU.R"
Easy peasy lemon squeezy

[2017-04-04 14:30] kvcalvin commented on #200
@bpbond This file is derived from something in the old GCAM3 (that I don't know much about) and used to limit the GDP controls on pollutant emissions.

Units: TgXXX / EJ, where XXX is the particular gas (e.g., TgSO2)
Description: Minimum emissions coefficient for various technologies and gases. Emissions coefficients decline with GDP until these levels are reached, after which no further declines

[2017-04-04 14:43] bpbond commented on #200
Thanks!

[2017-04-04 14:43] #200 closed

[2017-04-04 15:48] bpbond opened #211 "LB120.LC_GIS_R_LTgis_Yh_GLU"

[2017-04-04 15:52] bpbond commented on #211
@pkyle - do you know source of `SAGE_LT.csv` data?

Also, the source field in `LDS_land_types.csv` says

Can you clarify? Thanks!

[2017-04-04 16:08] pkyle commented on #211
Here are the data sources for the LT_SAGE column of the SAGE_LT.csv table. Note that there are 15 SAGE land cover classes (I had written 14 in the existing metadata).
SAGE: Ramankutty, N., and J. Foley. 1999. Estimating historical changes in global land cover: Croplands from 1700 to 1992, Global Biogeochemical Cycles 13, 997-1027.
HYDE: Klein Goldewijk, K., A. Beusen, G. van Drecht, M. de Vos The

[2017-04-04 16:19] pkyle commented on #211
As for LDS_land_types.csv, this file is generated by Alan's Land Data System. If we need a source, probably just use the paper: Di Vittorio, A. P. Kyle, W.D. Collins. 2016. What are the effects of Agro-Ecological Zones and land use region boundaries on land resource projection using the Global Change Assessment Model? Environmental Modelling & Software 85:246-265.

[2017-04-04 16:24] bpbond commented on #211
Thanks!

[2017-04-04 16:29] pkyle commented on #207
Adding the two looks to be correct, even though I don't know what Ethiopia PDR refers to; it seems to have transitioned from 1991 to 1995, and in those years, the total is smooth if the two countries are added together. Here are plots of wheat and sorghum, as representative (and relatively important) crops.
![eth_wheat](https://cloud.githubusercontent.com/assets/20807787/24667686/4b833fa4-1932-11e

[2017-04-04 16:42] pkyle commented on #206
The basic problem is that the FAO fodder data are not maintained or documented, and only show up in one query ("Crops Primary") in the classic FAOSTAT data, so they might not be available any more at all. In comparing USA data with the USDA, it appears that several of the categories and numbers are made up by FAO (e.g., the same number reported in all years), but the major fodder crop in the USA i

[2017-04-04 16:44] bpbond commented on #211
Lines 61-72 in this file:

[code]

Question re the last step - is it correct to set missing values to zero here? Won't this bias the interpolation? I.e., instead of 1900=1, 1910=NA, 1920=2, we're going to have 1900=1, 1910=0, 1920=2, which will produce a very different result.

@pkyle @kvcalvin ?

[2017-04-04 16:54] kvcalvin commented on #211
No clue. That one is for @pkyle

[2017-04-04 18:33] aarony2j opened #212 "DEMO_chunk_LA112.U.R"

[2017-04-04 18:43] #116 closed

[2017-04-04 18:55] bpbond opened #213 "LB132.ag_an_For_Prices_USA_C_2005.R"

[2017-04-04 19:44] pkyle commented on #211
The reason for this step is that (I think largely in order to reduce the file sizes) Alan isn't writing out all possible combinations of country, GLU, year (of which there are 30), and land use category (of which there are also about 30). If something isn't written out by the LDS, that is because it is a zero. This step here is to basically back-fill the zeroes that we wanted; i.e., combinations o

[2017-04-04 20:52] bpbond commented on #211
Ah. OK, thanks. That makes sense.

[2017-04-04 23:20] felipefeijoo opened #216 "DEMO_chunk_LA112.U.R"

[2017-04-05 13:15] bpbond opened #218 "LB121.Carbon_LT"

[2017-04-05 13:17] bpbond opened #219 "LB151.ag_MIRCA_ctry_C_GLU_irr.R"

[2017-04-05 13:51] rynacui opened #221 "Methods of price aggregation and dollar year conversion in LB132.ag_an_For_Prices_USA_C_2005.R"
In the old DS, producer prices of agricultural commodities were calibrated to the 2001-05 average, with the following steps:
1. Calculate the 5-yr avg price and avg production by item and country.
2. Aggregate price to GCAM commodity and region, weighted by production.
3. Convert to 1975$ using the deflator `conv_2004_1975_USD`.

We may consider change the order of these steps to:
1. Convert all n

[2017-04-05 19:00] #209 closed

[2017-04-05 21:35] pkyle commented on #221
All sounds good! Just on a practical note, from the perspective of the model, what is most important is the difference between producer prices and production costs. No doubt there's benefit to calculating prices here in similar ways to how prices are calculated elsewhere, or otherwise improving the methods, but for the model function/performance, we need consistency between prices and costs. Note

[2017-04-05 21:58] rynacui commented on #213
@pkyle Why price of animal products are converted from per metric to short ton then to kg?

[2017-04-06 13:30] bpbond opened #223 "gcam-usa level2 scripts throwing errors so none of those data committed to old repo"
Not sure why.

[2017-04-06 15:20] rynacui commented on #213
@bpbond Do we still need this? Should I put it before the `#Produce Output` section?

`printlog( "Checking that all commodities being modeled have prices assigned" )`
`commodities <- unique( c( FAO_ag_items_PRODSTAT[[C]], FAO_an_items_PRODSTAT[[C]] ) ) `
`commodities <- commodities[ !is.na( commodities ) ]      `
`if( any( commodities %!in% L132.ag_an_For_Prices[[C]] ) ){`
`	missing_commodities <-

[2017-04-06 15:23] bpbond commented on #213
Hmm. Yes, I think for now please leave that `stop()` in. Good question though--I'm not totally sure. In your PR please note it and ask me to take a closer look.

[2017-04-06 16:00] rynacui commented on #213
I can't get it work...
Without the stop(), the chunk test succeeded. But it seems commodities needs to be a list rather than a tibble to get this work. Any idea?

[2017-04-06 18:23] bpbond commented on #213
@rynacui what happens exactly? Where does the error occur? Maybe easier if I stop by?

[2017-04-06 18:31] bpbond opened #224 "Add gold star to progress tracking graph"

[2017-04-06 19:24] rynacui commented on #213
@bpbond I think I figured it out. Need to convert the tibbles to a vector in the `stop()`. I used `collect %>% .[['']]`, and it seems to work now.

[2017-04-06 20:18] skim301 commented on #179
Good catch. The saline fraction should be different for Middle East. Looks like the new code has caught that.

[2017-04-06 20:20] skim301 commented on #179
I think we can close the issue since you have a fix.

[2017-04-06 20:40] skim301 commented on #165
We need to ask Mohamad or Page what the original source of that data is how 95% was chosen for Middle East.

[2017-04-06 20:49] #179 closed

[2017-04-06 23:36] bpbond opened #227 "Update data used in LA112.U?"
@skim301 said in #202 :

[2017-04-07 04:39] #124 closed

[2017-04-07 12:47] pkyle commented on #165
I had nothing to do with this file, either collecting the data for it or keying it into the csv table...hoping @mihejazi knows?

[2017-04-07 14:21] #90 closed

[2017-04-07 14:24] bpbond commented on #90
I've put you in #91 if that's OK.

[2017-04-07 14:25] swd-turner commented on #90
@bpbond fine by me!

[2017-04-07 14:36] swd-turner commented on #90
@bpbond just realised this was @yalingliupnnl's assignment... I was gonna work through it with her today on her laptop... so feel free to either re-assign back to her and give me another.

[2017-04-07 14:42] #211 closed

[2017-04-07 14:46] bpbond opened #229 "L101.Population"

[2017-04-07 14:48] pkyle commented on #213
Sorry I don't have documentation of the unit conversions--need to check FAO vs USDA. I did some comparisons ~5 years ago and only saved some of them, but in some cases the FAO didn't convert the USDA's data from short tons to metric tonnes, and in others they did.

[2017-04-07 14:50] bpbond commented on #90
So @yalingliupnnl should be on #91, L210.water.demand.primary? OK. Then I'll give something else to you?

[2017-04-07 14:53] bpbond opened #230 "L132.water.demand.manufacturing.R"

[2017-04-07 14:56] swd-turner commented on #90
Yup that's what I meant (sorry, earlier comment wasn't clear).

[2017-04-07 15:12] bpbond commented on #229
The `GCAM3_population.csv` file used by this chunk currently has this metadata:

# File: GCAM3_population.csv
# Title: GCAM 3.0 population
# Units: thousands
# Source: ???

Anyone ( @pkyle @swaldhoff )  know what the source is? And can you provide a more descriptive title?

[2017-04-07 15:31] swaldhoff commented on #229
The data file says Angus Maddison historical population by nation from 1500. I looked it up and the current citation is: The Maddison-Project, http://www.ggdc.net/maddison/maddison-project/home.htm, 2013 version.
Presumably this is from an older version of the data, but Page would know that better than me.

[2017-04-07 15:36] swaldhoff commented on #229
Looks like the GCAM data are a cleaned up version of the "Population" tab from the original Maddison data set. There doesn't seem to be a specific citation for it, but the website from which is can be downloaded is: http://www.ggdc.net/maddison/oriindex.htm

[2017-04-07 15:37] bpbond commented on #229
Thanks Stephanie!

[2017-04-07 15:45] bpbond opened #232 "L101.Population.R comment re population datasets used"
Lines 40-41 in `L101.Population.R` say

[code]

Does this need to be followed up on?

[2017-04-07 16:02] yalingliupnnl commented on #91
@bpbond There is no zchunk for L210 in the new gcamdata system.

[2017-04-07 16:19] bpbond commented on #91
Whoops, sorry, I'll commit.

[2017-04-07 17:46] bpbond opened #234 "L101.Population hard-coded 2100 value"
This file has a line

[code]

Presumably we'd like to change this hard-coded 2100 value to a constant? Do we want a more general mechanism to extend to some arbitrary end date?

[2017-04-07 18:11] bpbond commented on #229
The units for two of this chunk's outputs confuse me:

[code]

The tables' names all say "thous_" but the comments say that first two are in million persons, not thousand. Is this correct? There's no x1000 conversion anywhere in the script. @pkyle

[2017-04-07 18:17] swaldhoff commented on #229
I think the comments just have a mistake in the unit. They're definitely thousands (US has a population of 314242 in 2010, which is definitely 1,000 persons, not 1,000,000)

[2017-04-07 20:19] mihejazi commented on #165
I am not sure who generated this file. I believe the first two columns came from the Davies et al 2013 paper with Page and Jae. I recall that the 95% assumption was made for the middle east along with a couple of other GCAM regions in the paper.  the paper should have all the citations (if any). In term of how the 0.425 was calculated, I suspect it was based on the USGS estimate for the US in 1995

[2017-04-08 11:55] bpbond commented on #165
@swd-turner you'll work with @mihejazi to get the metadata updated and commit an update? Then we can close this issue. Thanks.

[2017-04-08 18:51] pkyle commented on #213
From the available evidence, this conv_t_metric_short conversion is an error on my part. The comparison isn't totally straightforward b/c the categories we use for prices of Beef, Poultry, Pork, and SheepGoat in GCAM aren't reported any more by FAOSTAT or USDA NASS. Still FAOSTAT did the conversion correctly for milk and for cattle live weight (the only ones available in both data sources), and th

[2017-04-10 01:58] bpbond commented on #213
Thanks, Page. Nice work! @rynacui will you make this change inside of a `OLD_DATA_SYSTEM_BEHAVIOR` block?

[2017-04-10 12:39] rynacui commented on #213
Thank you @pkyle for looking into this!

@bpbond I'll make the change.

[2017-04-10 14:08] swd-turner commented on #165
Ok, we'll resolve this shortly.

[2017-04-10 19:13] pkyle commented on #229
Yup, that comment is definitely a mistake, and it's definitely got my fingerprints all over it!

[2017-04-10 19:22] pkyle commented on #234
We already don't use the "GCAM3" socioeconomics scenarios any more; hard to see the value in improving the methods of extending GCAM3's socioeconomics from 2095 to 2100, but if this would be a more broadly applicable method then it could be helpful elsewhere.

[2017-04-10 19:32] pkyle commented on #232
@d3y419 Did you write that comment, or was it Jeff? Either way I wasn't involved here...the fundamental issue brought up by the comment is that SSP2 socioeconomic assumptions are crazytown in both China and Nigeria, and we may want to patch it up before the community agrees to a revision, because that might just take a decade!

[2017-04-10 19:32] pkyle commented on #232
But also this isn't a revision for this present round of work--should be its own research effort, core model proposal, etc.

[2017-04-10 19:41] pkyle commented on #229
OK just saw the original comment here--the GCAM3.0 data have nothing to do with the Maddisson dataset, which shouldn't be used by this code chunk any case.
The data source is the input files or output database of any GCAM 3.0 model run. The numbers had more history than that (i.e., a bunch of unpublished excel workbooks), but GCAM has been publicly available since then, and as such is citable. For

[2017-04-11 11:51] #162 closed

[2017-04-11 11:58] bpbond commented on #117
Files are available. Looks easy. Thanks!

[2017-04-11 12:03] bpbond commented on #229
Thanks @pkyle . I have changed the file's "Source" field "Output database of any GCAM 3.0 model run".

[2017-04-11 12:03] #229 closed

[2017-04-11 12:46] bpbond opened #241 "LA152.transportation"

[2017-04-11 14:10] kvcalvin opened #243 "$ Conversions"
Currently, we use a series of individual $ conversions to go from one year to another (e.g., `CONV_1990_2010_USD`, `CONV_1990_1975_USD`). We should consider a different way. Maybe a function that takes in start & final year?

[2017-04-11 15:40] CLynchy commented on #126
@bpbond comparison data is missing.

4. Failure: matches old data system output (@test_oldnew.R#60) -----------------
length(oldf) == 1 isn't true.
Either zero, or multiple, comparison datasets found for L1211.ag_irrShare_R_C_Y_GLU_irr.csv

5. Failure: matches old data system output (@test_oldnew.R#60) -----------------
length(oldf) == 1 isn't true.
Either zero, or multiple, comparison datasets fo

[2017-04-11 15:54] bpbond commented on #126
Sorry, my fault. Go to the OLD repo and copy those two files from `emissions-data/level1/` and place into `tests/testthat/comparison_data/emissions` in the NEW data system.

[2017-04-11 16:09] CLynchy commented on #126
I created an 'emissions' folder in ".../testthat/comparison_data/".
Then copied the 2 files from the old & pasted in new 'emissions' folder.
Error messages 4 & 5 are now gone.
Excellent.

[2017-04-11 16:45] bpbond commented on #243
Agreed--that seems an obvious solution. Where do these conversion numbers come from? @pkyle

[2017-04-11 16:48] pkyle commented on #243
It's all from the Bureau of Economic Analysis GDP Deflators. Attached to this comment (note that the attached file was updated in 2014, and as such might have slightly different numbers for all years; not sure). But yeah a function that uses this lookup table could be pretty useful!
[BEA_GDP_Deflator_1929-2014.xlsx](https://github.com/JGCRI/gcamdata/files/914032/BEA_GDP_Deflator_1929-2014.xlsx)

[2017-04-12 02:11] bpbond commented on #243
Perfect. Thanks, Page.

[2017-04-12 13:20] gokuliyer opened #245 "GCAM-USA input file NREL_us_re_capacity_factors does not have source information"
This file comes from an NREL database (as the name suggests). The source information is not available readily available. This relates to PR

#238.

[2017-04-12 13:40] gokuliyer commented on #245
@aarony2j : Please check if you can find the source for this file. It seems we've lost track of the file.

[2017-04-12 18:31] pkyle commented on #245
I just tried for a minute to find it and failed--I did find the source of the corresponding dataset NREL_us_re_technical_potential.csv, and it is: Lopez, A. et al. (2012). "U.S. Renewable Energy Technical Potentials: A GIS-Based Analysis." NREL/TP-6A20-51946. Golden, CO: National Renewable Energy Laboratory. http://www.nrel.gov/gis/docs/us_re_technical_potential.xlsx

[2017-04-12 18:34] gokuliyer commented on #245
Exactly! I found the other one too. Thanks anyway. We'll dig deeper on the NREL_us_re_capacity_factors file.

[2017-04-12 18:35] pkyle commented on #245
Capacity factors can be calculated from Tables A1-A4 of this report: http://www.nrel.gov/docs/fy15osti/64503.pdf
CapFac = Generation / ( Capacity * 8.766 )
But the numbers I get when I do that are a little different than the ones in the table. So yeah, I really don't know who downloaded this, or where from. My oldest timestamp on the file is October 29, 2013, but I don't have a record of who made

[2017-04-12 18:37] pkyle commented on #245
Wow, I just saw in that technical potential table, they list GWh and GW! I had not noticed that. See the equation above, and calculate the capacity factors--if it's the same numbers as are in the table, then we have our answer! Note that the 8.766 might also be 8.76, depending on how they count for the leap day every four years

[2017-04-12 18:49] aarony2j commented on #245
I checked HI, and it's different. 3725/(2*8766)=0.212, which is different from the table

[2017-04-12 19:18] pkyle commented on #245
@aarony2j I just double checked and the #s are the same--you need to do the calc in the excel workbook tho. The values are truncated at 0 decimal points, so there are aggregated rounding errors if you just work from the csv. In the example above, Hawaii should be 1.667, not 2.
I'd say for the source we can just cite the technical potential document and list the equation.

[2017-04-12 20:02] aarony2j commented on #245
Oh, that's great. I missed seeing the excel file. Thanks.

[2017-04-12 20:49] cahartin opened #246 "add column name to repeat_add_columns"
Is there a way to we can add the column name right in `repeat_add_columns` rather than going and renaming the column after?

example:
 repeat_add_columns(tibble::tibble(c("CH4","N2O","NMVOC","NOx","SO2","CO","VOC"))) %>%
    rename(Non.CO2 = `c("CH4", "N2O", "NMVOC", "NOx", "SO2", "CO", "VOC")`)

[2017-04-13 06:36] d3y419 commented on #234
agree with pkyle. we're keeping GCAM3 for legacy reasons only. we hope we can do away with them once GCAM4 (GCAM5?) is "stable".
that said, i would very much like a generic ability to extend modeling to 2117. but that's probably beyond the dsr mandate.

[2017-04-13 08:00] #199 closed

[2017-04-13 08:34] bpbond commented on #246
This example doesn't work, so I'm not sure exactly what you want. But can't you do
[code]

[2017-04-13 13:53] cahartin commented on #246
maybe...but I don't want to make new df/tibbles, i want to keep everything in the pipeline.

[2017-04-13 14:00] bpbond commented on #246
Can you give a clear example of what you want?
[code]

[2017-04-13 14:03] cahartin commented on #246
Here is the code i'm working on.

`GCAM_sector_tech %>%
      select(supplysector, subsector, stub.technology, EPA_agg_sector, EPA_agg_fuel_ghg, EDGAR_agg_sector) %>%
      filter(EDGAR_agg_sector %in% c("industry_processes", "chemicals", "landfills", "wastewater","aerosols",
                                     "metals","foams","solbvents", "semiconductors")) %>%
      repeat_add_columns(tibble::

[2017-04-13 14:16] abigailsnyder opened #248 "LB115.ag_CCI_ISIMIP.R"
Just a reminder when this file comes up down the line, I've been working on adapting this file for some other uses. Per my last meeting with Kate, it may make sense for you to assign it to me when it comes up for rewrite (or not, as you see fit). Anyway, just a reminder.

[2017-04-13 14:26] abigailsnyder commented on #246
Basically, I was not able to figure out a way to give a specific name to the column being added by `repeat_add_columns` without additionally using the `rename` command in the next line. And my solution is sadly full of frustration, and I passed it to both CH and CL.

The frustrating thing is that `repeat_add_columns`  in the above example will automatically name the new column: c("CH4", "N2O", "NM

[2017-04-13 14:39] bpbond commented on #248
Let's just assign this to you as `upnext` so we (that is, I) don't forget!

[2017-04-13 14:40] bpbond commented on #248
(Whether or not you actually do it next.)

[2017-04-13 14:43] bpbond commented on #246
Again though I don't understand. Why aren't you naming it right in the `tibble` call?
[code]

[2017-04-13 14:44] abigailsnyder commented on #246
Did not know you could do that! That's the one place I did not try to put it in.
`repeat_add_columns(Non.CO2, tibble::tibble...` and `repeat_add_columns(Non.CO2= tibble::tibble...` both threw errors, so I just got frustrated and found a workaround.

[2017-04-13 14:46] bpbond commented on #246
Sorry if this wasn't clear! Yes, `tibble` operates like `data.frame`: (name_of_col1 = ...values..., names_of_col2 = ...values..., etc)

[2017-04-13 15:00] abigailsnyder commented on #246
I updated the Name that Function page

[2017-04-13 15:04] bpbond commented on #246
Thanks Abigail!  :1st_place_medal:

[2017-04-13 15:04] #246 closed

[2017-04-13 15:19] #243 closed

[2017-04-13 18:16] #175 closed

[2017-04-14 02:12] #212 closed

[2017-04-14 02:12] #216 closed

[2017-04-14 02:14] bpbond commented on #234
OK, closing this. Thanks.

[2017-04-14 02:14] #234 closed

[2017-04-14 03:06] #96 closed

[2017-04-14 14:43] cahartin opened #252 "L105.nh3_an_USA_S_T_Y_DISABLED"

[2017-04-14 15:12] abigailsnyder commented on #117
@kvcalvin @bpbond
I'm failing tests due to rounding causing mismatches (I think). I investigated by
1) reading in the DSR output
2) reading in the old gcam output
3) using round_df from the test_oldnew script with digits=3
4)  investigating where New$value-Old$value != 0

What I'm finding is very strange:
Old DS rounds 10.8685 to 10.868
New DS rounds 10.8685 to 10.869

All my mismatches are exactl

[2017-04-14 17:00] russellhz opened #253 "LA143.HDDCDD.R"
Already have much of this code ready to go

[2017-04-14 19:17] bpbond commented on #253
OK, I will push up the file skeleton for you.

[2017-04-14 19:19] bpbond commented on #253
[code]

Something weird happened with parsing this file obviously. FYI.

[2017-04-14 19:22] bpbond commented on #253
OK, see  ca85cad.

[2017-04-14 19:27] bpbond commented on #117
Hi @abigailsnyder - I've run into this too, and it's super frustrating; I don't understand why it's failing either. What I do have is a workaround. If you've verified that the outputs are all the same (without reasonable precision) and it's rounding weirdness that tripping things up, try adding `FLAG_SUM_TEST` to the failing output(s). This bypasses the normal test and verifies simply that all num

[2017-04-14 21:02] russellhz commented on #253
@bpbond thanks for setting this up. How do we want to deal with these hddcdd input files? In the old data system, the input files are in a GIS folder in the energy system. The code retrieves them using a list in a for loop and binds them together.

[2017-04-14 21:41] ssmithClimate opened #254 "Place for common DSR errors and interpretation of what they mean?"
Is there a place on the wiki, or otherwise, that lists DSR errors and gives an interpretation of what they mean?

[2017-04-15 10:57] #218 closed

[2017-04-15 11:05] bpbond commented on #253
Hmm. I guess it doesn't matter, although are the GIS files going to change regularly, such that "we do not know their names or how many there are"?

Anyway, either way (hardcoded names or loop as now) is fine with me, as long as the chunk returns accurate information when queried for its input dependencies.

[2017-04-15 11:05] bpbond commented on #254
Not at the moment. Good idea though! Feel free to start a page.

[2017-04-15 11:08] bpbond opened #255 "L101.nonghg_en_USA_S_T_Y"

[2017-04-15 11:26] bpbond commented on #255
@pkyle whenever you have time - thanks.

1. The "EPA" files associated with this chunk (`EPA_CO.csv`, `EPA_NH3.csv`, `EPA_NOx.csv`, `EPA_SO2.csv`, `EPA_VOC.csv`, `EPA_tech`) don't have any header info or documentation that I see. Do you have any information on them?

2. `IEA_flow_sector.csv` and `IEA_product_fuel.csv` don't have any source information, and not clear what the unit conversion in `IE

[2017-04-15 14:00] bpbond commented on #255
Also, near the end of this script, it does this:

[code]

It looks like it's extending 1990 NH3 data back to 1971. Why?

[2017-04-17 13:36] abigailsnyder commented on #117
Hi @bpbond - I tried `FLAG_SUM_TEST` and it gave the error:
1. Error: matches old data system output (@test_oldnew.R#90) -------------------
only defined on a data frame with all numeric variables
1: expect_equivalent(sum(olddata[numeric_columns_old]), sum(newdata[numeric_columns_new]),
       label = paste(basename(newf), "doesn't match (sum test)")) at C:\Users\snyd535\Documents\GitHub\gcamdata/

[2017-04-17 13:38] bpbond commented on #117
Can you sync your branch so I can take a look, please?

[2017-04-17 13:42] abigailsnyder commented on #117
Done

[2017-04-17 13:59] bpbond commented on #117
This was my fault. Sorry!!! I've pushed a commit that fixed the `FLAG_SUM_TEST`, which now passes. The rounding issue is still weird and frustrating though...

[2017-04-17 14:05] abigailsnyder commented on #117
It is, and I just realized that it probably isn't a result of HAVING the extra line of comment.
It's probably because to GET the extra line of comment, I had to open up the csv in excel and save it, which truncates any 'hidden' digits, leaving only the 5-6 decimals in the display window.

[2017-04-17 14:08] bpbond commented on #117
Excellent! Oh, right, that's an insightful point about Excel truncating.

[2017-04-17 14:43] #230 closed

[2017-04-17 14:52] #120 closed

[2017-04-17 16:03] pkyle commented on #255
This module was developed by @kvcalvin ; I'll answer the ones that I know the answers to or that I was otherwise responsible for, and leave the others open.
1) Leaving this open
2) These are mapping files, that map from the categories in the IEA Energy Balances to our intermediate categories for processing. For a source you can use: International Energy Agency, 2012, Energy Balances of OECD Countr

[2017-04-17 16:22] bpbond commented on #255
Thanks for the detailed help! @kvcalvin see first question above - can you help?

[2017-04-17 16:26] bpbond opened #258 "Delete agricultural AEZs in `gcam_sector_tech.csv`?"
Note from @pkyle in #255:

[2017-04-17 16:37] rhoesly opened #259 "US GHG animal methane emissions does not have Source information"
inst/extdata/emissions/EPA_FCCC_AG_2005.csv give emissions estimates (mostly methane) for the US, 2005 for animal production by animal type. It's likely from EPA Inventory of U.S. Greenhouse Gas Emissions and Sinks (UNFCCC submissions) 2005, but I can't find that specific table anywhere on the web.

[2017-04-17 16:55] rhoesly commented on #259
@pkyle @kvcalvin remember this source/any guidance?

[2017-04-17 17:18] #127 closed

[2017-04-17 17:31] kvcalvin commented on #255
@bpbond: For #1, the EPA data files come from the old GCAM3 system. They were in `nonco2/Input Data/EPA National Inventories`. The documentation there is limited. For example, the `CO` file says: `National Emissions Trends -- updated 7/18/2005. Carbon Monoxide Emissions (thousand short tons)`.

[2017-04-17 17:43] bpbond commented on #255
Thanks Kate.

[2017-04-17 17:46] pkyle commented on #255
Wow, sorry guys! Those files are old! And they are different from the EPA's submissions to the UNFCCC. I either downloaded them myself, or they were emailed by @ssmithClimate , and either way it would have happened in 2008 so my memory is not going to help out. Currently checking online and in my old emails...

[2017-04-17 17:53] kvcalvin commented on #259
@rhoesly: I'll send you the original Excel file.

[2017-04-17 17:57] bpbond commented on #255
No worries and thanks. I'll update the files with what we have.

[2017-04-17 18:14] #255 closed

[2017-04-17 18:30] #241 closed

[2017-04-17 20:18] bpbond opened #260 "Perhaps rethink `gdp_deflator` name and/or documentation"
@rplzzz requested assignment to this as I remember. See discussion in #247 .

[2017-04-18 11:31] bpbond opened #262 "LB125.LC_tot"

[2017-04-18 19:33] cahartin opened #266 "L152.MACC"
@bpbond when you get a chance can you add the necessary files to the repo? Thank you.

[2017-04-18 19:39] cahartin opened #267 "L251.en_ssp_nonco2"
@bpbond

[2017-04-19 03:53] bpbond commented on #267
Done.

[2017-04-19 03:54] bpbond commented on #266
Done.

[2017-04-20 14:38] #126 closed

[2017-04-20 14:40] #213 closed

[2017-04-20 14:41] bpbond opened #269 "LA108.ag_Feed_R_C_Y"

[2017-04-20 14:58] bpbond commented on #267
@CLynchy you may need some `temp-data-inject/` files for this to run.

[2017-04-20 14:59] #219 closed

[2017-04-20 15:02] CLynchy commented on #267
Already done.  Pretty sure?

module_emissions_L251.en_ssp_nonco2 <- function(command, ...) {
  if(command == driver.DECLARE_INPUTS) {
    return(c( FILE = "emissions/A_regions",
              FILE = "temp-data-inject/L161.SSP2_EF",
              FILE = "temp-data-inject/L161.SSP15_EF",
              FILE = "temp-data-inject/L161.SSP34_EF",
              FILE = "temp-data-inject/L201.nonghg_steepne

[2017-04-20 15:07] bpbond commented on #267
Looks good! Then just copy those files from the old data system into `inst/extdata/temp-data-inject/`.

[2017-04-20 15:15] CLynchy commented on #267
Someone had already done this (ie put the files needed in the temp-inject folder).  Methinks CH?

[2017-04-20 15:17] cahartin commented on #267
not me.  i wonder if another file relied on them as well.

[2017-04-20 15:18] bpbond commented on #267
Yes, probably. Anyway, good.

[2017-04-20 16:27] bpbond opened #270 "LB109.ag_an_ALL_R_C_Y"

[2017-04-20 16:27] bpbond opened #271 "LB112.ag_prodchange_R_C_Y_GLU"

[2017-04-20 16:33] bpbond opened #272 "Intermittent test failures"
We're seeing intermittent test failures--intermittent from machine to machine, not in time--that we think may have to do with different versions of the `readr` package (I'm on 1.0.0, while people like @rplzzz and @kvcalvin are on 1.1.0).

[2017-04-20 18:45] #117 closed

[2017-04-20 19:01] rhoesly opened #273 "Emission factor data can be updated by CEDS data"
Many chunks that produce emissions factors use emissions factor data that is out of date, approximate global EFs from one country, or approximate all historical EFs for one year of historical data.
Up to date, historical, and region specific data for EFs are available from CEDS.

While there are future plans (or thoughts of future plans) to calibrate GCAM emission factor data to CEDS data, in the

[2017-04-20 19:02] #252 closed

[2017-04-20 19:02] rhoesly commented on #273
L105.nh3_an_USA_S_T_Y

[2017-04-20 19:06] bpbond commented on #272
Seems like we're getting bitten by tidyverse/readr#645

[2017-04-20 21:22] #176 closed

[2017-04-20 21:27] bpbond commented on #183
File for this is already available. Thanks @felipefeijoo !

[2017-04-20 21:49] felipefeijoo commented on #183
Ok, I will start working on this chunk now. Since Marshall already approved LA123.electricity, is there something I got to do with it or you take care from now?
Thanks @bpbond

[2017-04-20 21:53] bpbond commented on #183
Already merged - thanks! (You should get an email, maybe they're a little backed up.) Nice job.

[2017-04-21 12:48] bpbond commented on #248
@abigailsnyder do you want to do this now? Or hold off?

[2017-04-21 12:50] abigailsnyder commented on #248
@bpbond That's fine with me, but it's also fine if there's a more pressing code chunk to get done first.

[2017-04-21 12:53] bpbond commented on #248
Doesn't matter to me I don't think. @kvcalvin ?

[2017-04-21 13:17] kvcalvin commented on #248
Doesn't matter to me either. We will need to figure out if this one will actually run in the integration branch as currently formulated or if we'll need a `if OLD_DATA_SYSTEM` block.

[2017-04-21 13:20] abigailsnyder commented on #248
It almost certainly won't - it's designed to aggregate to region-AEZ

[2017-04-21 13:36] rplzzz commented on #272
I have a fix that I'll push up as soon as this telecon is over.  It involves scanning the entire file on read-in, which is obviously not ideal.  I haven't done detailed timing, but it seems pretty slow.  I'm wondering if a better solution would be to see if `write.csv` (instead of `write_csv`) produces valid output.  If so, then by using that to do our output we could continue to use `read_csv` wi

[2017-04-21 13:49] bpbond commented on #272
OK, thanks. I bet it's slow. Does your fix involve scanning _every_ file? As we discussed, one thing that might help would be a `FLAG_SCAN_ENTIRE_FILE`.

[2017-04-21 13:55] kvcalvin commented on #248
So, we'd need to reprocess the gridded data, right? That may take time and would argue for waiting on this chunk.

[2017-04-21 13:57] bpbond commented on #272
We could also force people to use `readr` 1.0.

[2017-04-21 13:58] rplzzz commented on #272
Yes it does, so that's a possibility, but I still think writing data with base R might work for us.  Are there any specific warts in `write.csv` we need to watch out for (other than row numbers)?

Forcing people to use 1.0 isn't a great idea, IMO.  Forced downgrades are always a pain..

[2017-04-21 14:03] bpbond commented on #272
No, that would be a last resort, I agree.

AFAIK the biggest issue with `write.csv` will be speed; it's significantly slower than `write_csv`.

[2017-04-21 14:06] abigailsnyder commented on #248
To aggregate to region-GLU or region-GLU-irrigation, yes I believe we would have to reprocess the gridded data.

[2017-04-21 14:06] rplzzz commented on #272
Maybe a `protect_float` argument to our write wrapper that causes it to use base R?

[2017-04-21 14:34] bpbond commented on #272
Or our write routine could check for integer-ish numeric columns and change them to `int` before writing?

[2017-04-21 14:43] bpbond commented on #272
Note this would also depend on a flag mechanism (`FLAG_WRITE_BASE_R`).

[2017-04-21 15:04] bpbond commented on #248
OK I am resetting this to "up next" and will throw another one your way @abigailsnyder .

[2017-04-21 15:06] rplzzz commented on #272
Right, I figured that out when I went to implement the other solution.  We don't write each chunk individually; we call a function that writes them in batch.

[2017-04-21 15:09] bpbond opened #275 "LB122.LC_R_Cropland_Yh_GLU"
Hi Abigail, this is long, but looks straightforward, and all data are available. Thank you!

cc @kvcalvin

[2017-04-21 18:56] #171 closed

[2017-04-22 12:46] bpbond commented on #272
Fixed in #278

[2017-04-22 12:46] #272 closed

[2017-04-22 12:46] bpbond commented on #260
Fixed in #278

[2017-04-22 12:46] bpbond commented on #145
Fixed in #278

[2017-04-22 12:46] #145 closed

[2017-04-24 13:05] bpbond commented on #180
This may not be possible unfortunately, if the new behavior blocks produce significantly different output.

[2017-04-24 13:33] russellhz opened #279 "HDDCDD Metadata - References"
For the HDDCDD files, this is how I'm currently doing the metadata. Should I list the reference as CCSM3? Do we know exactly how/where these files were generated (I'm guessing it was someone at JGCRI)?:

File: population_weighted_CDD_CCSM3x_A2.csv
Title: CCSM3 A2 Cooling Degree Days
Units: Fahrenheit Degree Days
Description: Cooling Degree Days by Country
Reference: Unknown

Also, for GIS_cntry.cs

[2017-04-24 13:36] bpbond commented on #279
Note this is re #253 and #277

[2017-04-24 14:33] rplzzz commented on #208
I actually looked into this.  It turns out that `left_join_error_no_match` doesn't actually work by looking for `NA` values; it looks for a change in the number of rows.  I'm not sure it's 100% foolproof, but it definitely doesn't have the problem I described above, and it seems to be working ok in practice.

[2017-04-24 14:33] #208 closed

[2017-04-24 14:42] bpbond commented on #208
Yes. As I remember it does two checks: making sure the number of rows doesn't change, and that no NAs are brought in by the join.

[2017-04-24 17:45] abigailsnyder opened #280 "Years as characters or doubles"
4 of my inputs in LB122.LC_R_Cropland_Yh_GLU are non-integers.

As character:
 L100.FAO_fallowland_kha
 L100.FAO_CL_kha
 L100.FAO_harv_CL_kha

As double:
L120.LC_bm2_R_LT_Yh_GLU

[2017-04-24 18:34] bpbond commented on #280
There's a fix for the first three on PR #276 (to be merged shortly) and hopefully that will fix your fourth example too.

[2017-04-24 20:12] cahartin opened #281 "L2522.ag_MACC_IRR_MGMT_DISABLED"
@bpbond

[2017-04-24 20:14] cahartin opened #282 "L104.bcoc_en_USA_S_T_Y_DISABLED"
@bpbond

[2017-04-24 20:17] cahartin opened #283 "L232.prc_nonco2_DISABLED"
@bpbond

[2017-04-24 20:22] cahartin opened #284 "L2112.ag_nonco2_IRR_MGMT_DISABLED"
@pkyle let @bpbond  know when you start on this and he can make sure the files are available

[2017-04-24 20:29] #280 closed

[2017-04-24 20:36] cahartin opened #285 "L142.pfc_R_S_T_Y"
@bpbond

[2017-04-24 23:05] pkyle commented on #279
This was the output of a script from Yuyu Zhou; the code is no longer within the domain of JGCRI. From my understanding, you're correct that this is from the CCSM3 climate model, whose data were posted in the CMIP3 archive. I don't think there's an appropriate reference; all of the papers I have that used this data and these methods were for US-specific analysis, and the one study that would have

[2017-04-24 23:06] pkyle commented on #279
In other words, I don't have any more info for you to add to the header of the file.

[2017-04-25 05:15] d3y419 commented on #260
i think there are two "good practices" to go about this issue. but the current practice fits neither of them. we should standardize one single "good practice" and stick to it throughout dsr.

current practice:
[code]

ISSUE: this reads like "convert gdp FROM billion TO million, convert gdp FROM 1990$ TO 2010$"
but this is exactly the opposite. it converts FROM 2010$ TO 1990$.
the original sin is t

[2017-04-25 05:58] d3y419 commented on #130
i opened a branch!

[2017-04-25 13:10] abigailsnyder opened #288 "Beware - FAOSTAT disaggregating countries that we consider as a single ISO code"
This references the issue @pkyle mentioned on the dsr slack channel on 4/24/17. Tagging @bpbond, I don't know that there's anyone to 'assign' to fix this, so much as it's something everyone should keep an eye out for when working with FAO data.

This is more of a beware that the old DS handles this wrong in some code and that you must take an extra step to handle this correctly.

**You might have

[2017-04-25 14:13] rplzzz commented on #288
Forgive me if I'm just being dense, but it seems like we are _way_ overcomplicating this.  In this case we have multiple entries for a single country (as we define it) in the table we're joining, so we _have_ to aggregate.  The old code used the implicit behavior of match or merge to aggregate by taking the first entry encountered.  New code should replicate that behavior by using `first` as the a

[2017-04-25 14:26] abigailsnyder commented on #288
Nope, I was not aware of that option.

[2017-04-25 14:31] bpbond commented on #288
This is tied to #194 - and yes, it occurs again and again throughout the data system code.

[2017-04-25 14:49] abigailsnyder commented on #288
@bpbond  relating to 194, that would definitely be helpful in terms of making Matching the Old DS easier.

I should rewrite this at some point to emphasize that this issue is about why the old DS does the join wrong (by `match`) and the way to do the join in the new DS correctly.

In other words, the `match` error occurs often throughout the data system, but I think that the specifics of how it's

[2017-04-25 14:53] pkyle commented on #130
OK--just local, right? I also have a branch open on my computer, and I just added the necessary input files and metadata; let me know if you want any of those materials. I'm on a conference call for much of the day but could meet at 12:30 if you want.

[2017-04-25 14:55] bpbond commented on #288
Yeah, agreed. Can we relocate all these `match` calls in the new data system? Again citing #194, can/should we have a `match_proxy` function that implements a `first` or `distinct` approach, and lets us easily come back to this later in each function?

[2017-04-25 14:59] abigailsnyder commented on #288
I think the `match_proxy` is a great idea, but maybe we should update the tests to restrict its use to ONLY within
`if(OLD_DATA_SYSTEM_BEHAVIOR){ ... } `
That way, the chunk author will also have to do it the correct way for the future in the `else{ ... }` portion of the flag

[2017-04-25 15:03] bpbond commented on #288
That would be great, if we're willing to do the upfront work.

[2017-04-25 15:09] pkyle commented on #288
![lumbergh](https://cloud.githubusercontent.com/assets/20807787/25392812/b0e9dcba-29a7-11e7-9f85-d50ae0dd9fb0.png)

[2017-04-25 15:19] #253 closed

[2017-04-25 15:27] CLynchy commented on #267
Level 2 problem:

@bpbond there is a function in the old data system called "add_region_name"
add_region_name <- function( data ) {
     data_new <- data
     data_new["region"] <- GCAM_region_names$region[
          match( data[["GCAM_region_ID"]], GCAM_region_names$GCAM_region_ID ) ]
     return( data_new )
	 }

Regions aren't defined by numbers in Level 2?  They are defined as "string". Is ther

[2017-04-25 15:30] bpbond commented on #267
@CLynchy It looks like this can be replaced by a simple `left_join_error_no_match` call, with `GCAM_region_names` as an argument. You'll need to go find where that's defined in the old data system.

[2017-04-25 15:31] rplzzz commented on #288
@abigailsnyder I'm not sure what you mean by "match joins the data incorrectly".  It sounds like the original code chose the columns to join by poorly, but it is behaving in a predictable way that should be easy enough to replicate with a join and aggregate approach. If I'm understanding your example correctly, you might have to `group_by(iso, iso-countries)` (instead of just by `iso`) in the aggr

[2017-04-25 15:35] bpbond commented on #288
https://github.com/JGCRI/gcamdata/wiki/Name-That-Function#match

[2017-04-25 15:54] bpbond opened #289 "add_comment needs to throw away any carriage returns in comments"

[2017-04-25 16:19] abigailsnyder commented on #288
@rplzzz You are basically right. I'm just really struggling to get into words.
I've attached an excel spreadsheet with some dummy numbers trying to clarify what I'm explaining badly.

In that spreadsheet there's

You are correct that it is predictable and that something like Ben's solution under https://github.com/JGCRI/gcamdata/wiki/Name-That-Function#match. Absolutely should be easy.

But I spen

[2017-04-25 16:27] rplzzz commented on #288
Ok, it sounds like we are converging on a solution.

Also, shouldn't the ISO code for "Sudan (former)" be SSD?  Are there any other former Sudan regions besides South Sudan?

[2017-04-25 16:31] abigailsnyder commented on #288
Yeah, I have it totally working and the old/new flags set up fine. It's just ugly because I couldn't get Ben's solution to work.

re the ISO codes, I have no idea.

[2017-04-25 17:40] pkyle commented on #288
This one is worse than other countries that have changed boundaries and/or ISO codes over time, for several reasons. One, because it happened so recently (2011), nearly all of our source data doesn't have it disaggregated. Two, the "united" country (Sudan, sdn) has both the same name and the same ISO code as the northern half after the split. This is different from Serbia and Montenegro (scg toget

[2017-04-25 18:10] rplzzz commented on #288
Thanks, Page.  I will add this to my list of reasons why I am skeptical of secession movements.

[2017-04-25 18:34] bpbond opened #291 "L242.Bld_Inc_Elas_scenarios"

[2017-04-25 18:35] bpbond opened #292 "L252.Trn_Inc_Elas_scenarios"

[2017-04-25 19:42] rplzzz commented on #260
I agree that it's a wart that the conversion constants have the FROM and TO in the opposite order that the gdp_deflator function does.  Unfortunately, by the time I took a look at it, people had already started using it, and that makes it dicey to change, particularly while we have so many people actively developing.  If we want to fix this we should probably wait until this first round of develop

[2017-04-25 19:49] rplzzz commented on #180
I'm not sure what you had in mind for this issue, but it seems like it should be possible to run the driver with `OLD_DATA_SYSTEM_BEHAVIOR`[1] on and off, asserting no errors on either one.  You could run the non-compatible version with output turned off so that only the compatible version would get written for the old-new comparison tests.

[1] I probably would have called it BACK_COMPAT.  Might

[2017-04-25 20:08] rplzzz commented on #232
I've added this as a task in our GCAM backlog, so I think we can close it out here.

[2017-04-25 20:08] #232 closed

[2017-04-25 20:20] #279 closed

[2017-04-25 20:21] rplzzz commented on #194
I'm indifferent here, as you might have guessed from the fact that I argued for a utility function here and against it in issue #288.  I guess one advantage to having a utility function is that when we eventually want to retire that functionality, we can easily mark the utility as deprecated and get warnings everywhere it is used.  That's assuming, of course, that we don't think there is ever a ca

[2017-04-25 20:24] bpbond commented on #194
Ok - thanks.

On Apr 25, 2017, at 4:22 PM, Robert Link <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm indifferent here, as you might have guessed from the fact that I argued for a utility function here and against it in issue #288<https://github.com/JGCRI/gcamdata/issues/288>. I guess one advantage to having a utility function is that when we eventually want to retire that

[2017-04-25 20:50] bpbond commented on #180
That's basically what I was thinking, yeah.

The most efficient was would be to identify all the chunks that mention `OLD_DATA_SYSTEM_BEHAVIOR` and _just_ call them with the flag flipped, ensuring no errors.

[2017-04-25 21:18] aarony2j opened #293 "Input file A_fuel_conv.csv: Source for fuel-specific conversion factors?"
Any idea the source for these conversion factors?
![image](https://cloud.githubusercontent.com/assets/26774951/25408237/56226534-29db-11e7-8971-3f791fc5e795.png)

[2017-04-25 21:48] pkyle commented on #293
This is just a table of unit conversions, from billion btu (HHV) to EJ (LHV). For fuels only indicated in terms of electricity output, there's no LHV conversion, and it's just 1.0551e-6. For the others, I can't really give a specific source; I think I used 0.905 for natural gas, 0.94 for oil and derived fuels, and 0.965 for coal. It's hard to tell exactly with the rounding.
Particularly for coal a

[2017-04-25 22:05] bpbond commented on #183
Assigned in error.

[2017-04-25 22:05] #183 closed

[2017-04-25 22:08] bpbond opened #294 "LA1231.elec_tech"
@felipefeijoo looks like the chunk file is already in the repo for this.

[2017-04-25 22:33] felipefeijoo commented on #294
Hi @bpbond , not sure if I followed you, but for some reason I do not have access to this file in my local repository. I already "sync" but I do not see it in the gcamdata/R folder

[2017-04-25 22:52] bpbond commented on #294
Oh sorry.

[2017-04-25 23:00] aarony2j commented on #293
Thanks, Page. Those numbers fit the data, and I filled in the rest as you can see in the picture below. It's not obvious to me where to source those numbers (i.e., 0.905, 0.94, 0.965). If you have a suggestion, I'll take it. But it may be good enough to at least explain how the conversion factors were determined.
![image](https://cloud.githubusercontent.com/assets/26774951/25411117/de0a1cd2-29e8-1

[2017-04-26 02:39] pkyle commented on #293
OK, here's one (of many possible) source with LHV and HHV of fuels: http://hydrogen.pnl.gov/sites/default/files/data/lower_and_higher_heating_values.xls
The basic engineering explanation for the difference is that the LHV:HHV difference is determined by the ratio of H2O to CO2 in the combustion flue gases, and as such the ratio scales with the hydrogen:carbon ratio of the fuel. Higher hydrogen con

[2017-04-26 13:04] aarony2j commented on #293
This is all very helpful information. Thanks for sharing.

[2017-04-26 13:49] rplzzz opened #295 "Error being thrown in tests for current master"
The current master branch (4ffab50) throws an error while running its tests:
[code]
For some reason this isn't causing any of the tests to fail.  Perhaps it's happening during some setup in the testing code that isn't actually being subjected to an `expect` call?  We should investigate the cause.

[2017-04-26 16:48] bpbond commented on #295
The error is occurring in line 124 of `LA143.HDDCDD`, under the timeshift test:
[code]

I haven't look at the relevant data frames in detail but pretty clearly when `HISTORICAL_YEARS` and/or `FUTURE_YEARS` get changed there are NAs in this step. I think we need to do two things:

1. Ask @russellhz to take a look at this chunk again. In particular, there probably needs to be an interpolation step t

[2017-04-26 16:58] rplzzz commented on #295
Yeah, I had to do some extra work to get the time shift test to work properly (the problem is 2011, for which we typically don't have data as it is neither a historical year, nor a future year).

Also, in that code snippet you posted, we are joining with `L101.Pop_thous_GCAM3_ctry_Y`, which seems really weird, as I don't think these are GCAM3 scenarios.  We should have another look at that too.

[2017-04-26 17:12] rplzzz commented on #105
I think that we definitely want to have a dedicated function for this, precisely _because_ it is tricky.  We should do it right, once and for all, instead of expecting developers to do it themselves (and probably getting it wrong because it's so hard to do right).

[2017-04-26 17:15] rplzzz commented on #227
This sounds like it should go in the GCAM backlog, rather than here.

[2017-04-26 17:26] rplzzz commented on #207
Apparently, the "People's Democratic Republic of Ethiopia" was the official name of the country from 1987 to 1991.  Why the data has the two overlapping is a bit of a mystery, but it turns out that the new government didn't actually take over from the transitional government until 1995, which is when the "PDR" is completely phased out of the data.  Therefore, I'd speculate that reporting was a lit

[2017-04-26 17:26] #207 closed

[2017-04-26 17:30] rplzzz commented on #159
Aren't we doing this already?

[2017-04-26 17:40] rplzzz commented on #102
Why the big performance penalty, I wonder.  They should be doing the same thing under the hood, just with slightly different options.  I wonder if the real performance difference comes because of capturing STDOUT and STDERR in the first place.  I'll bet R isn't particularly smart about how it does this when the command in question produces a lot of output.

If that's what's happening, then we coul

[2017-04-26 19:51] felipefeijoo commented on #294
No probem @bpbond . I am just trying to figure out what input files to use. THis is cause the inputs files should already be available and hence not read from the temp-data-inject (which also have a different format than the new files).

[2017-04-26 21:08] ssmithClimate opened #298 "Order of "Rows in x but not y:""
In the testing script, I got the following:

Rows in x but not y: 6919, 6914, 6902, 6898, 6893, 6889, 6881, 6833, 6829, 6818, 6809[...]. Rows in y but not x: 6646, 6628, 6586, 6570, 6502, 6484, 6474, 6444, 6426, 6410, 6390[...].

Is x the new or the old data?

Also, how is this counting rows. Rows 6919, for example, is actually the same (up to first 3 digits) in both, so its not missing!

[2017-04-26 21:16] russellhz commented on #295
L101.Pop_thous_GCAM3_ctry_Y gets read in with historical years 1971:2010 by 1 year and 2015:2100 by 5 years. The HDDCDD data begins with all years from 1971:2100. It later gets trimmed to match the population file years with
`filter(year %in% c(HISTORICAL_YEARS, FUTURE_YEARS))`

In the code that writes L101.Pop_thous_GCAM3_ctry_Y, it is filtered the same way.

I would think the time_shift would sh

[2017-04-26 21:50] russellhz commented on #291
I wanted to check in about this. I have a tibble that gets divided into 10 output tibbles by filtering by scenario. I have listed all of these outputs at the start and done the full documentation at the end. Is it ok to do this for loop rather than 10 separate filters?
`    for (scen in L242.pcgdp_thous90USD_Scen_R_Y$scenario){`
    `    assign(paste0("L242.IncomeElasticity_bld_",scen),`

[2017-04-27 00:55] bpbond commented on #298
Not the greatest error message, I agree. At this point it's usually easiest to load the relevant data frames directly and take a look at them, e.g.

[code]

And then compare their dimensions, columns types, summaries, etc. I'm back in the office Friday and happy to help if useful.

[2017-04-27 01:01] bpbond commented on #291
Yeah, I think that's fine--I did a similar thing in `module_aglu_LA100.FAO_downscale_ctry`.

[2017-04-27 13:34] rplzzz commented on #295
That's what we need to find out.

[2017-04-27 13:44] rplzzz commented on #194
Here's what I wrote when we discussed it in #287

I started to work on this yesterday, and the code is actually pretty easy to do.  Writing documentation to explain it all so that someone unfamiliar with what we were doing wouldn't be utterly confused was actually taking longer.  Writing tests will be a bit tedious too, as we'll have a lot of cases to cover.  Maybe I'll push the code up as a PR, a

[2017-04-27 14:38] rplzzz opened #299 "How are the tables in LA100.FAO_downscale_ctry getting their flags?"
Here is the code that creates (one of) them:
[code]
However, the flags line of the output file produced is:
[code]

Here's what the table's flag situation looks like just before write:
[code]

Where were these flags added, and why are we getting them as a character vector, instead of the flat string normally produced by `add_flags`?

[2017-04-27 14:43] rplzzz commented on #291
@russellhz @bpbond This seems like a good use for `split`.  Is there any reason why we're not doing that instead?

[2017-04-27 16:28] russellhz commented on #291
@rplzzz @bpbond I haven't used the `split` command before, but I'm happy to change it. I guess the only reason I see not to is that it looks like I would have to add a command in every output pipeline to select the correct list element. Also, would have to apply `select(-scenario)` to all tibbles in the list (or add this to each output pipeline)

[2017-04-27 17:19] rplzzz commented on #291
You can run run a function on every element of a list using `lapply`.  The result is a list of all of the return values of the function.  So,
[code]
Note that the results of `split` are named according to the value of the split element, so
[code]
will give you the part of the table for which the `scenario` column was equal to "gSSP1".

Of course, this all depends on what you're planning to do with

[2017-04-27 17:32] russellhz commented on #295
Here's what I think may be the problem, although I don't necessarily know enough about the testing system to say for sure.

1. LA143.HDDCDD.R gets its population data from L101.Pop_thous_GCAM3_ctry_Y, which is read in with the default `HISTORICAL_YEARS, FUTURE_YEARS`

2. L101.Pop_thous_GCAM3_ctry_Y gets written in L101.Population.R. One file it uses is `"temp-data-inject/L100.Pop_thous_SSP_ctry_Yf

[2017-04-27 17:44] rplzzz commented on #295
So, first thing, using temp-data-inject for L100.Pop_thous_SSP_ctry_Yfut should no longer be necessary, as that chunk seems to be up and running.  We should get rid of the temp data.

Second thing, why are we using the GCAM3 population, when we're not using it for anything else?  We may be stuck with it for now for backward compatibility, but this seems like something we should flag for fixing goi

[2017-04-27 19:05] russellhz commented on #295
It looks to me like L100.Pop_thous_SSP_ctry_Yfut is written by zchunk_L100.Population_downscale_ctry.R, which is not completed right now.

I think you are right, we should switch out of L101.Pop_thous_GCAM3_ctry_Y. Of course, pretty much all of the HDDCDD code is currently irrelevant, as it uses CMIP3 data.

[2017-04-27 19:07] #293 closed

[2017-04-27 19:22] russellhz commented on #291
Done.

I agree this is much cleaner. And way faster

    `L242.pcgdp_thous90USD_Scen_R_Y <- L242.pcgdp_thous90USD_Scen_R_Y %>%`
      `split(.$scenario) %>%`
      `lapply(function(df) {select(df, -scenario)})`

[2017-04-27 19:41] rplzzz commented on #295
My mistake.  I glanced at that file and for some reason thought it had been completed.  Not sure why.

As to the GCAM3 and CMIP3 data, we should just flag it to update once the conversion is all done.  I'm going to guess that it's using the old population data because nobody noticed it when we updated, and we don't want it to happen again.

We still need to figure out what to do about the time shi

[2017-04-27 19:42] pkyle opened #300 "Change read_csv() na strings"
To read in data from CSV, the function called by driver() and in turn load_csv_files() is read_csv(), and we're currently using all of its defaults except the comment character. The default na strings for read_csv are:
na = c("", "NA")
In the old data system, the only na.string was "". However (for one example that I came across today) IMF_GDP_growth uses "n/a", and in GCAM-USA, the EIA SEDS datab

[2017-04-27 19:57] rplzzz commented on #300
What we could do is have `load_csv_files` use `c('', 'n/a', 'N/A')` as its NA strings (I believe those should all be safe), and any file that breaks under that convention we can load in a specialized chunk, as with `zchunk_data_maddison_population.R`.  The rule would be that any chunk that reads data (vs. getting it with `get_data`) must fully clean the data before passing it on to the rest of the

[2017-04-27 20:10] bpbond commented on #300
Yeah, exactly, agreed. A standard set of NA strings is fine, but there will be exceptions, and those (under our current design) are handled by 'data chunks' specific to the file in question.

[2017-04-27 20:13] bpbond commented on #295
Re temp-inject-data and completed chunks, the driver will let us know (via a nice red message) when that occurs.

This is the obvious one that occurs to me, yeah.

[2017-04-27 20:18] bpbond commented on #299
It happens up above in the file, lines 235-244:

[code]

Here the code has finished operating on all the tables, that are bound together into one big d.f., and at this point splits them apart and back into separate objects, assigning the basic flags and info as it goes.

[2017-04-27 20:28] bpbond commented on #159
Not for `FUTURE_YEARS`, which is only shifted by 5 years. This is a weakness; see #23 .

[2017-04-27 20:29] bpbond commented on #194
Yes. Thanks for taking a swing at this; sorry to I've been unavailable so much last few days.

[2017-04-27 21:02] bpbond commented on #294
Pushed required changes to `master` (commit a950742).

[2017-04-28 01:51] bpbond opened #301 "Test gcamdata against dplyr 0.7.0"
https://blog.rstudio.org/2017/04/13/dplyr-0-6-0-coming-soon/

Install the pre-release version with `devtools::install_github("tidyverse/dplyr")`.

Reading the notes, it doesn't _look_ like we'll necessarily break, but it would be great to test before mid-May.

I will try to get to this--but if anyone would like to experiment, see `devtools::install_version`, have fun, and please report back what y

[2017-04-28 02:09] #289 closed

[2017-04-28 02:09] bpbond commented on #298
@ssmithClimate I'm closing this but re-open if necessary.

[2017-04-28 02:09] #298 closed

[2017-04-28 02:10] bpbond commented on #299
Closing this, but re-open if necessary @rplzzz .

[2017-04-28 02:10] #299 closed

[2017-04-28 04:26] d3y419 commented on #260
RESOLVED:
we wait until the end of the dsr, then we replace all:
GOOD PRACTICE 2: this creates a new function "CONV_REAL_DOLLAR" which is the inverse of the gdp_deflator. This keeps coding convention of using multiplier for a converter.

[2017-04-28 04:34] d3y419 opened #303 "GCAM_sector_tech.csv has transportation incorrectly labelled."
this commonly used mapping file has transportation fuel labelled "technology" and car size labelled "fuel".

the problem occurs when coders take this at face value at try to left_join "sector" and "fuel". you end up missing out of the true transportation fuel.

as far as i can tell this is only transport. elec and resid are fine.

tag here if your chunk has the same issue. there's good chance you

[2017-04-28 04:36] d3y419 commented on #303
@pkyle @bpbond

[2017-04-28 12:04] rplzzz commented on #300
Ok, who wants to volunteer?

[2017-04-28 12:05] rplzzz commented on #194
Ok, I'll see if I can scare up a few minutes over the weekend to take care of this.

[2017-04-28 17:11] pkyle commented on #303
Note that this is only used in the emissions module; while it's called GCAM_sector_tech, it isn't actually used in building and mapping GCAM sectors and technologies. I think it's only used for assigning emissions from inventories to technologies in the model. Given that, the impacts of this inconsistency in naming is probably confined to only one or two code chunks. Not sure if that helps!
As for

[2017-04-28 18:10] bpbond opened #310 "L1233.Elec_water"
This is pretty long and looks like there is some funky stuff. Thanks Sean.

[2017-04-28 18:13] bpbond opened #311 "233.water.demand.livestock"
Looks straightforward. I think all the necessary data are available for this, but ping me if not please.

[2017-04-28 18:15] bpbond opened #312 "L145.water.demand.municipal"
Looks straightforward. I think all the necessary data are available for this, but ping me if not please.

[2017-04-28 19:50] pkyle commented on #284
@bpbond I just made a branch to translate this but the base R code chunk isn't in the gcamdata repository (would be zchunk_L2112.ag_nonco2_IRR_MGMT.R). But even if it were, I don't see any capability to write out the data in the format that the model interface will require to build XML files (i.e., header rows with INPUT_TABLE, Variable ID, IDstring, blank row, and then the table with the header r

[2017-04-28 20:26] cahartin commented on #284
@pkyle yup! i tried to balance out dependencies, lines of code, etc.

[2017-04-28 21:04] swd-turner commented on #310
@bpbond Thanks - look forward to the funky stuff... :+1:

I've got three dependencies here that aren't generated by existing chunks and aren't labelled "temp-injection"... I'm gonna assume this is just a case of getting the old files into inst/extdata/temp-injection-data, using FILE = "temp-injection-data/chunk" in the input declaration, and reshaping to long form if relevant. Let me know if there

[2017-04-28 21:15] swaldhoff opened #313 "L100.Population_downscale_ctry"
The official SSP population data (IIASA-WiC) does not have any population projections for several countries. Currently, for these countries population is held constant through 2100 and all SSPs. Generally these are small enough and part of other larger regions that we don't really need to worry about them. The exception is Taiwan. Since it's a single region in GCAM, should we think about a way to

[2017-04-28 21:18] bpbond opened #314 "Incompatible type for column GCAM_region_ID: x numeric, y matrix"
Something screwy has been going on with certain data frames during the `test_oldnew` comparison. It's almost like they're getting corrupted.

[2017-04-28 21:24] bpbond commented on #314
I think this will fix the nonsensical error @rynacui is getting in #297 - and many others have seen it too.

[2017-04-28 21:24] #314 closed

[2017-04-28 21:28] bpbond commented on #310
That's it exactly. Sorry I didn't do. No special flags. -B

On Apr 28, 2017, at 5:05 PM, Sean Turner <notifications@github.com<mailto:notifications@github.com>> wrote:

@bpbond<https://github.com/bpbond> Thanks - look forward to the funky stuff... 👍

I've got three dependencies here that aren't generated by existing chunks and aren't labelled "temp-injection"... I'm gonna assume this is just a cas

[2017-04-28 23:19] bpbond opened #315 "LB165.ag_water_R_C_Y_GLU_irr"

[2017-04-28 23:28] bpbond commented on #315
@pkyle :

* Title and units for data in `Mekonnen_Hoekstra_Rep47_A2.csv`?
* Title and units for `Rohwer_2007_IrrigationEff.csv`?

Thanks.

[2017-04-29 01:23] rplzzz commented on #159
Hmm.  We probably need to sit down with Kate and figure out exactly what we want to support in terms of changing the historical and future years.  My guess is that most of the data we produce won't be robust to arbitrary changes.  Still, I think we want to get everything converted first, then tackle this as an enhancement to the mk. 1 system.

[2017-04-29 03:04] pkyle commented on #315
Mekonnen
Title: Water footprint per ton of crop or derived crop product at national and sub-national level (m3/ton) (1996-2005)
Units: Cubic meters of water per tonne of crop. [Note that some might consider this a unitless IO coef.]
Rowher
Title: Annex B Irrigation Functional Types, assignment and parameters
Units: Unitless efficiency; large.scale.frac in percentage

[2017-04-29 17:54] bpbond opened #316 "New `left_join_keep_first_only` dies when column names differ"
Compare

`cars %>% left_join(tibble(sp = 4, x = 1), by = c("speed" = "sp"))`   (OK)

with

`cars %>% left_join_keep_first_only(tibble(sp = 4, x = 1), by = c("speed" = "sp"))`  (errors)

[2017-04-30 03:49] pkyle commented on #284
@bpbond so there's another issue, and this only pertains to some of the level2 chunks, but most of the level2 emissions chunks have it. Any time a level2 chunk is reading in a data file that was written out by another level2 chunk (i.e., a precursor called L2\*.csv), the first four lines need to be skipped. In the old data system, if you just search for the string "skip" (without the quotes), you

[2017-04-30 04:50] pkyle opened #317 "level2 data files aren't built, tested, or read in"
In the old data system, "level2" code files wrote out data using the write_mi_data() function instead of writedata(), and the write_mi_data did three things: (1) pre-pended four rows with some meta-info (INPUT_TABLE, Variable ID, [IDstring], [blank row]) to the CSV file being built; (2) wrote out the data table; and (3) inserted the file path and name of the data table to a user-specified XML batc

[2017-04-30 20:19] russellhz opened #318 "Metadata: A42.inc_elas.csv"
Need source and units (sounds like unitless is probably simplest)

File: A42.inc_elas.csv
Title: Building sector income elasticity
Units: pcgdp_90thousUSD: Thousand 1990$; **inc_elas:**
Description: Aggregate buildings sector income elasticity as a function of per-capita GDP
**Source: unknown**

[2017-04-30 22:29] cahartin commented on #284
@pkyle I realized I should have given you a level 1 first.  I have it on my spreadsheet, but I never posted it to github. I'll assign you another chunk as well (everyone has 2 assigned to them). If the level 2 chunk is causing issues, switch to the level 1 chunk. thanks!

[2017-04-30 22:31] cahartin opened #320 "L114.bcoc_en_R_S_T_Y_DISABLED"
@bpbond

[2017-04-30 22:44] cahartin commented on #317
@pkyle I'm not too familiar with the data system, but when you read in the files could you do something like, read_csv("file", comment = '#')?  This would skip the commented lines.

[2017-05-01 11:15] bpbond commented on #317
@pkyle Right, we put off dealing with a bunch of the Level 2 issues for the obvious reason that we wouldn't need them for a while.

This is not correct; we already have a `batch_xml` generator and code that calls the necessary Java library to generate xml (h/t @pralitp ).

This is a good point: while the testing system currently will _skip_ the header info in Level2 tables, it doesn't compare it.

[2017-05-01 11:15] #317 closed

[2017-05-01 11:18] bpbond opened #321 "Level2 outputs need more testing"
Level 2 outputs are, or should be, tagged with the relevant `IDstring` (e.g. "AgResBio") and batch_XML_domain (e.g. `AGLU_XML_BATCH`). These should be tested against the original data system settings?

See comments by @pkyle in #317

[2017-05-01 11:21] #316 closed

[2017-05-01 11:27] bpbond commented on #284
Yes, in general we'd like to do all Level 1s before proceeding to Level 2, I think.

@pkyle thank for your thoughts - see #317 and new #321

Right, because it's "up next", not "in progress". It sounds like we should switch you (GPK) to `L114.bcoc_en_R_S_T_Y_DISABLED` per #320 ?

[2017-05-01 13:35] cahartin opened #322 "L113.ghg_an_R_S_T_Y"

[2017-05-01 13:38] cahartin opened #323 "L142.pfc_R_S_T_Y_DISABLED"

[2017-05-01 13:40] cahartin commented on #284
@pkyle  and @bpbond I'm going to close the level 2 issues until the emissions team is ready.

[2017-05-01 13:40] #284 closed

[2017-05-01 13:41] cahartin commented on #283
closing until Level 1's are finished

[2017-05-01 13:41] #283 closed

[2017-05-01 13:41] cahartin commented on #281
closing until level 1s are finished

[2017-05-01 13:41] #281 closed

[2017-05-01 18:25] swaldhoff opened #324 "Don't let chunks bypass data chunks"
If some input is being handled by a data chunk, other chunks shouldn't be able to go get the file themselves.

[2017-05-01 19:30] d3y419 commented on #318
unitless (% change in service demand / % change in income)

[2017-05-01 19:30] #318 closed

[2017-05-01 20:05] bpbond opened #325 "L201.Pop_GDP_scenarios"

[2017-05-01 21:32] d3y419 opened #327 "missing non-CO2 emissions in EPA, but exists in EDGAR"
https://github.com/JGCRI/gcamdata/pull/256
https://github.com/JGCRI/gcamdata/pull/309

recurring issue in non-CO2.

[code]

looks like we set emissions in each sector using EPA,
then scale everything by EDGAR.

but if EPA value is zero, but EDGAR value is positive, then the total doesn't add up to EDGAR.
so we set some arbitrary value for EPA, in the hopes that EDGAR value will overwrite this.

I

[2017-05-01 22:28] bpbond opened #328 "Fix `L101.in_EJ_R_en_Si_F_Yh`"
From #256 :

I left the X's in the years (column headers) - whoops. Need to go back and fix, and fix downstream chunks like Haewon's #309 .

[2017-05-01 23:51] #275 closed

[2017-05-01 23:59] #130 closed

[2017-05-02 00:15] aarony2j commented on #184
@bpbond did you accidentally include a zip file for this: L1011.en_bal_EJ_R_Si_Fi_Yh.csv.zip? This file (in csv form) is a precursor for my chunk.

[2017-05-02 00:31] bpbond commented on #184
The data system should transparently read compressed files.  Is it not working for you?

[2017-05-02 04:02] pkyle commented on #327
Huh, yeah this is probably worth a look though I won't have a chance to do this in any detail, at least not this week. If anyone has time/motivation, the thing to look for is EPA categories within EDGAR categories that have a mix of data-derived emissions factors and default emissions factors (1s). An example just from a quick look is GCAM_region_ID == 1, Non.CO2 == CO, year == 2005, EDGAR_agg_sec

[2017-05-02 14:07] cahartin opened #331 "EDGAR_nation ISO codes"
The file EDGAR_nation appears to be a conversion between upper and lower case ISO codes.  However, there are 9 countries within the file that are not a simple capitalization.  Should we have a file of exceptions? It seems like we don't necessarily need the entire EDGAR_nation file.

Exceptions:
UMI
SGS
ROU
IOT
ATF
HMD
ATA
SEA
AIR

[2017-05-02 14:19] cahartin opened #332 "L124.nonco2_unmgd_R_S_T_Y_DISABLED"
@bpbond

[2017-05-02 19:33] aarony2j opened #336 "LA131.enduse"
@bpbond

[2017-05-02 21:53] d3y419 opened #337 "Deprecate GCAM3"
Per @rplzzz @pkyle @d3y419 @leon:

we're proposing to deprecate GCAM3 population and GDP.

please tag any files that use GCAM3 population and GDP here.

[2017-05-03 00:36] d3y419 commented on #99
i'm not entirely sure why or how this is closed... i didn't close it!

[2017-05-03 03:25] d3y419 commented on #313
there's an OECD ENV model that has somewhat reasonable taiwan population. i'll suggest NEW_SYSTEM_BEHAVIOR on the pull request.

[2017-05-03 12:05] rplzzz commented on #99
It's closed because the commit that resolved it was merged into the master branch.

[2017-05-03 12:05] #99 closed

[2017-05-03 13:23] rplzzz opened #338 "Refactor base year scaling operation"
We do a lot of scaling stuff by base year ratios.  Specifically, we compute the ratio of a time series to its base year value, and then we find the base year value of some other quantity and multiply the ratio series by that base year value.  This seems like a good candidate for refactoring into a utility function, since we waste a lot of lines of code rediscovering this idiom everywhere it is use

[2017-05-03 13:44] pkyle commented on #321
Not sure if this helps, but in most cases, the csv-to-xml IDstring is equal to the characters between the first "." and the first "_" of the name of the table being written out. The exceptions are the headers for logits, the building sector (energy/L244.\*), and the land allocator, where the headers often have their own uses of "_". Also in the emissions module, the IDstring is often not derived f

[2017-05-03 14:38] pralitp commented on #102
Let me start with a disclaimer that it has been too long for me to remember all of the gory details but hopefully I've got enough for meaningful conversation.

Yes it has to do with how it is dealing with STDOUT/STDIN.  Particular to this case we are concerned about STDIN in as we are sending large amounts of data (for a number XML files at least) which is the tabular data to convert to XML.  CSVT

[2017-05-03 14:41] pralitp commented on #245
It sounds like this got resolved, should we close this issue?

[2017-05-03 14:42] cahartin opened #340 "L112.ghg_en_R_S_T_Y"
@bpbond

[2017-05-03 14:52] cahartin commented on #323
whoops...assigned this twice

[2017-05-03 14:52] #323 closed

[2017-05-03 14:54] cahartin opened #341 "L125.bcoc_unmgd_R_S_T_Y_DISABLED"
@bpbond

[2017-05-03 16:28] #245 closed

[2017-05-03 18:48] rplzzz commented on #321
Isn't the best guide to look for the `IDString=` and `batch_XML_domain=` arguments to the `write_mi_data` call in the original data system?  If you just copy those, then you won't go wrong.

However, it's still not clear _how_ these tags are meant to be applied in the new system.  Is there a function to add these, along the lines of `add_flags`, `add_comment`, etc?

[2017-05-03 19:31] pkyle commented on #321
Yes that would work and is probably what we'll have to do--I just made that suggestion in case we wanted to have a default `IDString=` set by a function that could be over-ridden (as needed) by a user. That wouldn't help with the `batch_XML_domain=` argument. Note that the name of the XML file, formerly set in the `insert_file_into_batchxml()` function, is always just the name of the batch XML fil

[2017-05-03 23:08] #174 closed

[2017-05-04 00:27] bpbond commented on #332
Might put `EDGAR` and `GFED` files into their own subfolders.

[2017-05-04 00:32] bpbond commented on #332
`EDGAR` files have been added in #339 .

[2017-05-04 02:17] bpbond commented on #338
I definitely agree that this may be a good candidate. Tagging @pkyle for his thoughts on how much _more_ for this is out there.

[2017-05-04 02:17] bpbond commented on #331
What happens with these exceptions? There's actually a code change? Do we know why?

[2017-05-04 10:43] bpbond opened #343 "LA154.transportation_UCD"

[2017-05-04 10:44] bpbond opened #344 "LA154.Transport"

[2017-05-04 12:18] kvcalvin commented on #331
Yes. Let’s chat when you get in.

From: Ben Bond-Lamberty <notifications@github.com>
Reply-To: JGCRI/gcamdata <reply@reply.github.com>
Date: Wednesday, May 3, 2017 at 10:17 PM
To: JGCRI/gcamdata <gcamdata@noreply.github.com>
Cc: Katherine V Calvin <Katherine.Calvin@pnnl.gov>, Assign <assign@noreply.github.com>
Subject: Re: [JGCRI/gcamdata] EDGAR_nation ISO codes (#331)

What happens with these exc

[2017-05-04 12:56] bpbond opened #345 "Reference list for data system?"
Question from @abigailsnyder in #329 :

[2017-05-04 13:10] rplzzz commented on #321
Understood, but most of the people developing these modules aren't going to know the name of the batch XML file, so it's good to be able to just tell them where to look.

@bpbond can you weigh in on how we add these tags to the tables?

[2017-05-04 13:20] #271 closed

[2017-05-04 13:22] bpbond commented on #344
@d3y419 is this assignment correct?

[2017-05-04 13:47] rplzzz commented on #331
FYI, there is actually a utility function to downcase the ISO codes and change the name of the ISO column to 'iso' if necessary.

As for the exception codes, I see our old friend Ro(u)mania is in there, and the rest seem to be bogus codes (non-independent territories, Antarctica, and a couple that codes don't even appear in the table I'm looking at).

[2017-05-04 13:58] cahartin commented on #331
@rpl originally i was using `toupper` or `tolower` to convert, but that's when i realized there were a few countries who weren't a straight conversion.

[2017-05-04 16:02] kvcalvin opened #346 "LB152.ag_GTAP_R_C_GLU_irr"
@bpbond: next chunk for Ryna. Can you set up?

[2017-05-04 18:32] pkyle commented on #338
Hmm...not sure how common it is, and the method here is pretty similar to others that might be captured under a similar function, or even the same one. Off the top of my head, it's used in socioeconomics for merging historical and future data, in the energy sector for computing industrial sector output and income elasticities (L232), in the ag sector for merging historical and projected yield, in

[2017-05-04 19:05] #88 closed

[2017-05-04 20:22] #315 closed

[2017-05-04 21:55] swaldhoff opened #349 "Maddison population data cleaning"
The chunk that reads and cleans the Maddison population data (zchunk_data_Maddison_population.R) seems to be reading the column headers as data, so there is an entry for "Country" with population values equal to the years in the data set. It doesn't really matter for the end results, because "Country" will get dropped since it has no iso code, but it's probably worth fixing the file.

[2017-05-04 22:08] bpbond commented on #349
Good catch--thanks. I'll commit a fix to `master`.

[2017-05-04 22:12] #349 closed

[2017-05-04 22:14] swaldhoff opened #350 "Maddison population data - Total Former USSR"
This chunk also removes the country entries with "Total" in the name, but this drops the Total Former USSR, which is needed for disaggregating the component countries in years prior to 1950.

[2017-05-04 22:14] bpbond commented on #349
Just as a followup - the fix was not to fix the _file_, which (presumably) comes from some external source in that format, but rather the _code_ to handle it.

[2017-05-04 22:15] bpbond commented on #350
Ah crap, that's absolutely my fault. DOUBLE good catch.

[2017-05-04 22:16] swaldhoff commented on #349
Good point. I should have said code, not file!

[2017-05-04 22:18] bpbond commented on #350
Just to be sure -- of all the subtotals ("Total ..."), there's one ("Total Former USSR") that we DO want to keep?

[2017-05-04 22:19] swaldhoff commented on #350
I probably would have done the same thing if I was cleaning it as a stand alone file. It wouldn't be obvious that we'd want to keep aggregate country/regions.

[2017-05-04 22:20] swaldhoff commented on #350
Yes, just "Total Former USSR".

[2017-05-04 22:21] bpbond commented on #350
Stupid file. OK, thank you!

[2017-05-04 22:25] #350 closed

[2017-05-04 22:27] swaldhoff commented on #350
Thank you!

[2017-05-05 03:59] d3y419 commented on #344
Sorry,  wrong chunk. Reassigned to gokul.

[2017-05-05 13:21] rplzzz commented on #338
Abstracting an operation like that is always better than implementing the individual steps, both for productivity and reliability.  The question here is, have we already done this as many times as we're going to do it, or are there still gains to be had?

[2017-05-05 13:33] kvcalvin commented on #331
@rplzzz: isn't `ROU` the correct code for Romania? That is what wikipedia says. If so, it seems like we are going through some hoops to make it wrong.

[2017-05-05 13:49] #266 closed

[2017-05-05 13:53] #269 closed

[2017-05-05 13:59] bpbond commented on #295
@russellhz It would be great to get this resolved soon, since it's throwing an "error" (tests don't formally fail, but a message pops up) on everyone's branches at this point.

[2017-05-05 14:15] cahartin opened #352 "Code not flexible for updating emission information"
In the future if we wanted to use updated emissions data out to let's say 2016, we can't easily add them in.  Within the code (L131.nonco2_proc_R_S_T_Y) it is hard coded to filter out any information past 2008.

For example, EDGAR VOCs have 2 more years of information than the other gases.  Now we are filtering out this information.

`EDGAR_gases %>%
      # filter out years 2009 and 2010 for NMVO

[2017-05-05 14:21] #346 closed

[2017-05-05 14:23] bpbond commented on #352
Could you clarify? Is this a bug? I need a better description of the problem please.

[2017-05-05 15:24] bpbond opened #354 "LA122.gasproc_refining"

[2017-05-05 15:31] bpbond commented on #354
Please deal with #342 before starting this.

[2017-05-05 15:43] #128 closed

[2017-05-05 15:51] bpbond commented on #321
The tags will be automatically generated, pulled directly from the old data system. More info on this coming soon.

[2017-05-05 16:06] cahartin opened #355 "L115.nh3_an_R_S_T_Y"
@bpbond  can you add in any necessary files?
@kdorheim give this one a shot and come to any of us if you have issues.

[2017-05-05 16:14] bpbond commented on #355
Looks reasonably straightforward though not super short. @kdorheim see how it goes but definitely please touch base with one or both of us before you get too far into this.

[2017-05-05 16:17] kdorheim commented on #355
Will do, thanks @bpbond and @cahartin

[2017-05-05 16:44] rhoesly commented on #327
Was adding me to this issue a nudge to get me to look at it? I'm happy to, I just need to know how much time/effort to allocate....

[2017-05-05 17:24] rplzzz commented on #331
The code for Romania changed from ROM to ROU in 2002 (see: https://web.archive.org/web/20110722001502/http://www.iso.org/iso/newsletter_v-3_romania.pdf).  As a result, both variants appear in our sources.  It doesn't matter which version we use (i.e., the "hoops" are the same either way), so long as we pick one and stick with it.

I'm not sure why we decided to go with the old code instead of the

[2017-05-05 17:30] rplzzz commented on #352
@cahartin Probably what you want to do is define a constant with a name something like "EDGAR_LAST_EMISSIONS_YEAR".  Then filter for `year <= EDGAR_LAST_EMISSIONS_YEAR`.  Then we can easily change its value.

You should make that change sooner rather than later, as the existing filter is very brittle (it takes out 2009 and 2010, but what happens if a revision to the database has even later years i

[2017-05-05 17:36] pkyle commented on #338
I don't know; if I had to guess I'd say 60% of the instances of this are already done, and 40% remain. Totally made up tho.

[2017-05-06 01:14] #295 closed

[2017-05-06 11:05] bpbond commented on #267
How's it going? Would it be useful to touch base about this early next week?

[2017-05-06 11:10] bpbond commented on #111
@crvernon @kvcalvin Should this chunk be reassigned to someone else? Don't know your (CV) time commitments, but it would be good to get it done one way or another.

[2017-05-06 15:35] bpbond opened #359 "LB134.Diet_Rfao"

[2017-05-06 15:47] bpbond commented on #359
@pkyle when you have time, can you provide information (units, source, and other documentation) for these files:

* FAO2050_Diet.csv
* A_FoodDemand_SSPs.csv
* FAO2050_items_cal.csv

Gracias!

[2017-05-07 14:05] bpbond commented on #359
Another question for you @pkyle - re lines 94-102:

[code]

So: (1) aggregate; (2) overwrite "total" GCAM_demand as "crops"; and (3) for all "crops" values, subtract out the corresponding "meat" values. My question - what's the logic behind steps 2 and 3, i.e. why does the data system do this? Not knowing the area, it's unclear to me. Thanks.

[2017-05-08 11:55] bpbond commented on #359
Note: in line 168 (and 206, 245, 284, and 323) the `for( i in X_future_years ){` loop starts without resetting `prev_i` to `X_final_historical_year` (as in line 162). I'm pretty sure this is a bug, though don't know if it has any impact or not.

FYI @pkyle

[2017-05-08 13:29] crvernon commented on #111
@bpbond @kvcalvin Apologies.  I have been swamped.  I will let you know by Wednesday, May 10 COB about getting to this.  If I cannot get a chance to do it by then, I will get you to reassign.  I am interested in helping out on this.  Thanks.

[2017-05-08 13:48] CLynchy commented on #267
Very sorry Ben.  I have not spent much time last week on the DSR chunk.  I will be making up for it this week.  There isn't a problem/issue that I am working on in the script that has stymied me.  I just need to focus on this chunk for a sustained period of time.

[2017-05-08 14:04] abigailsnyder opened #360 "LB133.ag_Costs_USA_C_2005"
Just a reminder I have nothing assigned to me right now

[2017-05-08 14:08] bpbond commented on #267
No worries. I was just checking.

[2017-05-08 14:15] bpbond commented on #360
Thanks. Kate may have other ideas but how about starting the first of the Level 2 scripts?

[2017-05-08 14:18] kvcalvin commented on #360
Yeah, let's do that. In theory, these should be easier than level 1, but since we haven't done one yet...

[2017-05-08 14:23] bpbond commented on #360
If it doesn't drive her crazy, maybe have @abigailsnyder run through the whole sequence `L201.ag_For_Past_bio_input`, `L2011.ag_For_Past_bio_input_irr.R`, `L2012.ag_For_Past_bio_input_irr_mgmt.R`. I don't know how much code overlap, if any, there is between these files, but there's certainly thematic overlap, so it makes sense for one person to do them.

[2017-05-08 14:24] bpbond opened #361 "L2011.ag_For_Past_bio_input_irr"

[2017-05-08 14:24] bpbond opened #362 "L2012.ag_For_Past_bio_input_irr_mgmt"

[2017-05-08 14:34] bpbond commented on #362
Closing after discussion with @kvcalvin

[2017-05-08 14:34] #362 closed

[2017-05-08 14:34] bpbond commented on #361
Closing after discussion with @kvcalvin

[2017-05-08 14:34] #361 closed

[2017-05-08 14:35] bpbond commented on #360
OK, after discussion with @kvcalvin this doesn't seem like a good idea for now. @abigailsnyder switching this to the shorter and more straightforward L241.trade_input. Sorry for confusion!

[2017-05-08 14:37] abigailsnyder commented on #360
Whatever makes sense in the grand plan is fine with me. It all has to get done eventually anyway

[2017-05-08 14:38] bpbond commented on #360
Well, that's the thing, we're not sure if the L201... series does have to get done, or not. Anyway, thank you!

[2017-05-08 15:10] kvcalvin commented on #331
More information on this issue:
The LDS data uses 'rom'. EDGAR and GDP use 'rou'. The GCAM iso to region mapping uses 'rom', so all of the country to iso maps use 'rom'. For consistency, we either need to (1) switch the LDS and mapping files to use 'rou' (which is the current iso), or (2) switch EDGAR and GDP to use 'rom'. For now, I suggest we use 'rom' since it involves the least amount of work.

[2017-05-08 15:22] abigailsnyder commented on #360
@bpbond @kvcalvin It looks like the L201 series does need to be done:
`L2012.AgProduction_ag_irr_mgmt` is an input to my current chunk `L241.trade_input`.
It is an output from  `L2012.ag_For_Past_bio_input_irr_mgmt.R` based on looking at the old DS. I can bring it over as a `temp-data-inject` but it looks like at least `L2012` will have to be done.

Based on the convention Page has used for other

[2017-05-08 15:32] bpbond commented on #360
Ah f***. OK, just to buy us time, I'm going to switch you to a 100-level file @abigailsnyder . Sorry.

[2017-05-08 15:38] bpbond opened #364 "LB141.ag_Fert_IFA_ctry_crop"

[2017-05-08 15:40] abigailsnyder commented on #360
am I ok to just bring over whatever external data I need, like `FILE = "aglu/USDA_crops"`

[2017-05-08 15:41] bpbond commented on #322
@cahartin - note that @kvcalvin has removed `EDGAR_nation.csv` from the repo, and we don't want to let it back in. Please touch base with her about this before getting too deep into this chunk.

[2017-05-08 15:45] bpbond commented on #332
Note this uses EDGAR_nation.csv but you're on top of that.

[2017-05-08 15:46] bpbond commented on #341
@rhoesly - this chunk uses `EDGAR_nation.csv` that we have removed from the repo, and don't want to let back in. Please talk to @kvcalvin about working around this. Thanks.

[2017-05-08 15:47] bpbond commented on #285
# ** NOTE *** the following file has been removed from the repo
             # please talk to Kate about why and how to work around this. Thanks
             # FILE = "emissions/EDGAR_nation",

[2017-05-08 15:49] bpbond commented on #340
# ** NOTE *** the following file has been removed from the repo
             # please talk to Kate about why and how to work around this. Thanks
             # FILE = "emissions/EDGAR_nation",

[2017-05-08 15:50] bpbond commented on #355
# ** NOTE *** the following file has been removed from the repo
             # please talk to Kate about why and how to work around this. Thanks
             # FILE = "emissions/EDGAR_nation",

@kdorheim - file above has been removed from the repo and we don't want it back in. @kvcalvin is writing a wiki page on how to deal with this; please touch base with her if unclear.

[2017-05-08 15:51] bpbond commented on #360
Right, you'll need to fill in metadata as much as possible, probably contacting Page for any details he can provide. Basically, `File`, `Title`, and `Units` are required; `Source` and `Comments` optional.

[2017-05-08 15:54] abigailsnyder commented on #360
cool cool cool, I'll get on it, thanks

[2017-05-08 16:03] bpbond commented on #331
Should this be closed?

[2017-05-08 16:18] kvcalvin commented on #331
@bpbond: I think it depends on whether we like this as a long-term fix.

[2017-05-08 16:20] bpbond commented on #331
Since this EDGAR-specific, I'm going to close it, with a reference to this discussion over in #105, which is about ISO regularization in general.

[2017-05-08 16:20] #331 closed

[2017-05-08 16:21] bpbond commented on #105
When we come back to this - see discussion and solution (use of `change_iso_code`) done in #331 .

[2017-05-08 17:02] abigailsnyder opened #365 "AGLU input file: USDA_cost_data"
This is housed in extdata/aglu in the new DS and in aglu-data/level0 in the old DS.

This input file does not match itself in the old versus new DS. For example, in the old DS,
Corn, Primary output is 366.459 in 1996.
In the new DS, the value is 363.9184. This mismatch persists throughout the table.
So using the file `USDA_cost_data` that is already in the new DS repository should fundamentally le

[2017-05-08 17:04] bpbond opened #366 "Make an easy combine-old-and-new-data-and-plot function"
To help people with debugging.

[2017-05-08 17:06] bpbond commented on #365
I just ran `git blame` on this file and got...myself. Hmm. I have no idea why it would differ from old to new. Uh...any ideas @pkyle ?

[2017-05-08 17:25] pkyle commented on #365
OK this one might be on me...not sure. In switching from the AEZ-based to the basin-based model (i.e., from master to integration/water-ssp), the "USDA_cost_data.csv" table itself changed, as we went from using sub-national cost data to national averages. The table in the gcam-data-system-OLD/aglu-data/level0/ folder is correct. The table in inst/extdata/aglu is incorrect, and you can tell because

[2017-05-08 17:26] pkyle commented on #365
Might want to check who added the inst/extdata/aglu/usda_cost_data.csv file, but either way it's probably irrelevant b/c I think this is the only R code chunk that uses that data table, so switching it shouldn't cause a trainwreck elsewhere

[2017-05-08 17:29] abigailsnyder commented on #365
great, I will copy it over. Thanks!

[2017-05-08 17:35] pkyle commented on #365
Cool...but I just noticed that I didn't update the description: "Itemized costs by crop and sub-region of USA". It's not by sub-region. Should read something like "Itemized costs and returns of crop production by crop; USA national averages"

[2017-05-08 17:39] abigailsnyder commented on #365
Thanks for that information, that's an easy update for me to make.

[2017-05-08 17:43] #291 closed

[2017-05-08 17:44] #292 closed

[2017-05-08 18:11] #365 closed

[2017-05-08 18:56] rplzzz opened #368 "Fix "no visible bindings" messages"
The package checker produces an enormous number of messages that look like this:
[code]
There are so many of these that when something actually fails, it's not so easy to find it in the output.  These messages are resulting from the nonstandard evaluation in dplyr, and the straightforward, if a little inelegant, fix is to do some dummy assignments at the beginning of the function that uses them.

[2017-05-08 19:35] pralitp opened #369 "Column ordering matters when converting to XML"
We have thus far been flexible with regards to column ordering, allowing the order to differ from the old data system so long as the content was the same.

Unfortunately converting tables to XML does currently assume some column ordering since the Model Interface "header" maps columns based on column positions ignoring what the actual column names in the table being converted are.

I could see two

[2017-05-08 19:37] pralitp commented on #369
I could imagine @pkyle and @rplzzz may have ideas on this issue.

[2017-05-08 20:12] bpbond opened #371 "L252.Trn_Inc_Elas_scenarios outputs incomplete?"
This chunk produces ten outputs:
[code]
...but looking at the original data system R script, it looks like there's also supposed to be a `L252.IncomeElasticity_trn_GCAM3` object too?

[code]

[2017-05-08 20:15] bpbond opened #372 "zchunk_batch_trn_agg_GCAM3.xml.R incomplete"
Tied to #371 - making this separate issue so I don't lose track

[2017-05-08 20:16] russellhz commented on #371
This was because @rplzzz and @d3y419 asked me to remove all GCAM3 stuff

[2017-05-08 20:23] bpbond commented on #371
Ah, right! Thanks.

[2017-05-08 20:23] #371 closed

[2017-05-08 20:23] bpbond commented on #372
Double-check both L242 and L252 outputs.

[2017-05-08 20:47] pkyle commented on #369
I don't see any way that the model interface could always correctly guess the column ordering from the strings we're using as column names, at least not unless we make the column names much more verbose. For example, where we currently name a column "year", we'd need to name it "technology/+{year}period", or "subsector/+{year}share-weight", or whatever the correct string is for the given header/co

[2017-05-09 00:59] bpbond commented on #368
Sigh. Yeah, probably, agreed. The one thing I'd say is let's prefix the definition block with a constant marker so it's easy to take them out/change automated-ly in the future, if we want. E.g.
[code]

[2017-05-09 01:00] #184 closed

[2017-05-09 01:15] #372 closed

[2017-05-09 13:05] rplzzz commented on #369
Keeping a database of expected column orderings seems like the lest bad solution in this case.  It should be easy to supply a utility subroutine to reorder the columns according to what's in the DB.

In the long run my concern with all of this is that anybody attempting to add a feature to GCAM is going to have a very hard time figuring out how to get the XML conversion to work.  For purposes of g

[2017-05-09 13:08] rplzzz commented on #368
Sounds reasonable.  Also, butting it right at the beginning of each function will help.

I'll do some work on this in the background.  Also, we can start looking for it in the new modules as people submit them.

[2017-05-09 14:40] pralitp commented on #369
Yea, I didn't fully appreciate all of the cases where trying to match column names would be difficult as Page points out.

So I agree with Robert.  Keeping the Level 2 data names database is the least bad solution.  Given we already have this from the old data system getting it up and running won't be difficult.  Here is what I am thinking:  Write some script to translate the current definitions t

[2017-05-09 14:44] pralitp commented on #369
With regards to maintaining into the future maybe we should open a separate issue?  I think that is just a question of documentation since setting up the conversion isn't really that complicated.  It basically boils down to setting up a mapping from columns in a table to XML tag names used in GCAM including parent/child relationship.

[2017-05-09 15:45] #336 closed

[2017-05-09 16:07] pkyle commented on #369
This all sounds good to me--wrt the issue about constructing the "header" list, note that a lot of the level2 data tables don't have their own R object in level2_data_names, and conversely, a lot of the objects in level2_data_names.R are only used in the processing code when concatenated with other strings (generally keyed manually), for column selection and ordering. These objects in level2_data_

[2017-05-09 16:09] bpbond opened #376 "LB171"

[2017-05-09 16:09] #376 closed

[2017-05-09 16:11] bpbond opened #377 "LB171.LC_R_Cropland_Yh_GLU_irr"

[2017-05-09 16:12] bpbond opened #378 "LB181.ag_R_C_Y_GLU_irr_mgmt"

[2017-05-09 16:12] bpbond commented on #378
This is long.

[2017-05-09 16:16] rplzzz commented on #369
@pralitp Definitely a matter for the future.  I just wanted to get it on your radar.

[2017-05-09 17:32] cahartin commented on #282
@ssmithClimate  here is your "upnext" chunk.

[2017-05-09 17:54] pkyle commented on #359
FAO2050_Diet.csv: Title: Changes in the commodity composition of food by major country groups. Description: FAO dietary projections to 2050 by world region and commodity class. Units: kcal/person/day. Source: Tables 2.7 and 2.8 of FAO, 2006, World Agriculture: Towards 2030/2050. Global Perspective Studies Unit, Food and Agriculture Organization of the United Nations. http://www.fao.org/fileadmin/u

[2017-05-09 17:55] #360 closed

[2017-05-09 17:57] #129 closed

[2017-05-09 18:09] pkyle commented on #359
Re lines 94-102 - I honestly don't remember, but just looking at the data, it's clear that I couldn't just use exogenous caloric contents for the crop and meat commodities, which I'm estimating as averages without knowing the exact composition of the commodities (e.g., what portion of "cereals" is corn vs wheat in each region, as they have different caloric contents), and still hit the target repo

[2017-05-09 18:09] #140 closed

[2017-05-09 18:23] pkyle commented on #359
Re lines 168 (and 206, 245, 284, and 323), not sure but I was not the author-- @kvcalvin can you have a look? This is a section that's never been in the core model, so if it is a bug we can fix it prior to the merge without needing to write up a core model proposal.

[2017-05-09 18:35] kvcalvin commented on #359
@bpbond: With respect to A_FoodDemand_SSPs.csv, `max.mult` is supposed to be the maximum growth rate in per capital caloric intake from one period to the next. It is currently set very large for crops (i.e., non-binding) and to 2% per year (10.4% per 5-year time period) for meat. The idea is that the SSPs use GDP per capita to forecast future caloric intake, but in some regions income grows super-

[2017-05-09 18:36] kvcalvin commented on #359
For line 168 (etc), it does look like a bug at first glance, but I'd need to run the code to see the implications.

[2017-05-09 19:20] bpbond opened #379 "Speed up the driver by adding a `run_only_to` capability?"
As our list of active chunks grows, the driver is getting slower, and I suspect this is increasingly taking a toll on folks' productivity. (Start the driver, go get coffee...) I've been thinking about ways to speed it up and, more generally, the development process.

One idea: if someone is working on chunk XX, it would be great to be able to tell the driver "run only the chunks necessary to make

[2017-05-09 19:33] #294 closed

[2017-05-09 20:08] kvcalvin commented on #379
This sounds like a good idea to me. Another thing that would be good is to only need to test one chunk at a time, since that is also taking longer.

[2017-05-09 20:24] aarony2j opened #381 "LA118.hydro"
@bpbond @gokuliyer
Hi Ben, I'm claiming the LA.118.hydro chunk in energy. Can you double check that its unclaimed and, if so, make available to be worked on. Thanks!

[2017-05-09 20:38] bpbond commented on #379
@kvcalvin good idea. The run_only_to mechanism, by itself, would speed up testing (as only the chunks that ran would be tested) but we could go further.

[2017-05-09 20:42] bpbond commented on #381
Sounds good. File(s) coming shortly.

[2017-05-09 20:44] CLynchy commented on #267
There is a function in the old data system called "rename_SO2".  From the old data system that function does this:
rename_SO2 <- function( data, so2_map, is.awb = FALSE ){
  data_so2 <- subset( data, data$Non.CO2 == "SO2" )
  data_notso2 <- subset( data, data$Non.CO2 != "SO2" )
  if ( is.awb ) {
    data_so2 <- subset( data, data$Non.CO2 == "SO2_AWB" )
    data_notso2 <- subset( data, data$Non.CO2

[2017-05-09 21:01] bpbond opened #382 "LA100.IEA_downscale_ctry"
Repo needs to become private when this is started--will require commit of proprietary `en_nonOECD.csv` and `en_OECD.csv` files.

...or, use of the OPTIONAL_FILE mechanism.

[2017-05-09 21:26] bpbond commented on #267
@CLynchy It looks like `rename_SO2` is called quite a bit in the old data system so yes, we'll want to break it into its own function, as before, accessible in the namespace. `module-helpers.R` is the right place for this, I think; I'll open a PR and tag Page for more information re `is.awb` and stuff like that.

[2017-05-10 02:35] bpbond opened #384 "module_emissions_L102.ghg_en_USA_S_T_Y header info incomplete"
[code]

@d3y419 can you complete this information (line 3 and and `@details`) and then open a PR please?

[2017-05-10 03:00] #384 closed

[2017-05-10 11:26] #328 closed

[2017-05-10 11:27] bpbond commented on #303
See also #258

[2017-05-10 12:03] rplzzz commented on #379
As of the latest master, on my workstation a full driver run takes 51 s, with 17 s of that being data output.  The test suite takes 68 s, with 45 s of that  being the time shifting test.  Neither of these totals seems long enough to me to warrant putting any significant effort into customizing the run process.  One thing that might be a quick win would be to make it possible to disable the time sh

[2017-05-10 12:09] rplzzz commented on #379
Profile reports:

http://rpubs.com/Robert_Link/prof-driver-6dfc286
http://rpubs.com/Robert_Link/prof-test-6dfc286

[2017-05-10 13:10] rplzzz commented on #382
I'm not crazy about the idea of committing proprietary data to this repository.  A better strategy would be to use the optional file mechanism and to get the include the IEA files as a submodule (there is a repository on our internal BitBucket server that contains them).  If you don't have access to the internal server, you won't be able to update the submodule; therefore, the files won't be there

[2017-05-10 13:16] bpbond commented on #382
That's fine. Opened this issue b/c I didn't want to start someone on this without thinking about it, then have them commit the proprietary data open to the world.

[2017-05-10 13:18] abigailsnyder commented on #379
I see both sides. For now, it's on the cusp of not _too_ bad in terms of the time.  I see on slack that we can skip the time shift test to speed things up. Maybe this is enough for now and we can revisit the driver when more chunks are committed? I'd say once the driver run starts taking more like 2-3+ minutes, that hits the awkward spot of a long time sitting and waiting but not long enough to do

[2017-05-10 13:23] bpbond commented on #379
Agreed @rplzzz @abigailsnyder . Thanks. OK, I put the note on Slack about skipping timeshift, which hopefully will help. Otherwise, we can leave this for now.

Multiple driver runs probably only really start becoming an issue late in the game, when you have a running chunk but are trying to figure out why its outputs are failing tests.

[2017-05-10 13:29] abigailsnyder commented on #379
ah, the most fun time in DSR

[2017-05-10 13:54] rplzzz commented on #382
Perhaps we should add a pre-receive hook to reject any such attempt.

[2017-05-10 13:57] bpbond commented on #382
More trouble than it's worth IMO. This is the only chunk that uses those data; no one will start this chunk until they have the skeleton from me; so I think it'll be OK, barring a malicious proprietary-data-committer.

[2017-05-10 13:57] bpbond commented on #382
...that said, no harm in putting it in. The two files are listed above.

[2017-05-10 14:02] rplzzz commented on #382
Unfortunately, GitHub doesn't support pre-receive hooks, so the question is moot.

[2017-05-10 15:14] bpbond commented on #382
Basically, it looks like this chunk will take three optional inputs: the two listed above, as well as `L100.IEA_en_bal_ctry_hist.csv`. It will:

* If the proprietary data files are available, calculate `L100.IEA_en_bal_ctry_hist` (replicating existing data system logic) and return that to the driver
* If proprietary files are not available, instead return read-in `L100.IEA_en_bal_ctry_hist.csv`, i

[2017-05-10 17:21] rynacui commented on #221
@rplzzz @swaldhoff Here is the issue I opened up a while ago, about the Ag price aggregation and dollar conversion method. I did not include it into the `old_data_system_behavior` while I was working on this chunk. How would you like me to address this?

[2017-05-10 17:36] bpbond commented on #359
Thanks @pkyle @kvcalvin

[2017-05-10 17:49] bpbond opened #388 "test_timeshift needs to fail correctly!"
Currently it doesn't - prints an error message with no context at end of testing. Very confusing.

[2017-05-10 18:04] swaldhoff commented on #221
I think it would be helpful if you could add the corrections to the price and cost data processing with the old_data_system_behavior function.

[2017-05-10 19:01] abigailsnyder commented on #364
I can't find this zchunk in the new ds repository

[2017-05-10 19:55] rynacui commented on #388
In #389, it seems very annoying because the entire data set needs to be extended back before 1971, which are not used at all, just to allow the `timeshift`.

[2017-05-10 19:59] crvernon commented on #111
@bpbond @kvcalvin Still working to make time for this.  If this this chunk is a dependency for another where someone is waiting, I would reassign.  If not, I will try to get to it by the end of the week.  Thanks.

[2017-05-10 23:58] bpbond commented on #388
This really goes to a question @rplzzz  and others have asked--what exactly do we want the timeshift test to be testing? Right now it adds 1 to `HISTORICAL_YEARS`, `AGLU_HISTORICAL_YEARS`, and `FAO_HISTORICAL_YEARS`, and 5 to `FUTURE_YEARS`, and ensures things run without error.

@kvcalvin and others does this make sense? The goal is to ensure some degree of temporal flexibility, but is the right

[2017-05-11 03:30] bpbond commented on #359
FYI - this line 168 bug is, in fact, a bug. The result is that if the value in the final historical year (2010) is zero, 'NaN' is written to all future years--but only for meat, not crops. However there's a `is.na` trap at the end that subsequently turns these back into zeroes (so correct value for the wrong reason). This only occurs in GCAM region 30.

[2017-05-11 10:22] bpbond commented on #359
...actually no, this bug actually sprays incorrect values throughout the data frame.

[2017-05-11 10:38] bpbond commented on #364
Sorry about that.

[2017-05-11 11:13] rplzzz commented on #388
I think we should defer this for now.  Get everything converted into a code base we can work with, and then we can figure out what is supposed to happen in time shifting, rejigger the tests accordingly, and see which modules aren't doing it right.

[2017-05-11 11:19] bpbond commented on #388
To clarify, are you suggesting we disable the timeshift test entirely for now, at least until v1?

[2017-05-11 11:23] rplzzz commented on #388
As long as it's not causing failures we don't know (i.e., haven't yet decided) how to fix, I don't see any harm in leaving it in.

[2017-05-11 11:26] bpbond commented on #388
It is, however, creating more work for people to address (see @rynacui comments above), when we're not sure if that work is necessary or not.

[2017-05-11 11:51] rplzzz commented on #388
Well, then, let's just skip those tests for now, and we can circle back and make fixes once we've figured out how it's supposed to be working.

[2017-05-11 13:54] bpbond opened #391 "Why are regular tests w/ round() failing on differences < 10^-9"
@rplzzz in #387

We've seen this a lot. Tiny differences, but failure. Also, the `signif` versus `round` question.

[2017-05-11 15:19] pkyle commented on #359
Just FYI, region 30 is Taiwan which is a "no-aglu" region and any values won't make it into the model anyway. But for dealing with this, do you think this is a case where we don't force ourselves to replicate the values from prior? Or, fix the bug in the "old" data system and update the comparison files? If this would be difficult to replicate in tidyr, I just don't think it's worth the effort bec

[2017-05-11 17:07] bpbond commented on #388
@kvcalvin thoughts on disabling time shift for now?

[2017-05-11 19:19] bpbond opened #394 "LA132.industry"
Note this uses `A_regions.csv`, one column of which was renamed in #353 .

[2017-05-11 19:19] bpbond opened #395 "142.building_ag"
Note this uses `A_regions.csv`, one column of which was renamed in #353 .

[2017-05-11 19:20] bpbond opened #396 "LA144.building_det_en"
Note this uses `A_regions.csv`, one column of which was renamed in #353 .

[2017-05-11 20:46] #139 closed

[2017-05-11 20:50] #177 closed

[2017-05-11 22:51] bpbond commented on #388
I worked on Jill's #353 a bit to make it pass timeshift and have to say--I've strongly swung back to keeping this test, albeit in a modified form. It was not hard to make the code handle it, and makes it _a lot more robust_.

That said, I think @rynacui is right above, that's there's no point in asking the code to handle _arbitrary_ shifts. But at the very least, it should handle changing from `HI

[2017-05-12 01:32] #254 closed

[2017-05-12 01:33] bpbond commented on #159
This is basically superseded by #388 - closing.

[2017-05-12 01:33] #159 closed

[2017-05-12 12:24] kvcalvin commented on #388
@bpbond: I tend to agree with your latest position. Part of the motivation for DSR was that we couldn't get a annual hindcast to work in the old data system, something that is a deliverable this FY. I think it would be a bad thing if at the end of this we still couldn't do that. So, I support the one year shift test. For the `HISTORICAL_YEARS`, I think what you propose is right -- see if 1971-2011

[2017-05-12 12:41] #377 closed

[2017-05-12 14:46] rplzzz opened #397 "module_socioeconomics_L242.Bld_Inc_Elas_scenarios crashes at line 52"
The error produced is
[code]

[2017-05-12 14:54] bpbond commented on #397
This is in your `master`?

[2017-05-12 14:58] rplzzz commented on #397
Yes.
[code]

[2017-05-12 15:12] #397 closed

[2017-05-12 15:30] bpbond commented on #388
I think ensuring chunks can handle 1971-2011 (historical) and 2016-2096 (future) sounds good. We can say by default you should use, if necessary, `approx_fun(..., rule = 2)` which will extend the time series using the last value. This still leaves unresolved many questions, but hopefully will be a good step and doable for V1.

I'll start a branch.

[2017-05-12 16:26] bpbond commented on #359
Thanks Page. It wasn't hard to replicate, actually. But you make a really good point--for some bugs we may want to do exactly what you suggest (fix in old system and update comparison files).

[2017-05-12 21:48] #98 closed

[2017-05-13 02:41] d3y419 commented on #325
@bpbond : chunk generator please

[2017-05-13 11:48] bpbond commented on #325
OK

[2017-05-13 11:58] bpbond commented on #388
@rplzzz I've been trying to make a `complete_yearvalue_data` function, a convenience function to make dealing with timeshift easier: it would take a tibble `d` and a `year_range`, (i) `complete` the tibble putting NAs into `value`, and (ii) interpolate out `value` to any missing years. So if `AGLU_HISTORICAL_YEARS` gets extended to 2011, and the data only go to 2010, this would extend the data in

[2017-05-13 11:58] rplzzz commented on #388
@bpbond @kvcalvin I think we're still getting it wrong.  On further thought, the main source of our problems is that we are making `HISTORICAL_YEARS` do double duty as "the years that can be found in the historical data" in some parts of the code and "the years that will be treated by GCAM as historical" in others.  This is an error because those two are not always one and the same. (And a similar

[2017-05-13 12:05] rplzzz commented on #388
@bpbond Let me see what I can do with it.  To be honest, I've not had good success with `complete` in any circumstance, and the documentation for that function is maddeningly vague.  (Pro-tip:  if you're going to describe a function as "a wrapper around" some other functions, you should at least give the equivalent sequence of calls to the other function.)  We might be better off just to forget ab

[2017-05-13 13:40] bpbond commented on #388
I basically agree. Right now no chunk can be confident of what years are, or aren't, in its input data. We'd like a layer/step that guarantees that all data are complete throughout (e.g.) `HISTORICAL_YEARS` and smoothly transition to `FUTURE_YEARS`. Any subsequent chunks then don't have to worry about this issue.

Yeah, I've fixed this in a branch.

Thanks for looking. Agreed, `tidyr` documentatio

[2017-05-13 13:43] bpbond commented on #388
Brainstorming...we could require that all chunk outputs be tagged with a TIME_COVERAGE attribute that specifies what period (`HISTORICAL_YEARS`, etc.) it's guaranteed to cover. The test code could then check that data exist for every year in that period. That would force the initial handling chunk for any data to handle gaps.

[2017-05-13 15:34] kvcalvin commented on #388
Good point @rplzzz. I guess when I was specifying the years I wanted to test. I meant that I wanted to ensure that the model will write out correct data for those years. That does put a different burden on the input data. I think in addition to the capabilities you point out I would also add that we need GCAM to have inputs to run annually to your list.

I agree that we probably don't need the mod

[2017-05-13 15:35] kvcalvin commented on #388
Oh, and you are probably right that the current code wouldn't pass any test we come up with. I'd still be inclined to implement as soon as possible and have one of us fix the failing chunks. Then, we can force all future chunks to pass from the outset. This seems easier than us having to go through all 150 chunks at the end.

[2017-05-15 08:55] bpbond opened #402 "Circle back to L100.Population_downscale_ctry"
Lines 104-124 in this chunk reshape the data several times and use hard-coded years to fill in missing values.  It seems like there should be a way to do this more cleanly and robustly.

[2017-05-15 17:37] bpbond commented on #388
Kate and I met about this, and have the following proposal:

* Chunks have to handle `HISTORICAL_YEARS` set to 1971-1975 and `FUTURE_YEARS` set to 1976-2000. This change to the `timeshift` test would address the hindcasting problem that was one of the big impetuses behind DSR, and doesn't require that chunks extrapolate beyond the end of history. We would need to make this change in a branch and t

[2017-05-15 18:53] #379 closed

[2017-05-16 11:03] rplzzz commented on #388
To reconcile old-new testing with annual data, we just need to filter the new data set to just the years contained in the old before we run the test.

To detect failure to produce annual data, we need a new test, but there are two ways to go about it.  We could check to see that every year from 1971 - 2100 is in the year column.  E.g,
[code]
This will pass as long as there is _something_ for each

[2017-05-16 11:18] bpbond commented on #388
It's not that simple, because there are datasets that aren't in the year/value long form, and may be in unpredictable forms. Could be done though.

Yes. It's not worth checking the full factorial for every year, particularly when there may well be edge cases when combinations are missing for some (valid) reason.

[2017-05-16 21:54] aarony2j opened #406 "Hydro - replacing values in 2020 in favor of calculating them"
<update> This issue is about two things (and are described in further detail below) regarding the PR #404 (LA.118.Hydro):
1) deciding whether 2020 should be dropped before interpolating future values
2) whether to use the regional detail of A18.hydro.ouput to calculate values (which is how its done now) instead of using the global total and using the country allocation already determined (I think

[2017-05-16 23:02] aarony2j opened #407 "LA1321.Cement - AJS"

[2017-05-17 00:50] #267 closed

[2017-05-17 00:57] bpbond commented on #178
Reassigning this to Aaron.

[2017-05-17 00:58] bpbond commented on #178
@aarony2j - see note above about "tricky" - may want to check with Pralit. Take a look.

[2017-05-17 02:59] d3y419 commented on #337
@pkyle said there are a few more places that GCAM3 is used. https://confluence.pnnl.gov/confluence/display/JGCRI/246+Core+Model+Proposal%3A+Deprecate+GCAM3+socioeconomics+in+DSR+2017-05-03

1.  level2 electricity (L223.electricity), in going from the share-weights assumed by GCAM3 region to the country and back up to the new regions, it's just hard-wired to use the GCAM3 socioeconomics
2. HDD/CDD

[2017-05-17 13:28] aarony2j commented on #407
@bpbond Hi Ben, can you make this file(s) available? Thanks!

[2017-05-17 16:07] pkyle commented on #320
In extdata/emissions/RCP_BC_2000.csv and RCP_OC_2000.csv, the old data system and all versions of GCAM had #N/A for the iso of The Bahamas, whereas in the gcamdata package, this has been corrected. The L123. code chunk that currently uses it isn't affected by the missing value (due to another error that I made in the old data system), but this chunk will return different outputs if that iso value

[2017-05-17 16:10] abigailsnyder commented on #364
@pkyle @bpbond a question: I am again running into a multiple countries sharing an iso question. This time, it's a little less clear how we want to handle it. I can definitely replicate the behavior of the old system, so I can keep chugging along and translating. And the behavior of the old system may be the behavior we actually intend.  But even if that's the case, the way I have implemented this

[2017-05-17 16:12] bpbond commented on #320
We can, though; that's one role "data chunks" can play.

Sounds exactly right.

[2017-05-17 16:14] #359 closed

[2017-05-17 16:24] bpbond commented on #382
Hey @pkyle whenever convenient - can you provide any metadata information (source, units, comments) you know re these files? Thanks.

* `en_nonOECD.csv` and `en_OECD.csv`
* `IEA_product_downscaling.csv`
* `IEA_ctry.csv`

[2017-05-17 16:34] pkyle commented on #364
Wow, thanks! I had not been aware of that (obvi).
It looks like there were duplicate rows for every country that dissolved (Czechoslovakia, USSR, Yugoslavia), and the IFA2002_country values were filled correctly in all of them except for Croatia, where I only wrote it for one of the rows. I don't see any harm in doing a first-match here, but it only works in the case of Croatia because Croatia hap

[2017-05-17 16:40] abigailsnyder commented on #364
Ok, so it sounds like it's just a matter of programming the correct behavior in a less ugly way than I currently am, rather than an ideological fix. Hooray

[2017-05-17 17:37] rplzzz opened #408 "Undefined variables in LA100.0_LDS_preprocessing"
This file generates several notes in the check logs:
[code]
Unlike the usual case, where these problems are caused by NSE in dplyr functions (and therefore harmless), this one is caused by this statement:
[code]
For the variables mentioned in the warning messages above, this line is their only mention; they are not created in the function. This raises two questions:
1. How is this running at all?

[2017-05-17 17:42] bpbond commented on #408
It's because this is an unusual chunk: it reads its outputs, and assigns its outputs, dynamically:

[code]

We can add a `L100.Land_type_area_ha <- ... <- NULL` up top to clear the notes.

[2017-05-17 17:43] bpbond commented on #408
Closing as this is just a special case of #368

[2017-05-17 17:43] #408 closed

[2017-05-17 18:36] pkyle commented on #382
**en_nonOECD.csv**
Title: Energy Balances of non-OECD Countries 1971-2010 (2012 Edition)
Source: International Energy Agency, https://www.iea.org/statistics/relateddatabases/energybalancesofnon-oecdcountries/
Units: kilotonnes of oil equivalent (ktoe), TJ (for heat flows), GWh (for electricity flows)
Description: Extended energy balances of non-OECD nations, exported from Beyond2020 Browser. Note

[2017-05-17 20:09] skim301 commented on #406
Also, I find it odd that we have a bottom up approach to calculating hydropower production, but then continue to match old GCAM 3.0 values.

[2017-05-17 20:10] skim301 commented on #406
sorry wrong button

[2017-05-17 22:17] aarony2j commented on #407
@bpbond This was a bit confusing. Can you make available LA1321.Cement from GCAM-USA? You released LA1321.cement from Energy. Thanks!

[2017-05-17 22:59] bpbond commented on #407
Sorry about that!

[2017-05-17 23:16] bpbond commented on #407
I have you currently working on LA114.wind-energy; is that incorrect? I mean, is that "in progress", is this, or both? Thanks. -B

[2017-05-18 00:14] aarony2j commented on #407
Thanks. Yeah, I'm still doing wind, but I had started cement in the meantime yesterday before wind was assigned. Would you rather not have me work on two at once? Maybe I need to be more diligent on getting an upnext ready to go, because I'd rather not have downtime when I have time and interest to work  on this.

[2017-05-18 00:23] bpbond commented on #407
No, whatever works for you is fine!

[2017-05-18 00:37] bpbond commented on #382
You rock @pkyle - thanks.  👍

[2017-05-18 00:58] aarony2j commented on #406
Are you saying to use the global value from A18.hydro and allocate it according to the country's global share instead of its region share? That makes sense to me.

Also, here's the table in question if it helps with the decision process of whether to drop 2020. (or maybe its a moot point if the global value is used) Here's the global value (2020 is lower than 2010)
````2010`   `2020`  `2035`   `20

[2017-05-18 01:03] bpbond commented on #406
AUGH! MY EYES! ...I put those numbers into a table for sanity's sake.

[2017-05-18 01:39] aarony2j commented on #406
lol. i tried using backticks and then stopped trying...

[2017-05-18 14:03] #282 closed

[2017-05-18 14:10] abigailsnyder commented on #364
@pkyle - more questions, sorry! I've got it translated and passing tests, now I'm cleaning up and doing comments. So I'm sure this won't be the only one

In lines 65-68 in the old DS, the comment indicates "Aggregate IFA fertilizer consumption by its 24 regions and compute scalers to match the FAO totals"
But the lines of code following that comment don't do that; they just convert IFA top down fe

[2017-05-18 14:50] bpbond opened #410 "L2233.electricity_water"
@swd-turner are you willing to take on this monster (500+ lines)?

[2017-05-18 15:01] swd-turner commented on #410
haha I spoke too soon!! Ok no problem.

[2017-05-18 15:03] bpbond commented on #410
Yes, let this be a lesson to you.  😆

It's not only long but has some funky features--looks like programmatically reads in inputs, for example.

But if you make it back from this quest, we'll knight you!

[2017-05-18 15:10] swd-turner commented on #410
Ok, possible knighthood should be a good motivation to get it done!

[2017-05-18 16:06] bpbond opened #412 "Once #356 is merged change modeltime to use BASE_YEARS and FUTURE_YEARS"
and straighten out duplicate definitions in `constants.R`

[2017-05-18 19:15] jhoring commented on #182
@bpbond Does your note about not having all the data still apply?

[2017-05-18 19:32] bpbond commented on #182
I don't know; you'll need to check and put any missing stuff into `temp-data-inject` as necessary. Make sense?

[2017-05-18 19:48] bpbond commented on #368
Fixed in #413

[2017-05-18 19:48] #368 closed

[2017-05-18 19:49] jhoring commented on #182
Yes, no problem!

[2017-05-18 20:23] swd-turner opened #415 "Missing units and source for A23.globalinttech.csv"
Sixth column appears to be a cost. Assume it's USD, but need to know year (difficult to discern from chunk #410 on the old data system as the cost variable doesn't seem to be used there).

Also, is there a source for these assumptions?

[code]

@bpbond can you assign the relevant person?

[2017-05-18 20:30] #165 closed

[2017-05-18 21:04] pkyle commented on #415
All of these parameters are just GCAM assumptions; there's no external source.
backup.capital.cost: Unit: 1975$/kW/yr. Description: Annualized capital cost per kW of backup capacity that intermittent renewable technologies may be required to purchase to ensure electricity supply reliability.
backup.capacity.factor: Unitless. Description: assumed capacity factor of purchased backup capacity.
capaci

[2017-05-18 21:06] swd-turner commented on #415
Thanks!

[2017-05-18 21:37] pkyle commented on #364
Sorry about that! This is describing a method that didn't end up working, and that I later over-wrote, but then I failed to take out the comment. Just line 65 is bad; 64 is OK (though more broad than this individual dataset).

[2017-05-18 22:46] pkyle commented on #406
Yeah, the basic method here involves jumping through hoops in order to preserve prior GCAM assumptions; hydro's always been a bit of an after-thought. The reason why the 2020 values are lower than the present-day is that I estimated them in about 2008, based on dams that were actively under construction at the time and large enough to have references on-line. Anyway going forward there are a lot o

[2017-05-18 22:52] aarony2j opened #416 "Update state-level data for value of cement shipments?"
Regarding chunk LA1321.Cement in GCAM-USA, the state allocation is calculated to be in proportion to the value of cement shipments. The data is from 2008, and I thought we might as well update it.

However, I was surfing through the industry data from the U.S. Census Bureau, but couldn't find where the data came from. @pkyle or @gokuliyer can you help me with that. Is this even worth it?

[2017-05-18 22:59] aarony2j commented on #406
Thanks. So for the downscaling, do you think its best if we remove the intermediary and calculate country share from global data?

And for 2020, should I calculate 2020 values with more recent data? If not, what's the next step?

[2017-05-19 13:03] rplzzz commented on #416
If it were me, I'd defer changes of this sort until after the translation is complete.  Also, note that any such change will require a core model proposal.

[2017-05-19 13:54] bpbond opened #417 "L206.ag_Fert, L2061.ag_Fert_irr, L2062.ag_Fert_irr_mgmt"
Short: 120, 93, and 62 lines respectively.

[2017-05-19 14:06] bpbond commented on #416
FWIW I agree, and am putting this in the "Version 2.0" milestone for now. Up to you all though!

[2017-05-19 14:21] bpbond commented on #415
Sounds like this can be closed.

[2017-05-19 14:21] #415 closed

[2017-05-19 14:55] pkyle commented on #416
Agreed that it's not necessary for the present endeavor, but for the state-level value of shipments, I think @rhoesly would know where specifically on the Census website (if an updated dataset is available), as she's working on implementing the detailed US industrial module.

[2017-05-19 14:59] pkyle commented on #416
Also FWIW, the value of shipments of NAICS 3273 might not be the best way to do this--there are only something like 20 cement factories in the whole US, whereas concrete mixing plants are ubiquitous (there's even one in DC!). So we've probably got the cement manufacturing energy mis-allocated with the current approach, and if you just google cement factories in the US, that might be better/quicker

[2017-05-19 15:11] swd-turner commented on #410
@bpbond regarding the programmatic reading in of inputs in a for loop... you've added a comment to the chunk that says this needs to be changed to explicit get_data calls... by this I assume you mean that we need to split this out so that all 53 inputs are assigned as single variables and given a `get_data` line. That right?

[2017-05-19 15:20] pkyle commented on #252
All: don't know if we care but I just noticed last night that the emissions/mappings/GCAM_sector_tech file is read in and listed as a precursor for the output but isn't actually used. I'd be happy to make the change and put in a new pull request, and equally happy to ignore!

[2017-05-19 15:52] bpbond commented on #410
Sorry, no, not necessarily. See the `LA100.0_LDS_preprocessing` chunk for example, which uses a loop to generate its input and output declarations.

[2017-05-19 15:53] bpbond commented on #252
@pkyle nice catch. We do care! Please open a PR.

[2017-05-19 15:59] pkyle commented on #406
No, I don't think I'd do that--for now I'd say just replicate the method that's there, and just leave a note that it's something we should take a second look at, and maybe suggest an alternative or two? For coming up with hydropower projections, I would want to do more than just downscale global assumed energy generation to countries on the basis of economic/technical potential and present-day pro

[2017-05-19 16:01] swd-turner commented on #410
Cool. Any objection to using `apply` functions in place of loops for these types of commands? In my chunk I also have various loops used on the list of inputs where I think `lapply` would be neater.

[2017-05-19 18:04] #364 closed

[2017-05-19 19:48] bpbond opened #419 "LB162.ag_prodchange_R_C_Y_GLU_irr"
OK @abigailsnyder @kvcalvin ?

[2017-05-20 10:30] bpbond commented on #381
Not merged yet; re-opening.

[2017-05-20 10:46] bpbond opened #421 "LA1321.Cement (gcam-usa)"
Somehow an issue didn't get created when @aarony2j started this. Just for completeness, opening this.

[2017-05-21 17:34] bpbond commented on #382
@pkyle I'm not sure I understand lines 115-118 of this chunk:
[code]

The first two steps (`subset` and `aggregate`) are straightforward. I'm confused, though, why the third step computing `1990_share` is matching by `IEA_composite` and `PRODUCT` but not `FLOW`, which is also a column in  `L100.USSR_Yug_FLOW_PRODUCT`. If we're not going to match by it, why aggregate by it in the previous step? Or

[2017-05-22 03:23] pkyle commented on #382
Yeah, no doubt it's confusing, but I think it is implemented as intended! The basic problem here is that for the USSR and Yugoslavia, for most years between 1971 and 1989, the IEA didn't have much info on the sectoral allocation of fuel consumption, and a lot of the energy consumption is assigned to flows like ONONSPEC (other non-specified) and INONSPEC (industry non-specified). In other words the

[2017-05-22 12:34] abigailsnyder commented on #419
Good for me

[2017-05-22 13:14] aarony2j commented on #421
what about this issue? #407 Maybe because I had it "up next"?

[2017-05-22 13:20] bpbond commented on #421
Argh.

[2017-05-22 14:07] bpbond commented on #355
Note @cahartin - this is about to be merged, if you want to assign another chunk. Nice job Kalyn!

[2017-05-22 14:07] #355 closed

[2017-05-22 14:13] gokuliyer commented on #344
I am assigning this to Aaron. I am happy to review this chunk.

[2017-05-22 14:23] bpbond commented on #344
OK. Looks like files are here but let me know @aarony2j if you need anything.

[2017-05-22 20:40] aarony2j commented on #406
@skim301 Hi Sonny. As a reviewer of LA.118.Hydro #404, what exactly do I need to do to wrap this up? I'm under the impression that the code for now should replicate the old method (i.e., exclude 2020 values, downscale to region). Should I include a note in the comments of the chunk to take a second look at it later? Thanks.

[2017-05-23 14:45] cahartin opened #423 "L141.hfc_R_S_T_Y"
@bpbond

[2017-05-23 14:46] cahartin opened #424 "L121.nonco2_awb_R_S_T_Y_DISABLED"
@bpbond

[2017-05-23 17:36] cahartin opened #425 "L111.nonghg_en_R_S_T_Y"
@bpbond

[2017-05-23 18:26] rhoesly opened #426 "Units in GFED forest fire data are unknown."
I have no idea what the units are.

In practice this is OK, because the data system uses GFED emissions to derive a percentage of forest fire (vs deforestation) of total emissions, then uses that percentage on RCP data (a different file) to estimate emission factors.

Comparison of GFED data in the system to other forest fire data yields no answer. Below is a figure comparing GFED data in the gcam

[2017-05-23 18:28] rhoesly commented on #426
@ssmithClimate @kvcalvin

[2017-05-23 20:21] #416 closed

[2017-05-24 10:10] bpbond commented on #425
Necessary file already in `master`.

[2017-05-24 10:35] #332 closed

[2017-05-24 11:02] #320 closed

[2017-05-24 15:49] aarony2j commented on #344
@bpbond @gokuliyer I believe there's some confusion here. This chunk is supposed to be in gcam-usa...no such one exists in energy. FYI, Russel is doing LA154.transportation_UCD #343.
@gokuliyer Do you want me to do the LA154.Transport (gcam-usa) or another one of higher priority?

[2017-05-24 18:09] aarony2j opened #429 "LA142.building_agg-AJS"
@bpbond Hi Ben. Gokul gave me the green light to work on this one. Can you make the file(s) available? Thanks.

[2017-05-24 19:23] bpbond commented on #429
OK, done!

[2017-05-24 20:21] #381 closed

[2017-05-25 14:30] #378 closed

[2017-05-25 14:34] ssmithClimate commented on #327
Our plan after DSR is complete is to calibrate GCAM to CEDS instead of EDGAR, so this issue will go away then since we will be using data by country directly and not starting from US EPA data.

[2017-05-26 15:05] #192 closed

[2017-05-26 22:17] abigailsnyder commented on #419
@ben  I'm about to head out for the weekend, but I'm incredibly stuck on my current chunk. Namely, I can't figure out how to replicate the behavior of a few lines involving `stats::complete.cases` (line 176 in old DS).

What it does is catch things like the first two rows:
[code]

and replace the entire row with some other vector. Because it's catching any element in the row and replacing the enti

[2017-05-27 20:11] #424 closed

[2017-05-27 20:24] bpbond commented on #419
[code]

"If any element in the row is missing, replace the entire row with corresponding commodity's values in `L162.defaultYieldRate`." Yes? Off the top of my head (haven't tried this) I guess I'd do something like this:

[code]

[2017-05-29 22:22] bpbond commented on #406
Can/should this issue be closed?

[2017-05-30 12:24] abigailsnyder commented on #419
Thank you; I'll give it a go when I circle back around to it this week.  I was just pounding my head against the wall on it on Friday. Turns out I was getting sick, so I'm going to blame that and not my own silly head...

[2017-05-30 12:27] abigailsnyder commented on #419
Thankfully yes; I spent the entire weekend asleep

[2017-05-30 13:35] skim301 commented on #406
Yes, lets close the issue for now. The DSR code has been committed with previous behavior.

[2017-05-30 13:35] #406 closed

[2017-05-31 11:17] #354 closed

[2017-05-31 17:01] #91 closed

[2017-05-31 17:02] #310 closed

[2017-05-31 17:54] bpbond opened #434 "LA101.en_bal_IEA"

[2017-05-31 17:57] bpbond opened #435 "LA1011.en_bal_adj"

[2017-05-31 18:03] bpbond commented on #434
If you start this by branching from the current `master` you'll need to use a `temp-data-inject` for the `L100.IEA_en_bal_ctry_hist` input.

Alternatively, wait for #433 (which has `L100.IEA_en_bal_ctry_hist` available) to be merged, or just branch off of it to start your work.

[2017-05-31 19:12] #429 closed

[2017-05-31 19:22] russellhz commented on #402
Is a for-loop OK here? @d3y419 wrote a fairly compact (5-10 lines of code) one that works. I can't think of any other painless way to do it, since we need to first fill in 1990, then use that corrected 1990 value to fill in 1850, etc down to 1700.

[2017-05-31 19:31] bpbond commented on #402
Go for it. More important, I think, is to remove the hard-coded years.

[2017-06-01 14:50] ssmithClimate opened #437 "Downscaling IEA "other" countries should use energy statistics instead of population"
Routine currently downscales IEA "other" country (e.g. OtherAsia, etc.) energy to individual countries using population. Either CDIAC or UN energy statistics can be used to do this more accurately. Downscaling fossil fuel consumption using CDIAC has already been implemented in the CEDS project (and downscaling using UN energy data will be added soon, including production statistics). Consistent do

[2017-06-01 16:37] rplzzz commented on #437
I've renamed this, since it pertains to a future enhancement, rather than to converting this file to the new system.

[2017-06-01 18:59] abigailsnyder commented on #419
@bpbond  Unfortunately, `complete.cases` seems to only correctly behave on wide-form data like in the old DS, Back to the drawing board for me

[2017-06-01 19:25] bpbond commented on #419
Oh, so it's long-form. What about `L162.ag_YieldRate_R_C_Y_GLU_irr %>% group_by(...) %>% filter(any(is.na(value)))`?

[2017-06-01 20:14] abigailsnyder commented on #419
Sorry, yes. I was having trouble making the mental connection from wide+complete.cases in old to long+group+any(is.na) in New. Specifically thinking about filtering on any(is.na).
I'll play around and see if I can make it work now. Thank you!

[2017-06-02 01:52] bpbond opened #438 "master has a timeshift error"
[code]

[2017-06-02 02:03] #194 closed

[2017-06-02 12:01] rplzzz commented on #438
Don't forget, you can use `git bisect` to track down the commit that introduced the error.

[2017-06-02 12:16] rplzzz commented on #438
Also, are you sure this is an error in the time shifting test?  It looks to me like the latest build failed before it could even install the package, let alone run the tests.

[2017-06-02 12:45] bpbond commented on #434
@felipefeijoo We're about to merge #433 which will provide the `L100.IEA_en_bal_ctry_hist` dataset needed by this chunk.

[2017-06-02 13:19] bpbond opened #439 "LA106.ag_an_NetExp_FAO_R_C_Y"

[2017-06-02 13:23] bpbond commented on #111
OK, I'm reassigning this. Chris, if you get time, please talk to Kate about re-engaging with DSR.

[2017-06-02 14:04] rynacui commented on #119
`L100.FAO_an_Stocks` is a precursor of this chunk. It was produced by `LA100.FAO_downscale_ctry` in the ODS, but not in the new chunk. And it is not available in the output.

@bpbond are you aware of this? Do you plan to put it somewhere else?

[2017-06-02 14:13] bpbond commented on #119
I just realized this too. Not sure how it could have happened; but `LA100.FAO_downscale_ctry` was one of the very first chunks translated, and perhaps @pkyle updated it, in the old data system, since then?

Anyway @rynacui - I will add the stocks outputs to `LA100.FAO_downscale_ctry`. For now, if you want to get started, you can use a `temp-data-inject/` mechanism as a patch.

[2017-06-02 14:15] rynacui commented on #119
Sounds good.

[2017-06-02 14:44] pkyle commented on #119
Not sure what happened--the parts about animal stocks in LA100 and LA105 were added to the integration branch a year ago by @pralitp, so that should have been included in any of the tests to this point.

[2017-06-02 15:52] bpbond commented on #119
This was one of the very first chunks translated, and I'll bet I worked from the version of the data system I checked out last summer. Anyway, I'll fix and let you know @rynacui .

[2017-06-02 16:02] bpbond commented on #119
@pkyle Are these metadata headers accurate for the two new input files? Anything to add? Thx.

[code]

[2017-06-03 00:59] bpbond commented on #111
@pkyle any comments on the metadata for `IMAGE_an_Feedfrac_Rimg_C_Sys_Fd_Y.csv`, `IMAGE_an_FeedIO_Rimg_C_Sys_Y.csv`, and `IMAGE_an_Prodmixfrac_Rimg_C_Y.csv`? In particular, units? Here's what there is currently:

[code]

Thanks!

[2017-06-03 12:51] bpbond commented on #391
For example: in the new `L100.IMAGE_an_Feedfrac_ctry_C_Sys_Fd_Y.csv` file, this line gets written:

The corresponding number in the old data system file is 0.4635. Rounding to three decimal places produces 0.463 and 0.464 respectively, causing a test failure.

[2017-06-03 13:20] bpbond commented on #391
Or take Kate's `L124.nonco2_tg_R_grass_Y_GLU` example in #403 . The biggest difference between the old and new values is tiny, but the biggest difference between the rounded values is much larger.

[code]

For example, here's one row

[code]

The numerical difference between the raw values is _tiny_ (they're written in the files as 0.0065 and 0.006500000000000001 respectively) but that's enough to

[2017-06-03 13:26] bpbond commented on #391
It doesn't help to truncate the decimals in `L124.nonco2_tg_R_grass_Y_GLU` before writing it out; the test still fails.

I'm wondering if we should roll our own version of `all_equal` that (i) sorts the two data frames being compared, (ii) ensures they have identical dimensions, (iii) for each column in A verifies that it's identical with the corresponding in B (if non-numeric), or the difference/

[2017-06-03 13:38] bpbond commented on #391
Basically, no matter the tolerances involved, with a big enough data set there will always be some pair of numbers that fall on either side of any rounding line.

[2017-06-03 18:57] bpbond commented on #119
Hi @rynacui I've merged #440 and the stocks data should now be available for this chunk.

[2017-06-05 13:16] bpbond opened #445 "L241.en_newtech_nonco2"
OK @cahartin ?

[2017-06-05 13:17] bpbond opened #446 "L241.fgas"

[2017-06-05 13:19] cahartin commented on #445
@bpbond i have a few more level 1's left.  but if this one looks good, go ahead!

[2017-06-05 14:37] pkyle commented on #111
For the most part, that information is correct, except for the Author and Original source. The NA units could be replaced with "unitless" on Feedfrac and Prodmixfrac, and with "dry feed to animal commodity ratio" for FeedIO. The data source for all three is the IMAGE model, version 2.4. These tables were once downloaded from the model's website, but are no longer available. Still for the source, w

[2017-06-05 14:57] cahartin opened #447 "L111.nonghg_en_R_S_T_Y_DISABLED"
@bpbond