[2017-06-05 15:03] bpbond commented on #447
Closing as this duplicates #425 . If you want to re-assign this chunk, please do it there.

[2017-06-05 15:03] #447 closed

[2017-06-05 15:06] cahartin commented on #447
thanks for catching that. sorry!

[2017-06-05 17:06] rplzzz commented on #391
@bpbond I understand why rounding before comparing causes spurious failures.  I don't understand why `all.equal` is failing; it seems to work for me.
[code]
Strangely `all_equal` doesn't work.  I don't know why that would be.
[code]
One issue may be that `all_equal` doesn't seem to support the `tolerance` parameter, but I don't know what the default tolerance is.  Surely it's got to be bigger than

[2017-06-06 23:08] rynacui commented on #119
Hi @bpbond, I double checked with @pralitp, he has changed the way animal stocks were used for the water demand calculations. So the animal stock output in this chunk is not used anymore, and it also seems not been used for anything else. If you can confirm that, we can get rid of the section in this chunk.

[2017-06-07 12:58] #341 closed

[2017-06-07 13:18] bpbond commented on #119
I don't see if used anyplace else either. So sure, feel fee to remove. Thanks!

[2017-06-07 14:02] bpbond commented on #111
Thanks @pkyle !

[2017-06-07 19:18] #419 closed

[2017-06-07 19:31] #407 closed

[2017-06-07 21:24] #119 closed

[2017-06-08 10:17] bpbond opened #449 "LB1322.Fert"

[2017-06-08 12:43] russellhz commented on #343
@bpbond I'm making the data chunk to avoid the read_csv warnings. Is it ok for me to use `suppressWarnings(readr::read_csv(fqfn, comment = COMMENT_CHAR, col_names = cn, col_types = ct, skip = 5)) `?

Below is the problem and my warning message. I'm not sure of any other way to get rid of it.

![ucd_trn_problem](https://user-images.githubusercontent.com/25437326/26929080-670c2854-4c26-11e7-9ade-7d7

[2017-06-08 13:17] bpbond commented on #343
This looks like the old integerish double parsing error. What column types are you declaring in `ct`? We should absolutely be able to read this file without falling back to `suppressWarnings`, I think.

[2017-06-08 14:31] bpbond opened #451 "Improve code clarity via higher-order functions, as opposed to loops"
In #450 @rplzzz comments re line 34 in `driver.R`:
[code]

[code]

[2017-06-08 14:39] russellhz commented on #343
The years are all being declared as doubles. The first line that the warning message is referring to is that first blank row in the csv for Africa Passenger Air Domestic... where the row ends at 9 columns instead of 15. I don't think that is the same integer/double parsing error you are talking about.

[2017-06-08 14:51] #412 closed

[2017-06-08 14:56] bpbond commented on #343
Oh OK, no. Why don't those 9-column rows have trailing commas, i.e. blank fields? ...this may be more efficient in person.

[2017-06-08 15:04] bpbond commented on #343
FYI I'm using `readr` 1.1.0.

[code]

[2017-06-08 16:27] bpbond opened #452 "L203.demand_input"
This has a _lot_ of lines of code but I think–hope–that there's a lot of repetition which will help. There's also some funkiness in the output section, looks like; we can touch base as necessary.

Thanks @rynacui !

[2017-06-08 20:08] #344 closed

[2017-06-09 13:21] #439 closed

[2017-06-09 20:25] pralitp commented on #369
Ok, so I'd dropped the ball on this one for a while.  So I followed the approach I suggested earlier:

1. Wrote a script to convert level 2 data names from the format in the old system `names_XYZ <- c("X", "Y", "Z")` to `LEVEL2_DATA_NAMES[["XYZ"]] <- c("X", "Y", "Z")` (lvl2_mapped)
2. As @pkyle noted there were a lot of missing headers so I wrote a script to search all level 2 CSV files and genera

[2017-06-12 16:46] bpbond opened #455 "Need to clearly distinguish the kinds of time series chunks are producing"
Right now we conflate two things: historical time series and time series that match `HISTORICAL_YEARS`. Generally we want to produce continuous historical (small h) time series early in the data system, and only filter to the GCAM HY later on.

For example, currently `L100.GDP_hist` filters its output (historical GDP) to HY, but this causes downstream problems if, for example, our definition of HY

[2017-06-12 20:22] pkyle commented on #369
Looks great! Just remembered, we'll need to do something to make sure the "node_rename" option is still available, and is used on the appropriate tables in the land allocator. Or there might be a different way of dropping the numbers on the LandNode values.

[2017-06-12 20:31] pralitp commented on #369
Yup, good call.  We still have to do deal with the numbers on the LandNode values.  I'll just add a new function that can be used in the "create XML pipeline" to do that.

[2017-06-12 21:22] #402 closed

[2017-06-13 13:18] bpbond opened #457 "Remove FLAG_NO_TESTs once we jettison old data system as baseline"
E.g. in `L100.GDP_hist` - see #456 .

[2017-06-14 09:31] bpbond commented on #301
https://blog.rstudio.org/2017/06/13/dplyr-0-7-0/

[2017-06-15 15:38] bpbond opened #459 "Remove hard-coded year(s) in L102.GDP"
In #456 @kvcalvin asks re line 191 in `zchunk_L102.GDP.R` "Do we want to do something more flexible here than hard-coding 2010?":

[code]

Yes. I think this should be `min(IMF_GDP_YEARS)` but assigning @rplzzz (original chunk author) to check and change at his convenience.

[2017-06-15 15:39] bpbond commented on #457
Removed this NO_TEST in #456. But the larger issue still applies; we'll also want to remove FLAG_SUM_TEST too I think.

[2017-06-15 16:33] bpbond opened #460 "LA124 - choice of norm_year and algorithm"
[code]

@rplzzz asks in #456 , re line 145 in `LA124.heat.R`:

@pkyle @jhoring any comment?

[2017-06-15 16:48] #388 closed

[2017-06-15 16:49] bpbond commented on #438
Resolved in #456

[2017-06-15 16:49] #438 closed

[2017-06-15 16:50] #382 closed

[2017-06-15 16:53] #58 closed

[2017-06-15 18:08] pkyle commented on #460
The reason for doing this approach instead of just setting each value to 1e-3 (or some other small number) is that this way, we'll get generally correct technology shares and therefore share-weights. 2010 is used as the year because it's probably the most reliable, and district heating systems tend to be old, so the fuel shares probably haven't changed that much since the 1980's (the years where t

[2017-06-16 16:13] bpbond opened #461 "May want to use 2000 SAGE cropland and pasture dataset"
Which is consistent with cropland data layer.

Per phone conversation with Alan Di Vittorio.

[2017-06-16 16:37] rynacui commented on #452
@bpbond This chunk involves a GCAM defined function `get_logit_fn_tables`. How would you like me to handle it?

[2017-06-16 16:41] bpbond commented on #452
Wow, it looks like that's used all over the place. We'll probably want to translate and put it into `module-helpers.R` to make it broadly available.

[2017-06-16 16:48] rynacui commented on #452
Got it. I'll give it a try.
Looks like `write_to_all_regions` is in a similar situation.

[2017-06-16 16:56] rynacui commented on #452
I suggest I do it in a separate branch and PR.

[2017-06-16 16:58] bpbond commented on #452
Sounds good. Thanks! I can also handle this if you want--just let me know.

[2017-06-16 17:12] rynacui commented on #452
Let's see how it goes. I'll let you know!

[2017-06-16 17:56] rplzzz commented on #460
I don't understand how this ensures correct technology shares.  Is the idea here that if one of the technology values is zero, then they all are?  Otherwise you get one output at 10<sup>-3</sup> times its 2010 value, while everything else is at whatever is in the data, and that ratio is not going to bear any kind of relationship to the technology shares in 2010.

It's also not clear how it will af

[2017-06-16 18:46] pkyle commented on #460
Sorry I misunderstood the question. Could be hard-wired to 2010 or the max historical year, it doesn't matter.
I think reading the old comment in the code might help for why we're doing this--it's not where one tech is zero, it's relevant where all techs are zero. Where all of the heat produced in a given region/year is a by-product of electric power plants set up in a cogen configuration. The mod

[2017-06-16 19:25] rynacui commented on #452
Hi @bpbond, I just took a closer look, and I have to admit it will be much more efficient to let you handle the functions. More complicated than I thought...

For `write_to_all_regions`, I think I can simply use `repeat_add_columns` instead, but it also seems doing sth else (although not applied here).

[2017-06-17 09:07] bpbond opened #462 "Revisit default value for IO coefficient in LA107.an_IMAGE_R_C_Sys_Fd_Y"
In #443 @pkyle said, re the use of default value 100 in `LA107.an_IMAGE_R_C_Sys_Fd_Y`:

This was in response to questions about why this "magic" value was chosen, and why it's currently hard-wired into line 182 of that file.

[2017-06-17 12:53] bpbond opened #463 "'set.market' parameter of write_to_all_regions"
Hey @pkyle the `write_to_all_regions` function has a `set.market` parameter:

[code]

So `market.name` is going to be set to `region` regardless of the value of `set.market`? What's the intended logic here? Thanks.

[2017-06-17 21:12] bpbond commented on #452
No kidding. Working on this but it will take a few days.

[2017-06-18 02:25] pkyle commented on #463
Sorry this is confusing. Basically, set.market tells the function whether to add an additional column called "market.name" to the table, and if used, the market names will be set to the region names at the time that this is called. Note that this is performed before the `set_traded_names` function is called; that latter function will re-set every region name to the USA. In the end, when this is us

[2017-06-19 12:48] bpbond commented on #463
OK, thanks.

[2017-06-19 12:48] #463 closed

[2017-06-19 15:49] bpbond opened #465 "Documentation for `get_logit_fn_tables` and other support functions"
The documentation for the following functions in `module-helpers.r` needs to be filled out and/or improved/clarified:

* `get_logit_fn_tables`
* `write_to_all_regions`
* `set_traded_names`
* `set_years`

@pkyle when you have time, can you go through their roxygen headers and code comments, succinctly clarifying/adding where necessary, and then open a PR? Thanks.

See also #464

[2017-06-19 15:51] bpbond commented on #452
Ryna, re the just-merged functions in #464, I _think_ they're operating correctly, but remember they're brand new. "Trust but verify."

[2017-06-19 17:55] rynacui commented on #452
Got it. I'll be careful. Thanks!

[2017-06-19 20:46] pkyle commented on #465
About to open the PR. @bpbond did you test whether get_logit_fn_tables works when write_all_regions=F? I vaguely remember that every time this function is called, that value is set to T, but that if it were set to F, the function would fail.

[2017-06-22 18:50] abigailsnyder opened #470 "LB163.bio_Yield_R_GLU_irr"

[2017-06-22 19:00] bpbond opened #471 "L202.an_input"
Note that this chunk uses `L107.an_FeedIO_R_C_Sys_Fd_Y`, which has been CHANGED IN THE OLD AND NEW DATA SYSTEMS. This means that this chunk's outputs (or at least any that use that dataset) we will need special versions for comparison purposes.

See #443 for more detail.

[2017-06-22 19:06] bpbond commented on #470
How's the LB163-164 sequence sound? They're pretty short.

[2017-06-22 19:09] bpbond opened #472 "LB164.ag_Costs_USA_C_2005_irr"

[2017-06-22 19:50] rynacui commented on #452
Hi @bpbond, I'm working through this chunk and towards the end, there are two functions that are commonly used for level two: `write_mi_data` and `insert_file_into_batchxml`. Would you mind taking care of them as well? Thanks!

[2017-06-22 19:52] bpbond commented on #452
Don't worry about these. We now use a different mechanism for all that. Your chunk can just return the datasets to the driver.

[2017-06-22 19:55] rynacui commented on #452
woa, I see. Fantastic!

[2017-06-23 02:38] #465 closed

[2017-06-23 02:46] bpbond opened #473 "L241.trade_input"

[2017-06-23 14:01] kvcalvin commented on #470
Thanks, guys!

Next week, we should convey the triplet strategy to everyone so we can start assigning those.

[2017-06-23 14:12] bpbond commented on #470
Yes! Especially as I don't remember what we decided on.

[2017-06-23 18:34] rynacui commented on #452
Okay, we are now getting to the outputs. It seems `L203.SectorLogitTables[[curr_table]]` and `L203.SubsectorLogitTables[[curr_table]]` is not recognized as tibble.

Maybe I should specify each of the outputs such as `L203.SubsectorLogit_relative-cost-logit`?

[2017-06-23 19:00] bpbond commented on #452
Hi Ryna, hard to know without seeing the code. Do you want to push up your branch for me to look, or I could stop by on Monday?

[2017-06-23 19:23] rynacui commented on #452
I'll create a PR.

[2017-06-24 20:20] russellhz opened #477 "Metadata for LA154.transportation_UCD.R data"
I'm just looking for sources here.

1. UCD_techs.csv & 2. UCD_ctry.csv : UC Davis? This has minicam stuff so I'm not sure if it's directly from them

3. calibrated_techs_trn_agg.csv

[2017-06-26 03:52] pkyle commented on #477
The sources are the same for both--these are exogenous mapping files that we created for processing data developed by researchers at the UC Davis Institute for Transportation Studies for the GCAM model between 2011 and 2013. Just cite Mishra et al. 2013: Mishra, G.S., Kyle, P., Teter, J., Morrison, G.M., Kim, S., and Yeh, S. 2013. Transportation Module of Global Change Assessment Model (GCAM): Mod

[2017-06-26 18:48] CLynchy commented on #285
I am missing a value in the last column, last row in "gcam_fgas_tech.csv".  It is causing my chunk to fail "Test Package".  In the old system this column/row is also missing:

"https://github.com/JGCRI/gcam-data-system-OLD/blob/master/emissions-data/mappings/gcam_fgas_tech.csv

Should I just make that column/row a "NA" or ...?

[2017-06-26 18:58] bpbond opened #480 "Need to clearly distinguish GCAM settings versus data settings"
See e.g. #454

[2017-06-26 19:32] #262 closed

[2017-06-26 20:28] cahartin opened #482 "L111.nonghg_en_R_S_T_Y"

[2017-06-26 20:35] cahartin opened #483 "L1221.ghg_agr_R_S_T_Y_IRR_DISABLED"

[2017-06-26 20:36] cahartin opened #484 "L2112.ag_nonco2_IRR_MGMT"

[2017-06-26 20:54] cahartin opened #485 "L122.ghg_agr_R_S_T_Y"

[2017-06-26 21:00] cahartin commented on #483
duplicate.

[2017-06-26 21:00] #483 closed

[2017-06-27 01:55] bpbond commented on #164
[code]

@pkyle do you have a reference for this paper please?

[2017-06-27 02:27] bpbond commented on #285
I guess I don't understand. It's missing in the old, and missing in the new, but failing? You've pointed to a data system output (`gcam_fgas_tech.csv`) not an input, though, which is the confusing part.

[2017-06-27 04:47] pkyle commented on #164
@abigailsnyder found it and put it into a pull request; not sure if this is still needed but here it is anyway, in full:
Wullschleger, S.D., E.B. Davis, M.E. Borsuk, C.A. Gunderson, and L.R. Lynd. 2010. Biomass production in switchgrass across the United States: database description and determinants of yield. Agronomy Journal 102: 1158-1168. doi:10.2134/agronj2010.0087

[2017-06-27 10:35] bpbond commented on #23
This can be closed, now, given new timeshift test.

[2017-06-27 10:35] #23 closed

[2017-06-27 10:35] bpbond commented on #164
Got it, thanks. I just saw her question too--funny.

[2017-06-27 11:29] #224 closed

[2017-06-27 11:31] bpbond commented on #111
Merged in #443

[2017-06-27 11:31] #111 closed

[2017-06-27 11:32] bpbond commented on #118
Duplicate of #439

[2017-06-27 11:32] #118 closed

[2017-06-27 11:36] #325 closed

[2017-06-27 13:27] CLynchy commented on #285
Sorry, not failing due to the missing cell.  I misinterpreted my "failures".  The missing cell is just generating a warning, albeit a stern one.
No problem!

[2017-06-27 13:52] bpbond opened #487 "Circle back to LB113 and LB163"
They basically do the same thing, and we may be able to combine for efficiency.

See #481 and #486

[2017-06-27 13:54] bpbond commented on #480
In #454 @pkyle said:

Going forward, it's fine to maintain that capacity, but we will probably have to re-set a number of objects to a hard-wired 2010 year where the code currently tries to pull the latest historical year.

[2017-06-27 17:43] CLynchy commented on #285
I can't seem to use the command/function "left_join_keep_first_only"
the error message is:

Error in as.lazy_dots(.dots) :
  argument ".dots" is missing, with no default

My code is as follows:
  GCAM_tech %>%
      repeat_add_columns(tibble(GCAM_region_ID = GCAM_region_names$GCAM_region_ID)) %>%
      repeat_add_columns(tibble(year = emissions.EDGAR_YEARS)) %>%
      repeat_add_columns(tibble("No

[2017-06-27 20:02] bpbond commented on #285
That _looks_ fine , although probably change that last line to
[code]

Re `left_join_keep_first_only` call, hmm. If you assign the first part of the pipeline to `x` and then call it, does it work?

[2017-06-27 20:12] #470 closed

[2017-06-27 20:13] #417 closed

[2017-06-27 20:15] bpbond commented on #477
@russellhz please close this issue when appropriate.

[2017-06-27 20:15] CLynchy commented on #285
If I do this:
     left_join_keep_first_only(., L142.EDGAR_PFC_R_S_T_Yh.tmp1, by = c("GCAM_region_ID", "year", "EDGAR_agg_sector", "Non.CO2")) %>%

it still doesn't work.

It works if I:

   left_join_keep_first_only(L142.EDGAR_PFC_R_S_T_Yh.tmp1, ., by = c("GCAM_region_ID", "year", "EDGAR_agg_sector", "Non.CO2"))

BUT, it adds another column/grouping that is not wanted.

[2017-06-27 20:22] CLynchy commented on #285
`  GCAM_tech %>%
      repeat_add_columns(tibble(GCAM_region_ID = GCAM_region_names$GCAM_region_ID)) %>%
      repeat_add_columns(tibble(year = emissions.EDGAR_YEARS)) %>%
      repeat_add_columns(tibble("Non.CO2" = emissions.PFCS))  ->
      xx

    xx %>%
      left_join_keep_first_only(L142.EDGAR_PFC_R_S_T_Yh.tmp1, by = c("GCAM_region_ID", "year", "EDGAR_agg_sector", "Non.CO2")) %>%
      selec

[2017-06-27 20:26] #473 closed

[2017-06-27 20:33] bpbond commented on #285
Umm...odd. @rplzzz do you see the problem here? If not, Cary, why don't you push your branch up so I can look or will stop by tomorrow OK?

[2017-06-27 20:37] bpbond commented on #487
Note @pkyle comment re LB113:

[2017-06-27 20:38] CLynchy commented on #285
Sounds good.  Fire Marshall Synder (aka FMS, aka Abigail) also looked at my code.  She was not sure why `left_join_keep_first_only` was not working.

[2017-06-27 20:54] bpbond commented on #285
:woman_firefighter:

[2017-06-27 21:29] bpbond opened #489 "Run git bfg on repo once cleanly to V1"

[2017-06-28 10:17] bpbond opened #491 "L242.ssp34_pasture"
OK @kvcalvin ?

[2017-06-28 11:48] rplzzz commented on #285
What is the branch associated with this issue?  I don't see any obvious candidates.

[2017-06-28 11:56] bpbond commented on #491
@pkyle This chunk reads in both `basin_to_country_mapping` and `GCAMLandLeaf_CdensityLT` but doesn't use them at all. OK to remove both as dependencies?

[2017-06-28 12:20] bpbond commented on #285
I don't think @CLynchy has pushed it up yet.

[2017-06-28 12:37] rplzzz commented on #285
I figured.  I can try to take a look at it once she does.

[2017-06-28 13:22] CLynchy commented on #285
The git lingo is not intuitive.  If by "push it up" means do a "pull request", then push=pull.  Is this bizarro world where up=down; left=right; cat=dog.

[2017-06-28 13:26] cahartin commented on #285
@CLynchy right now its a branch on your computer. You can "push" your branch to github so this way Ben and RPL can take a look and it will remain it's own branch.  If you wanted to make a "pull request", you are essentially asking permission to merge your changes into the master.  For now, sync the branch up to github.

[2017-06-28 13:32] cahartin commented on #285
yes.  you could also do it from the terminal window by saying `git push`

[2017-06-28 13:40] CLynchy commented on #285
I have forgotten the command prompts.  The GitDesktop is too convenient.
I have pushed the branch.

[2017-06-28 14:00] kvcalvin commented on #491
When I wrote this code `basin_to_country_mapping` didn't exist and I have no recollection of `GCAMLandLeaf_CdensityLT`. I don't know if these got added during some kind of merge or if someone went in afterwards to do it. I suppose we should make sure they _shouldn't_ be using those files.

[2017-06-28 14:32] pkyle commented on #491
I added the basin_to_country_mapping file in order to allow the GLU number code to be replaced with the short basin name upon data read-in. The line:
L125.LC_bm2_R_LT_Yh_GLU <- readdata( "AGLU_LEVEL1_DATA", "L125.LC_bm2_R_LT_Yh_GLU", replace_GLU = T )
requires basin_to_country_mapping because replace_GLU=T

[2017-06-28 14:54] #164 closed

[2017-06-28 15:11] bpbond commented on #285
Huh, that was hard to find. I don't know _why_ exactly, but `left_join_keep_first_only` is failing because the `L142.EDGAR_PFC_R_S_T_Yh.tmp1` argument is grouped. Ungroup it, and the pipeline executes cleanly.

[2017-06-28 16:00] abigailsnyder opened #493 "LB133 superseded by LB164?"
The outputs from LB133 are used in LB164, but it seems as though these two chunks  could probably be combined in the future

[2017-06-28 16:01] abigailsnyder commented on #493
*LB133.ag_Costs_USA_C_2005, LB164.ag_Costs_USA_C_2005,

[2017-06-28 16:10] bpbond opened #494 "LB142.ag_Fert_IO_R_C_Y_GLU"

[2017-06-28 16:12] bpbond opened #495 "L204.resbio_input/irr/irr_mgmt"
These three chunks will be replaced by only one - pls discuss with @kvcalvin for details.

[2017-06-28 16:14] kvcalvin commented on #493
It looks like LB164 uses the outputs of LB133. And, L2052 uses something from L205. So, it may be easier to just do both???

[2017-06-28 16:15] bpbond opened #496 "L243.bio_trade_input"

[2017-06-28 16:16] rplzzz commented on #285
@CLynchy, in git lingo to "push" is to send commits to a remote copy of a repository, and to "pull" is to get commits from a remote copy of a repository.  However, in order to send commits, that is, to push, you have to have permission to write in the remote copy; you can't just go writing your stuff into somebody else's repository.  So, if you want to send commits to a repository that you don't h

[2017-06-28 16:17] abigailsnyder commented on #493
I guess the main question is whether LB133 outputs are used anywhere else.
I believe, LB133 outputs = production costs for commodities.
LB164 outputs = production costs for commodities - purchased irrigation water.

[2017-06-28 16:17] bpbond commented on #496
Note there's some funkiness in what's being returned  (e.g. `L243.SectorLogitTables[[ curr_table ]]$data`) that you'll need to change.

[2017-06-28 16:19] CLynchy commented on #285
@rplzzz
Wow.  That is the best rationale for the commands I have seen.  The online tutorials are not great.
Thanx!  4-real.

[2017-06-28 16:22] bpbond opened #497 "L223.land_input_3, L2231.land_input_3_irr, L2241.land_input_4_irr, L2242.land_input_4_irr_mgmt"
Quoth @kvcalvin :

[2017-06-28 16:49] kvcalvin commented on #493
I think that is right. It was hard for me to tell whether LB133 outputs are used anywhere else that we plan to keep. I know they are used in L205 (which we don't plan to keep), but L205 outputs are used in L2052 (via L2051), which gets complicated. Maybe we wait on LB133 until we get to the L205 series?

[2017-06-28 16:51] pkyle commented on #493
Just from a look, we can't really cut out the LB133 code; we could merge LB133 and LB164 into a single chunk, but it wouldn't really be cutting out any processing steps. In L205, the XML files generated are no longer going to be supported, and many of the CSVs generated are also obsolete. However, others are used later on, by L2051, L2052, L206, L2061, and L2071. Let me know if you want me to put

[2017-06-28 17:23] rplzzz commented on #489
Be aware that when you do this, it invalidates _all_ outstanding clones of the repository.  You'll want make sure that nobody has any work going on when you attempt this.

[2017-06-28 17:23] bpbond commented on #489
Right, thanks!

[2017-06-28 17:41] bpbond commented on #39
Note we may want to re-compress files using a standardized modern algorithm while we're at it. See discussion in #490 .

[2017-06-29 02:10] bpbond commented on #491
@pkyle Thanks.

[code]

Note the `node_rename` parameter on this. @pralitp will our existing xml step handle this?

[2017-06-29 02:15] pralitp commented on #491
Not until #458 is merged.

[2017-06-29 10:06] rplzzz commented on #480
Page is exactly right.  I think the sooner we fix this, the less painful it's going to be.

[2017-06-29 10:25] bpbond opened #500 "module_aglu_batch_pasture_ssp34.xml needs node_rename=T"
Once #458 is merged, go back to `module_aglu_batch_pasture_ssp34.xml` and add the node_rename. See discussion in #491 .

[2017-06-29 10:25] bpbond commented on #491
OK, thanks. I've added #500 to remind us to do this.

[2017-06-29 11:37] bpbond commented on #480
Hmm. Confusing. Here is `_common/assumptions/A_common_data.R`:
[code]
Then `aclu-data/assumptions/A_aglu_data.R`:
[code]
And then in `A_modeltime_data.R`:
[code]
1. Does these things have _any_ relation to each other?
2. If each module (aglu, energy, etc) defines its own historical and future time periods, what's left for `historical_years`? I guess the "...for data write-out" comment made me assu

[2017-06-29 12:03] rplzzz commented on #480
I'm not sure why there is a separate `AGLU_historical_years`.  Perhaps someone writing that section wanted to leave open the possibility that the AGLU raw data might have different historical years than the rest of the data?  It deals with different data sets, so it's theoretically possible.

The "historical years for data write out" comment is clearly muddled, as we now know.
`¯\_(ツ)_/¯`

[2017-06-29 12:29] kvcalvin commented on #480
I think I'm also confused as to why switching historical years to `1971:2006` shouldn't work if the data is supposed to exist for `1971:2010`. Maybe it isn't important.

[2017-06-29 14:26] #472 closed

[2017-06-29 15:13] bpbond opened #502 "Revisit hardcoded 2010 year in L242.ssp34_pasture"
See discussion in #501

[2017-06-29 15:23] pkyle commented on #480
The reason for AGLU_historical_years being different is that in an earlier version of the data system, a number of the AGLU databases only went up to 2009. The "commodity balances" databases (whih used to be called Supply Utilization Accounts, which I've abbreviated SUA) tend to lag behind the PRODSTAT databases and others by 2-3 years. Right now, the AGLU historical years are the same, but in the

[2017-06-29 15:28] pkyle commented on #480
model_base_years and model_future_years are just the years that will be run in GCAM. Totally different from the historical years for which data are processed, but the model_base_years should/must consist of historical years.
The reasons why setting the historical years to 1971:2006 might trip things up are that (1) the model_base_years have a year, 2010, that is a calibration year but for which th

[2017-06-29 16:06] #369 closed

[2017-06-29 16:07] bpbond commented on #500
@pralitp could you push this change to #501 please?

[2017-06-29 16:15] pralitp commented on #500
Yup, running tests now

[2017-06-29 16:28] #500 closed

[2017-06-29 17:01] #491 closed

[2017-06-29 21:17] #178 closed

[2017-06-29 21:18] kvcalvin commented on #502
@bpbond: the same chunk of code that exists in `L242.ssp34_pasture` with the hard-coded `2010` exists in my current chunk (L243.bio_trade_input). I may tackle this problem as a part of this chunk.

[2017-06-29 21:20] bpbond commented on #493
Remember we can do this automatically now!

[2017-06-30 02:39] pkyle commented on #493
OK cool--my hypothesis is that excising the unnecessary parts of the existing data stream, and keeping the parts that are necessary to build the files called in the configuration file, won't be straightforward...prove me wrong!

[2017-06-30 15:46] #494 closed

[2017-06-30 15:54] bpbond opened #504 "L2071.ag_water_irr and L2072.ag_water_irr_mgmt"
Hi @rynacui this is a "twin" - these two chunks will be replaced by only one - pls discuss with @kvcalvin for details.

[2017-06-30 16:00] bpbond commented on #504
I'm committing both files (L2071.ag_water_irr and L2072.ag_water_irr_mgmt) to the repo. Something funky is going on in the latter one w.r.t. its inputs though. Anyway, you'll need to combine and discard one as necessary.

[2017-06-30 16:02] bpbond commented on #504
I just realized these depend on L205, so shifting this to "up next".

[2017-06-30 16:04] bpbond opened #505 "L205.ag_prodchange_cost_input/irr/mgmt"
A lot of inputs and outputs, but not that long.

[2017-06-30 16:07] bpbond commented on #505
This does have some more mixed data-and-tables like L203.demand_input, look like.

[2017-06-30 16:10] rynacui commented on #505
Is this a triplet of `L205`, `L2051` and `L2052`?

[2017-06-30 16:12] bpbond commented on #505
Is looks like actually there are only two files: `L2051.ag_prodchange_cost_input_irr.R` and `L2052.ag_prodchange_cost_irr_mgmt.R`.

[2017-06-30 16:12] bpbond commented on #505
...that will result in a single file in the data system.

[2017-06-30 16:22] rynacui commented on #505
Okay. So just to make sure this one is separated from the other two chunks, correct?

[2017-06-30 16:28] bpbond commented on #505
From the L207 I first assigned? Yes, sorry for the confusion.

[2017-06-30 16:31] rynacui commented on #505
Nope, not L207. I see there are L205, L2051, and L2052. Is this chunk combining the three of them or it is just L205, and L2051 and L2052 will be combined later?

[2017-06-30 16:36] bpbond commented on #505
Oh sorry my mistake. You're right--it is in fact a triplet.

[2017-06-30 16:42] rynacui commented on #505
Got it! Are you going to send the files for `L2051` and `L2052`?

[2017-07-01 10:35] #324 closed

[2017-07-02 14:52] russellhz commented on #485
@bpbond I have this code done and tests passed, but I am getting this warning in the package check. Not sure what to do.

![screen shot 2017-07-02 at 10 46 28 am](https://user-images.githubusercontent.com/25437326/27770835-dc7d8452-5f13-11e7-83e3-02fcf0fedf2f.png)

Also, one of the outputs is in long form with X years in the old data system. I was failing the tests when I had the new output withou

[2017-07-02 18:13] bpbond commented on #485
For the first, this is something introduced in one of Pralit's recent commits that I missed. I'll fix--don't worry about it.

For the second, are you also specifying FLAG_LONG_YEAR_FORM?

[2017-07-02 18:14] bpbond opened #507 "L201.en_nonco2"

[2017-07-02 18:25] bpbond commented on #300
This doesn't seem to be causing any problems, and we're following the rules laid out above. Closing.

[2017-07-03 02:43] pkyle commented on #300
OK I just checked and the reason it didn't cause any problems is that the NA product isn't currently mapped to anything. If it had been assigned to refined liquids, there would be a problem here. Here's a screenshot of the tibble EIA_product_fuel:
<img width="577" alt="eia_seds_fuels" src="https://user-images.githubusercontent.com/20807787/27776205-99709434-5f76-11e7-9533-f2b25f59c3d9.png">
I'm no

[2017-07-03 10:43] bpbond commented on #300
Thanks, Page. OK, let's reopen this but change the title to more clearly reflect the problem.

[2017-07-03 14:22] cahartin opened #509 "L232.prc_nonco2"

[2017-07-03 17:15] rynacui commented on #505
@bpbond @kvcalvin There is a section in `L2051` for hindcasting runs: `when the model's final base year is less than the final historical year, compute the ag prod change levels that will return the known yields during the historical time period.`
It is not affecting the current outputs, just want to check whether we keep this part or not?

[2017-07-05 10:44] bpbond opened #511 "Remove data when max_reduction <= 0 in L201.en_nonco2?"
This chunk has the following comment in lines 130-131:

[code]

but then it does something else, filtering for positive values of `max_reduction` only:

[code]

Exactly the same logic is applied to the `L201.nonghg_max_reduction_res` and `L201.nonghg_steepness_res` outputs in lines 196-206 as well.

What should be happening here? Should an error be raised, or silently filter the data as now?

[2017-07-05 15:16] cahartin opened #513 "duplication of EDGAR years"
in `constants.R` there are `EDGAR_YEARS` and `EDGAR_HISTORICAL` both with the same year range 1971:2008.

Should they be different? If not, then do we need both?

[2017-07-05 15:41] kvcalvin commented on #505
@rplzzz: see @rynacui's comment above. How do we want to handle things like this for hindcast purposes?

[2017-07-05 15:57] swd-turner commented on #410
Just an update on this before I disappear on vacation for the next 10 days...
I'm almost done with the code translation. I'd like to wait for some of the upstream files to be ready (specifically energy/L223...) before submitting my pull request (~40 files to be created from one upstream chunk). The reason is that there are a dozen or so files that get passed through my chunk without any manipulati

[2017-07-05 16:58] #477 closed

[2017-07-05 17:24] #343 closed

[2017-07-05 18:02] bpbond commented on #505
(I am closing this issue as about to merge the PR. Let's move the question about to its own discussion.)

[2017-07-05 18:02] #505 closed

[2017-07-05 18:03] bpbond opened #514 "How to handle ag prod change levels for hindmost runs?"
@rynacui said in #505 :

It is not affecting the current outputs, just want to check whether we keep this part or not?

And then @kvcalvin tagged @rplzzz asking

[2017-07-05 18:06] kvcalvin commented on #514
Following up on this: for the two papers we have on hindcasting (one published and one under review), this is something we actually varied in the paper. We ran cases where the yields were set to match historical observations and cases where we forecasted future yields.

[2017-07-05 18:22] bpbond commented on #410
So it's `L223.electricity` that's holding you up?

[2017-07-05 19:00] swd-turner commented on #410
That's the one.

[2017-07-05 19:30] pkyle commented on #513
This is one data object named differently. I'd probably remove the object EDGAR_HISTORICAL and switch all uses of it in the code (looks like there's only one) to EDGAR_YEARS

[2017-07-05 19:37] bpbond commented on #513
Corinne, could you fold this into #512 please? Search for any other uses of `EDGAR_HISTORICAL` in the system and change.

[2017-07-05 20:40] cahartin commented on #513
@bpbond sure!

[2017-07-05 21:02] bpbond opened #517 "L223.electricity"
Needed for `L2233.electricity_water` #410

cc @mihejazi @mwisepnnl

[2017-07-05 21:09] cahartin commented on #513
addressed in #512

[2017-07-05 21:09] #513 closed

[2017-07-05 21:27] #322 closed

[2017-07-06 01:42] bpbond commented on #517
@pralitp this chunk returns both logit tables and data frames; following our model with #476 I'm only going to deal with the latter, OK?

[2017-07-06 02:09] bpbond commented on #517
@pkyle this chunk uses _lots_ of inputs and I could use help in assigning `Units` and `Source` for them...
<img width="229" alt="screen shot 2017-07-05 at 10 08 49 pm" src="https://user-images.githubusercontent.com/1956468/27892596-9015e0ce-61ce-11e7-92c3-2c6d0c55dc12.png">

[2017-07-06 13:47] bpbond commented on #169
Note that this depends on `L100.IEA_en_bal_ctry_hist`, which may or may not be available, depending on whether the IEA proprietary database is present. Talk to me and/or @jhoring about how to handle this.

[2017-07-06 13:48] bpbond commented on #434
Note that this depends on `L100.IEA_en_bal_ctry_hist`, which may or may not be available, depending on whether the IEA proprietary database is present. Talk to me and/or @jhoring about how to handle this; you can also look in Jill's PR #488

[2017-07-06 15:13] pkyle commented on #517
@bpbond shall I make the changes directly to your branch, since there are so many? Also happy to post the changes as comments here if that's easier.

[2017-07-06 15:16] bpbond commented on #517
No, sure, if you're willing that sounds good.  I've just published the branch (`L223.electricity`). Thanks for your help!

[2017-07-06 15:17] pkyle commented on #517
Yup, I got it! Will try to get this done today

[2017-07-06 16:43] bpbond opened #519 "Make graph_chunks color xml chunks differently"

[2017-07-06 18:11] bpbond opened #520 "Do we really need all of these different rounding levels?"
@kvcalvin asked in #476 "This is probably a bigger picture question than just this PR, but do we really need all of these different rounding levels?" E.g.

[code]

[2017-07-06 19:26] pkyle commented on #517
I just pushed my edits up to the branch (in case you don't get notifications)

[2017-07-06 19:30] bpbond commented on #517
Hugely helpful--thanks so much.

[2017-07-07 12:40] bpbond commented on #452
Nice job on a very big chunk @rynacui - thanks.

[2017-07-07 12:40] #452 closed

[2017-07-07 14:00] #285 closed

[2017-07-07 14:19] bpbond opened #521 "LA102.en_emiss_CDIAC"

[2017-07-07 14:36] #485 closed

[2017-07-07 17:19] bpbond opened #522 "Data system output list getting large"
`driver() -> x` now results in a very large list, ~1.5 GB, and the data system rewrite is only half-ish done. Although this can be filtered for a task at hand (`x <- x[my_chunk("DECLARE_INPUTS")]`) it's a resource drain on the computer, and slows down e.g. building and reloading.

Most data objects are small but some are not:

![sizes](https://user-images.githubusercontent.com/1956468/27968458-117

[2017-07-07 17:49] pralitp commented on #522
Huh, I was just thinking about this mostly around the compressing option.  About as far as I got is I should test this out and see the pros and cons (memory saved vs speed lost).

The delete options seem more likely to become more problematic (what if a user wanted to inspect those tables after the driver was done for instance) and so are more a secondary option in my opinion.

[2017-07-07 17:55] bpbond commented on #522
@pralitp Thanks. I was thinking about the delete option particularly w.r.t. `en_nonOECD`, `en_OECD`, and `SSP_database_v9`, three of the five largest object, each of which is used exactly once by a single chunk and then never again.

[2017-07-07 17:59] bpbond commented on #522
P.S. On my laptop it takes 4.6 seconds to `memCompress` a 1 GB object.

[2017-07-07 18:04] CLynchy opened #523 "Change column headings with "-" to "_" and spaces to "_""
Not important, but annoying?
Column headings in almost all the inst/extdata/emissions/EDGAR/ .csv files have dashes and spaces.  The examples are in `EDGAR_NOx.csv` and column headings are "IPCC-Annex" and "World Region".

Shouldn't the dash and space in the column headings be an underscore?  If I make changes to these files, I can't run the driver because other chunks use these files in their imp

[2017-07-07 18:27] bpbond commented on #523
Back tick: right, that's how to deal with this.

The problem with changing the column names by hand is that these aren't our files: they come from the [EDGAR database](http://edgar.jrc.ec.europa.eu), and if/when we get new versions in the future, don't want folks to have to figure out the hard way that we made fiddled with them. So, as much as it's a drag, need to deal with these issues programmat

[2017-07-07 18:27] #523 closed

[2017-07-07 19:28] abigailsnyder opened #524 "L103.ag_Prod_Mt_R_C_Y_GLU outputs as grouped somewhere along the way"
from zchunk_LA103.ag_R_C_Y_GLU.R

Not a big deal to fix downstream in my code but should probably be fixed upstream

[2017-07-07 20:34] #507 closed

[2017-07-07 22:09] cahartin opened #525 "L2522.ag_MACC_IRR_MGMT"

[2017-07-08 12:43] #524 closed

[2017-07-08 12:43] bpbond commented on #524
Thanks A.

[2017-07-08 14:38] russellhz opened #526 "Units/Source for A32.max_reduction.csv and A32.steepness.csv"
Don't know source for either of these.

Units:
-A32.max_reduction.csv: Is this max possible emissions intensity reduction? Does 80 mean 80% reduction or reduce to 80% of current?
-A32.steepness.csv: percent reduction per year?

[2017-07-08 14:40] russellhz commented on #526
@kvcalvin @ssmithClimate @pkyle Not sure who the right person is for the emissions stuff

[2017-07-08 17:39] bpbond commented on #526
In the recently merged ( #516 ), here's the header we gave `A51.steepness.csv`:
[code]

I _think_ 80 means 80% reduction, but you're absolutely right that this should be clarified. Also, what's the difference between A32.steepness and A51.steepness?

[2017-07-08 17:43] #182 closed

[2017-07-08 17:43] pkyle commented on #526
A32.max_reduction: Maximum possible emissions intensity reduction, in percentage (i.e., 80 means 80% reduction from the base-year emissions coefficient).
A32.steepness: shape parameter of s-curve function that reduces the emissions coefficient as a function of the per-capita GDP. Note that you might want to correct this in the corresponding file A51.steepness (it's not a percentage).
Source (for b

[2017-07-08 17:48] pkyle commented on #526
@bpbond the two files are for urban and industrial process emissions (A32), and for all other emissions-producing activities (A51), including combustion-related emissions in industry. They correspond with the code chunks that are using them. The tables could potentially be merged (same column names) but I can't guarantee that the L232 and L251 code chunks would work correctly.

[2017-07-08 17:55] bpbond commented on #526
@pkyle thanks. When you say A51 is "not a percentage" then what are its units?

[2017-07-08 18:04] pkyle commented on #526
Here's the function, from gdp_control.cpp:
reduction = 1 - ( 1.0 / ( 1.0 + ( currGDP - baseGDP ) / mSteepness ))
The GDP parameters are in thousand 1990 US Dollars, and the resulting "reduction" is unitless, so I guess the units here are the same the GDP (thous 1990 USD)

[2017-07-09 12:18] bpbond commented on #522
I tested option no. 3 above, having the driver delete input files once they're no longer needed. This reduces the driver's current output from 1.5 GB to 1.1 GB. Nice, but not a panacea.

[prune.patch.zip](https://github.com/JGCRI/gcamdata/files/1133722/prune.patch.zip)

[2017-07-09 19:27] bpbond commented on #435
This should be reassigned. @jhoring are you available?

[2017-07-10 12:15] rplzzz commented on #522
I have some ideas on this. We could talk about it if you're around today.

[2017-07-10 12:36] jhoring commented on #435
@bpbond yes!

[2017-07-10 13:26] bpbond commented on #435
Thank you! The necessary chunk skeleton is already in `master`, and doesn't look like this will need any `temp-data-inject` data.

[2017-07-10 15:27] bpbond commented on #522
After talking with @pralitp and @rplzzz , seems like the best option is to have the driver, by default, return no data at all. Users can request data be retained and returned (e.g. `return_data = c()`, `return_inputs_of = c()` and `return_outputs_of = c()`). Something like that. With this is place, the driver will be free to delete objects as it goes, i.e. when it knows they're no longer going to

[2017-07-10 15:38] bpbond commented on #522
Presumably if a user uses the current `stop_before` option, that would imply `return_inputs_of` the same chunk by default; if they use the `stop_after` option, that implies `return_outputs_of`. So there's a logical symmetry there.

[2017-07-11 13:36] bpbond commented on #522
This will improve things a lot. Here's the memory usage of the driver's data store over a run, for four cases: current (original), pruning file inputs as they become unnecessary, pruning all inputs as they become unnecessary, and pruning both input and outputs. In this last case, at the end of the run the data store is empty by definition.

![prune](https://user-images.githubusercontent.com/195646

[2017-07-11 16:07] pralitp commented on #522
This looks great.  Given you put in the hooks to save the tibbles users explicitly want to keep around I say just go with prune_input_and_outputs.

One question though.  Did you take any precautions against cleaning up the `XML` objects too early?  If you recall we decided to not actually run the XML conversion in the batch chunks and instead do so in `save_chunkdata` only if the `write_outputs` w

[2017-07-11 16:12] bpbond commented on #522
@pralitp I think this is still OK, the way it done, but we'll see. Thanks.

[2017-07-11 17:40] abigailsnyder opened #531 "Handling Basin Names in AgLU level 2 files"
Hi all,
As we're working on the AgLU level 2 files, the issue of basin identification has come up.

The level 1 data has basin identifiers like GLU007.
The level 2 data has basin identifiers like PacArctic.

So right now, we have to either join in the `basin_to_country_mappings` table for each relevant output (like Ryna's 2052 chunk), or we have to call the `replace_GLU` function. It seems like we

[2017-07-11 17:45] abigailsnyder opened #532 "Consistent separators for crop names"
In version 2, we would like to drop the use of underscores for the crop names. Underscores should be reserved for use in other delimiters.

This will impact Root_Tuber, biomass_grass, and biomass_tree.

Additionally, biomass_grass and biomass_tree each have an AgSupplySector entry of biomass.  Is this intentional?

[2017-07-11 17:47] kvcalvin commented on #532
I fully support this for version 2. Inconsistency is very problematic when processing data.

[2017-07-11 17:48] kvcalvin commented on #532
For biomass_grass and biomass_tree, the `AgSupplySector` is intentionally the same...this is because both land types produce products sold in the biomass market.

[2017-07-11 17:49] kvcalvin commented on #531
@abigailsnyder: I understand action item #1, but am not sure I understand #2. Did you want these extra columns to go into GCAM (and eventually to the GCAM database)? Or is this just for the level 2 files?

[2017-07-11 17:53] abigailsnyder commented on #531
@kvcalvin for #2, I think we want these extra columns to go into GCAM (and eventually to the GCAM database). Right now, any aggregation of GCAM outputs to different combinations of region - basin - irrigation - management require separating out the AgProductionTechnology by either `dplylr::separate` or regular expression matching. With the crops Root_Tuber, biomass_grass, and biomass_tree right no

[2017-07-11 17:55] kvcalvin commented on #531
Okay, that makes sense. But, I think we'll want this for version 2. Right now, GCAM wouldn't be able to read that in or do anything with it. It would probably be simple code to add, but it would require C++ code.

[2017-07-11 17:57] abigailsnyder commented on #531
Got it. Ok  then just item 1 for now - we should all be consistent with how we handle the translation from Level 1 basin identifiers (GLU07) to Level 2 basin identifiers (PacArctic)

[2017-07-11 17:58] rynacui commented on #531
I think there are also cases where the basin names include the underscore? But I could be wrong...Anyway, I feel the same pain of using `dplyr:separate` in the integration branch...

[2017-07-11 19:08] bpbond commented on #532
Will this be able to be done simply via one massive find-and-replace through both code and (possibly compressed) data files?

[2017-07-11 19:24] kvcalvin commented on #532
Maybe? Probably? We'd definitely need to change a set of csv files that include crop mappings and sector name/information. Hopefully, that is it, but there maybe a few places in the R code that hard code crop names.

[2017-07-11 20:54] aarony2j opened #533 "LA144.building_det_flsp"
@bpbond Is anyone working on this? If not, can I be assigned to it?

And please make the chunk available. Or let me know if I should start generating these myself. Thanks!

[2017-07-11 22:40] bpbond commented on #533
Hey @aarony2j - basically, if there's no open issue, no one is working on it. Assigned! I'll commit the necessary file.

[2017-07-12 16:50] bpbond opened #535 "L202.water.resources.unlimited"

[2017-07-12 17:14] #509 closed

[2017-07-13 14:35] bpbond opened #537 "L233.water.demand.livestock"

[2017-07-13 17:26] yalingliupnnl commented on #537
@bpbond I have an error as below when I run the `driver() ->x` after I remove `_DISABLED` and then Document and Build&Reload:
Error in driver() :
  Unfound inputs not marked as from file: L133.water_demand_livestock_R_C_W_km3_Mt in module_water_L233.water.demand.livestock

I did add the file L133.water_demand_livestock_R_C_W_km3_Mt from the old data system to the new data system directory `C:\00ya

[2017-07-13 17:31] bpbond commented on #537
That's because `module_water_L133.water.demand.livestock` hasn't been done yet. I'll add it to `temp-data-inject` and then you can sync and get it.

[2017-07-13 17:33] #522 closed

[2017-07-13 21:21] bpbond opened #539 "Don't allow whitespace-only in required header fields"
Like @kdorheim in #538

[2017-07-13 22:43] #434 closed

[2017-07-14 04:10] yalingliupnnl commented on #537
@bpbond Now the `driver()` went through after I remove `_DISABLED`, but in the debug mode, it has the error below:
`Error in get_data(all_data, "common/GCAM_region_names") :
  Data system: couldn't find common/GCAM_region_names`

But I do have the file `GCAM_region_names.csv` in the directory `C:\00yaling\Github\gcamdata\inst\extdata\common\`, how to address the error then?

[2017-07-14 10:23] #539 closed

[2017-07-14 10:30] bpbond commented on #537
Have you read my recent posts on Slack about the driver's behavior has changed? Go do that now, either there or in the wiki: https://github.com/JGCRI/gcamdata/wiki/Driver

[2017-07-14 15:49] #312 closed

[2017-07-14 15:54] pralitp opened #542 "manufacturing_water_mapping is fragile"
The mapping file `manufacturing_water_mapping` maps a continental regional definition to the GCAM regions by the 32 GCAM region names.  This sort of thing is bound to happen but if anyone wanted to change the region definitions or even just the region names they will need to update this file too.  It may make sense to move this / keep in together with other regional mapping files.

[2017-07-14 16:02] pralitp opened #543 "L145.water.demand.municipal needs a new science approach"
This issue is mostly a duplicate from the JIRA issue JGCRI-212.

Mostly the approach itself is flawed because the data sets used are too incomplete to be reliable.  In addition the dollar year for the "base cost" is being treated as 1975 dollars but most certainly is not.

This is certainly an issue to be addressed after Version 1, I've tagged it as Version 2 for now.

[2017-07-14 16:02] pkyle commented on #542
I also removed this in my water-ssp-efw branch; it isn't necessary, as we can just map Vassolo and Doll's macro-regions to countries rather than GCAM regions. Then countries are aggregated to GCAM regions post hoc.
Might it be a good idea to merge in some of the changes from the efw branch before releasing this?

[2017-07-14 16:32] cahartin commented on #340
@russellhz somehow Haewon reassigned this chunk to you a while back.  let's go with this one next. thanks!

[2017-07-14 16:39] russellhz commented on #340
@cahartin This is the one I am about to finish. Just need to add documentation

[2017-07-14 16:40] cahartin commented on #340
@russellhz excellent! sorry about that.

[2017-07-14 16:41] cahartin opened #544 "L2521.MACC_IRR_DISABLED"

[2017-07-14 22:53] #535 closed

[2017-07-15 02:51] pkyle commented on #543
Irrespective of which version this is addressed in (1 or 2), I think [this issue](https://jira.pnnl.gov/jira/browse/JGCRI-212) needs to be addressed before the next model release. Right now in this branch, none of our multi-country regions (i.e., 17 of the 32) have defensible estimates of historical municipal water use. Fixing the bugs responsible for this is easy. For me, this is _the top_ of the

[2017-07-15 15:13] russellhz opened #546 "L2521.MAC_an identical to L252.MAC_an"
L2521.MAC_an is supposed to be created in zchunk_L2521.MACC_IRR.R. It is literally a copy of L252.MAC_an, which will come from chunk_L252.MACC.R

Do we need to carry this through?

[2017-07-17 01:48] bpbond commented on #546
So (to make sure I understand): L252.MACC.R creates `L252.MAC_an`, which is then read by  L2521.MACC_IRR.R and written out, without change, as `L2521.MAC_an`. A comment in this latter says "these still need to be written out here" with no other information.

@pkyle Is there a reason we need to keep this duplication? Also cc'ing @kvcalvin

[2017-07-17 11:21] kvcalvin commented on #546
@bpbond: I think this is because the animal MAC curves are put in the same xml as the ag MAC curves, which are modified in L2521. We are reading in the animal MAC curve so we can write it to the appropriate batch file. I would think this is unnecessary in the new system.

[2017-07-17 12:37] pkyle commented on #546
Yeah that's correct--I just checked the batch_all_aglu_emissions.xml (emissions-processing-code/xml-batch in the old data system) and the following CSV files are combined in the same XML file:
		<headerFile>../_common/headers//ModelInterface_headers.txt</headerFile>
		<csvFile>../emissions-data/level2//L211.AWBEmissions.csv</csvFile>
		<csvFile>../emissions-data/level2//L211.AGREmissions.csv</csvF

[2017-07-17 12:45] russellhz opened #548 "A_MACC_TechChange.csv metadata needed (Units & Source)"
Here's what I currently have for the metadata. Is the tech change parameter just lowering the marginal abatement cost?

# File: A_MACC_TechChange.csv
# Title: MAC curve technology change parameters
# Description: Specifies SSP-specific tech change parameters for the MAC curves
# Units:?
# Source:?

[2017-07-17 12:53] bpbond commented on #546
Excellent! Thanks, both of you. Yay eliminating duplication.

[2017-07-18 13:26] cahartin opened #552 "Russell - L2111.ag_nonco2_IRR"

[2017-07-18 14:33] aarony2j opened #553 "Hard-coded years for LA144_building_det_flsp"
Opened issue per Ben's comment on pull request #549.

Here are most of the culprits.

[code]

[2017-07-18 15:43] aarony2j opened #554 "Inputs to LB1322.Fert from H2A model"
LB1322.Fert #529
Hi Page, I opened this issue to address Marshall's comment on the above Fert chunk. Can you say more about data taken from the H2A model for this chunk and whether anything should be updated or better described?
[code]

[2017-07-18 18:30] pkyle commented on #554
Marshall was the one who queried the data! I remember some specifics but they're best confined to the dustbins of history. In general, the data were queried so as to return reasonable and realistic estimates for the entire USA region, which was not straightforward because the H2A model was geographically resolved (e.g., metropolitan areas within the US). The NEcosts printed in that H2A_Prod_Tech.c

[2017-07-18 19:54] pkyle commented on #548
I wasn't the author of this file (@kvcalvin) but from looking at the C++ code, it looks like the tech change increases the portion of emissions abated for a given carbon price, with a maximum reduction rate of 100% (i.e., zero emissions). The data read in are unitless; it's just an annual increase in emissions reduction rates. See the last 15 lines of mac_control.cpp (in the integration/water-ssp

[2017-07-18 19:54] pkyle commented on #548
Oh and for source, it's just an exogenous assumption. So, whatever we're writing for assumptions that don't have a source I guess.

[2017-07-18 20:02] kvcalvin commented on #548
There is actually more information on source. These rates were calibrated to match a paper. I'll look for the citation (I remember putting it in the commit message, but I guess we don't see those now).

[2017-07-18 20:03] kvcalvin commented on #548
Here is the article: http://www.sciencedirect.com/science/article/pii/S1462901106001316

[2017-07-18 20:28] pkyle commented on #548
Cool, thanks @kvcalvin !

[2017-07-18 21:04] bpbond opened #555 "Revisit hard-coded years for L241.fgas"
E.g.

[code]

Re #538

[2017-07-18 21:32] bpbond opened #556 "Why does set_water_input_name get very slow with larger data?"
See @rynacui 's comment in #551

https://github.com/JGCRI/gcamdata/pull/551#discussion_r128099697

[2017-07-18 21:40] aarony2j commented on #554
Thank you, Page. Marshall, as a reviewer, do you want to modify anything more on the H2A file? As it is, the header of the H2A file is:
[code]
I can put some of what Page said in a comment line. Whatever you think is best.

[2017-07-18 21:42] pkyle commented on #554
Uh, change that IO to btu per kg. No reason to leave the special characters out of a comment!

[2017-07-18 22:56] kdorheim commented on #555
@bpbond ah, okay I guess I didn't fully understand what you meant before. I have an idea but I don't know if you will like it....

[2017-07-18 22:56] kdorheim commented on #555
[code]

[2017-07-18 22:59] kdorheim commented on #555
The next chunk would have to be modified but that wouldn't be too hard. We could probably do something similar at line 129, the  years are also hard coded there.

[2017-07-19 01:50] d3y419 commented on #553
woah, this is a hard-coded minefield! i don't even know where to start...

[2017-07-19 06:16] bpbond commented on #553
Yeah, I think prioritizing, let's leave it for now and come back to this for version 1.1 or 2.

[2017-07-19 06:17] bpbond commented on #555
Something like this would work. Prioritizing, I'd say don't worry about it for now, but let's revisit later.

[2017-07-19 11:41] russellhz commented on #548
Thanks @pkyle and @kvcalvin!

I am just going to commit these changes with my pull request for #552

[2017-07-19 11:42] #548 closed

[2017-07-19 12:57] aarony2j commented on #554
Nice catch! Especially since I used it just before for $/kgH

[2017-07-19 13:02] aarony2j commented on #554
@mwisepnnl Hi Marshall. If possible, can you give the final say on this issue today? I need to create a new PR to include a "/" to the unit, and it would be nice to roll in any other final changes. Thanks!

[2017-07-19 13:11] aarony2j commented on #395
I did this one, right? I'll close it then.
LA142.building_agg-AJS #429
Aaron - LA142.building_agg #432

[2017-07-19 13:11] #395 closed

[2017-07-19 18:31] aarony2j commented on #554
Spoke with Marshall - fine as it is now.

[2017-07-19 18:31] #554 closed

[2017-07-19 19:57] russellhz opened #559 "Should emissions/A_regions be labeled as unitless?"
The `bio_N2O_coef` column seems like it should have a label. Maybe something/Mt?

This data is used in `L211.AGRBio` and `L2111.AGRBio` (which is why I was looking at A_regions for units)

[2017-07-19 20:56] russellhz commented on #546
I am also coming across this with `L2111.AnEmissions` and `L2111.AnNH3Emissions` being identical to `L211.AnEmissions` and `L211.AnNH3Emissions`. These L2111 outputs are also inputs to `L2112.ag_nonco2_IRR_MGMT.R`, where they are just copied through again.

`L2521.MAC_an` is also an input to `L2522.ag_MACC_IRR_MGMT.R`, where it is copied again.

Are we just removing this convention altogether beca

[2017-07-19 21:03] kvcalvin commented on #546
@bpbond: It seems like this file is part of a triplet and only the last (L2522) should be implemented in DSR.

[2017-07-19 21:05] kvcalvin commented on #559
It does seem like it should have a unit. @pkyle - while I am guessing I added this, I have no recollection. Was there something like it in GCAM3 (which is what I was drawing from)?

[2017-07-19 22:14] rynacui opened #560 "Revisit the method of adjusting water coefficients to meet profit floor"
In #551, see Kate's comments.

"Can we open an issue to think this through further? It is definitely not for V1 (and possibly not for v2). But, I'd like to revisit this at some point and don't want to forget."

[2017-07-19 22:43] aarony2j commented on #396
Claimed. @bpbond  at your convenience, can you make the chunk available?

[2017-07-20 05:15] bpbond commented on #546
It does seem like it but (as we did in aglu) a clear, explicit decision needs to be made about how we're handling these triplets.

[2017-07-20 05:53] bpbond commented on #517
@cwroney Would you be willing to take this over for a while? I started on it, but got pulled into other things (including current vacation). The bad thing is it's a monster--500+ lines.

[2017-07-20 12:18] #449 closed

[2017-07-20 13:35] cahartin opened #562 "Russell - L211.ag_nonco2"

[2017-07-20 13:48] kvcalvin commented on #546
If it helps make that decision, the xml files generated by L2521 won't run in GCAM without the files in aglu we decided not to make.

[2017-07-20 14:02] #446 closed

[2017-07-20 14:03] cahartin commented on #484
@bpbond can you add in any necessary files?  Thanks!

[2017-07-20 14:22] cahartin opened #563 "L212.unmgd_nonco2"

[2017-07-20 14:23] #544 closed

[2017-07-20 16:44] pkyle commented on #559
Those coefs are kgN2O per GJ of bioenergy crop. The USA value is estimated from the fertilizer application rates and yields in Adler et al. 2007 (Ecological Applications, 17(3), 2007, pp. 675–691), assuming that 2.25% of fertilizer-N is volatilized as N2O (from Davidson 2009; DOI: 10.1038/NGEO608). The other 14 regions are indexed to the USA based on their relative average N2O coefs, across all cr

[2017-07-20 16:48] cahartin commented on #559
thanks @pkyle !

[2017-07-20 18:32] abigailsnyder opened #564 "L221.land_input_1"

[2017-07-21 00:25] #559 closed

[2017-07-21 07:00] bpbond commented on #564
Sorry, terrible connectivity last few days. Will try in a bit.

On Jul 20, 2017, at 8:32 PM, abigailsnyder <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #564<https://github.com/JGCRI/gcamdata/issues/564> to @bpbond<https://github.com/bpbond>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/JGCRI

[2017-07-22 08:17] #552 closed

[2017-07-24 16:54] cwroney commented on #517
@bpbond Happy to take this over!

[2017-07-24 17:55] cahartin opened #567 "L161.nonghg_en_ssp_R_S_T_Y"

[2017-07-25 05:45] bpbond commented on #517
That would be great, even if you end up passing it back to me later. The branch (`L223.electricity`) is pushed to GitHub.

[2017-07-25 16:18] #340 closed

[2017-07-25 16:18] #521 closed

[2017-07-25 18:58] #495 closed

[2017-07-26 13:09] bpbond opened #569 "Fix L112.ghg_tgej_R_en_S_F_Yh not matching"
We mistakenly merged #545 that wasn't passing tests. In particular:

[code]

Some initial investigation by @russellhz suggests that this is happening because of small–_very_ small–differences in `L101.in_EJ_R_en_Si_F_Yh` that then (probably because of the line 145 division in L112 chunk) produce larger differences in its output.

Right now this looks like a problem that @abigailsnyder and I have d

[2017-07-27 06:16] #504 closed

[2017-07-27 19:51] mihejazi opened #571 "L232.water.demand.manufacturing"
@bpbond could you please check to make sure this file is available for Sean to work on?

[2017-07-27 19:54] mihejazi opened #572 "L245.water.demand.municipal"
@bpbond Could you please make sure this file is available for Sean to work on? Thanks.

[2017-07-27 22:40] aarony2j opened #574 "L261.Cstorage_AJS"
@bpbond please make file available

[2017-07-28 14:16] russellhz opened #575 "What is the source for GAINS data (GAINS_activities.csv, GAINS_emissions.csv, gains_to_gcam_sector.csv)?"
My guess is it's something from Rogelj et al.

[2017-07-28 17:50] russellhz commented on #569
Here is a better idea of what the issue is. On the left is gcamdata, the right is gcam-data-system-old. Starting at 1993, they are identical. In the earlier years (with data originating from `L101.in_EJ_R_en_Si_F_Yh`) the differences in input.emissions and energy are individually unimportant, but matter when they are divided to produce emfact. The NAs will become zeros in the next step, FYI
![scre

[2017-07-28 19:57] aarony2j opened #578 "State-level floorspace data written by (an earlier version of) GCAM_USA, but used as an input to the energy system. Should it be revised?"
Regarding,
A44.flsp_bm2_state_comm.csv and A44.flsp_bm2_state_res.csv
written by
LA144.Commercial.R and LA144.Residential.R in an earlier version of GCAM-USA.

See Aaron - LA144_building_det_flsp #549, where the discussion originated.

[2017-07-28 21:24] cahartin opened #579 "L231.proc_sector"

[2017-07-29 04:29] pkyle commented on #578
I just wanted to provide some hopefully-helpful commentary on this, because it's a bit more complicated than "just fix it". Note that this is probably more of an issue for JIRA rather than Github, as this issue pertains to our fundamental data processing methods, not as much our implementation.
One thing to note up front is that for several of our clients (for specific studies/versions, not the co

[2017-07-29 08:44] bpbond opened #581 "Investigate codecov performance problems"
As noted in #580 , where it was disabled, the code coverage step of the CI (called from `coverage.R`) has gotten unusable; it's essentially never terminating, now, slowing everything down and resulting in false errors everywhere.

[2017-07-29 11:19] russellhz commented on #569
This problem actually originates in lines 220-225 of `chunk_LB1322.Fert.R`. The code looks right, but because the differences in numbers are so minuscule, errors occur. Below I show the difference in just the first step (line 220-221). These are side by side showing the `in_indenergy_netFert` and `in_indfeed_netFert` columns, which look identical between left (gcamdata) and right (old ds). However

[2017-07-29 16:10] #533 closed

[2017-07-29 16:30] bpbond opened #582 "Hard-coded years in L243.bio_trade_input"
`L243.bio_trade_input` has a number of hardcoded years (2020, 2025) in lines 219-. Revisit.

[2017-07-29 16:42] bpbond commented on #496
Thanks for great job getting this done before your vacation, Kate. 👍

[2017-07-29 19:08] bpbond commented on #572
I made #571 as "in progress" and when that's done (it's super short, should take an hour) Sean can move on to this (longer and trickier file).

[2017-07-29 19:10] bpbond commented on #572
Sean - not sure if you've done a 200-level file yet. Note that we're not, as in the original data system, generating the `logit_fn_tables` here, so there are parts of this chunk you can skip over. Talk to me, Russell, Pralit, Abigail if you have questions. Thanks!

[2017-07-29 19:13] bpbond commented on #543
This is really important and I don't want to lose it. Starting new "things to tackle for 1.1" issue. Thanks @pkyle !

[2017-07-29 19:16] bpbond opened #583 "Things to tackle in version 1.1 - proposals?"
Use this issue to list things we want to fix/address once all chunks are translated and the output replicates (i.e., we hit milestone 1.0). **PLEASE ADD YOUR NAME**

* **Pralit and Page**: water.demand.municipal needs a new science approach #543

[2017-07-29 19:17] #583 closed

[2017-07-29 20:12] bpbond commented on #581
FYI @rplzzz @kvcalvin @pralitp - and thoughts welcome.

[2017-07-29 20:15] bpbond commented on #546
@russellhz Is this clear guidance?

[2017-07-29 20:27] bpbond opened #584 "Write test code for get_ssp4_regions"
Merged in #570

[2017-07-30 16:34] rplzzz commented on #581
Only thing I can think of is to run the coverage test locally and see if it finishes in a reasonable length of time.

[2017-07-31 13:41] #526 closed

[2017-07-31 13:44] russellhz commented on #546
Maybe? I had just been keeping the first one that was created (i.e. keeping only `L252.MAC_an`) and not any of the duplicates.

[2017-07-31 13:46] russellhz opened #586 "A31.globaltech_shrwt.csv year column wrong in old data system?"
2019?? Is that supposed to be 2015?

![screen shot 2017-07-31 at 9 45 04 am](https://user-images.githubusercontent.com/25437326/28780526-0a831966-75d5-11e7-93b5-4b3c30ce53e1.png)

[2017-07-31 14:03] #562 closed

[2017-07-31 15:33] aarony2j opened #587 "Climate Normal Years"
In the old energy code for LA144.building_det_en.R, there are these few lines that refer to `X_climate_normal_years`, where `climate_normal_years` is `1981:2000`.

Any idea why this is the case? It'd be nice to include some description. (And @bpbond asked about it here: #573). Thanks!

[code]

[2017-07-31 15:44] bpbond opened #588 "L225.hydrogen"

[2017-07-31 15:53] bpbond commented on #588
Hi @fengly20 - we looked and thought this might be good one to try. It is a "Level 2" script, which means there are some things to be aware of--feel free to touch base with me, Russell, Abigail, or other folks who have done this before. Sound OK? Thanks!

cc @d3y419

[2017-07-31 15:58] fengly20 commented on #588
Sounds great! Thanks!

[2017-07-31 16:42] bpbond opened #589 "L2012.ag_For_Past_bio_input_irr_mgmt"
Note this will also take care of `L201.ag_For_Past_bio_input` and `L2011.ag_For_Past_bio_input_irr`, as we're only doing the third of these triplets.

[2017-07-31 17:35] pkyle commented on #586
It looks unnecessary, and I didn't make this table, but often I did use tables with a 2019 year. For example, if we're bringing in Hydrogen as an energy source in 2020 but not before, then then the share-weight table should include a 2019 column with 0 share-weights, followed by a 2020 column with positive share-weights. That way, if someone sets the model timesteps to 1 year, and runs 2016-2019 a

[2017-07-31 17:40] russellhz commented on #586
Thanks @pkyle! I wouldn't have thought of that.

[2017-07-31 17:40] #586 closed

[2017-07-31 17:48] pkyle commented on #587
The reason for the years chosen is that for the SRES scenarios, 2000 was the base year, and the future was anything from 2001 onward. Of course in the GCMs there's really no difference between historical and future years, but I figured that the models must have done some sort of calibration to replicate observational data, at least on some scale, for the historical years. Maybe that's not right? I

[2017-07-31 18:22] #584 closed

[2017-08-02 11:19] #496 closed

[2017-08-02 11:56] bpbond opened #591 "L2071.ag_water_irr"

[2017-08-02 11:57] bpbond opened #592 "L222.land_input_2"

[2017-08-02 13:53] rynacui commented on #591
I think I already finished this with #551 `L2072.ag_water_irr_mgmt` @bpbond :)

[2017-08-02 14:01] bpbond commented on #591
Argh, sorry!

[2017-08-02 14:01] #591 closed

[2017-08-02 14:22] bpbond opened #593 "LB123.LC_R_MgdPastFor_Yh_GLU"

[2017-08-02 15:12] rynacui commented on #589
In `L201.ag_For_Past_bio_input`, starting at line 209, a method to set bio tree yield according to estimated forest primary productivity is commented out, and "kept in case this issue is addressed".

@bpbond please advise how to proceed?

[2017-08-02 15:19] bpbond commented on #589
Let's open an issue, paste in the relevant code, and ignore it for now in the translation. Thanks!

[2017-08-02 15:50] rynacui opened #594 "Revisit method to set bio tree yields according to estimated forest primary productivity"
In #589  `L201.ag_For_Past_bio_input`, starting at line 209, a method to set bio tree yield according to estimated forest primary productivity is commented out, and "kept in case this issue is addressed".

For now, this part is ignored in the translation. Keep the code for later assessment:

`# the method below, commented out, would use carbon density-derived assumptions of forest yields in each l

[2017-08-02 15:51] rynacui commented on #594
#589

[2017-08-02 17:07] #396 closed

[2017-08-02 18:15] russellhz opened #596 "L161.SSP2_EF drops region 25"
#576
Regions in L161.SSP2_EF are assigned emissions factors based on income level and policy in the following categories:
1. Highmed income and strong policy
2. Highmed income and weak policy
3. Low income

Policy is applied based on elec_coal emissions factor.
Region 25 is the only highmed income region with no elec_coal emissions factor, so it gets dropped from the output since it does not fit i

[2017-08-02 20:04] aarony2j commented on #587
Thanks @pkyle !

[2017-08-02 20:04] #587 closed

[2017-08-02 20:13] aarony2j commented on #578
Thanks @pkyle ! After doing enough of these chunks, I can picture the steps in my head ;)
What's next for this issue? Do we mark it to be done in the next round? The original PR has been merged.

[2017-08-02 20:49] pkyle commented on #578
That's a good question! @bpbond are you keeping a list of issues to address over the next few months? I could make a Jira issue for it, but I'm just thinking it would be good to evaluate this one in the context of all of the others that people have noticed, so that we can prioritize.

[2017-08-02 21:01] pkyle commented on #596
Forwarding to @kvcalvin (I did neither emissions nor SSPs)
My one note that I can contribute (maybe irrelevant and maybe not) is that this is the Venezuela+ region, which has abundant coal, but most of their power comes from hydro, and they've never built a single coal power plant. They use coal for industrial purposes, and they export it. As for the strength of the policy in the future, depends o

[2017-08-02 21:30] bpbond commented on #596
Since Kate's not back for 3-4 weeks, though, why don't we replicate old data system (dropping region 25) until then. I'll flag this is a bug and assign to her.

[2017-08-02 22:29] bpbond commented on #578
Yup, we're collecting them here in GitHub issues. I'll tag this appropriately and we can come back it later.

[2017-08-03 13:35] bpbond opened #597 "L224.heat"

[2017-08-03 13:36] bpbond opened #598 "L2322.Fert"

[2017-08-03 13:39] #435 closed

[2017-08-03 15:20] rynacui commented on #589
@bpbond For the final output `L2012.AgProduction_ag_irr_mgmt`, ODS does not drop the unused columns of `level`, `Irr_Rfd`, and `GLU`.  I think I'll correct it using the `OLD_DATA_SYSTEM_BEHAVIOR`, but I'll also make sure it pass the test by keeping those columns. Sounds good?

[2017-08-03 15:32] bpbond commented on #589
Yes, sounds good, thanks!

[2017-08-03 15:38] bpbond opened #599 "L242.building_agg"

[2017-08-03 15:38] bpbond opened #600 "L252.transportation"

[2017-08-03 15:39] bpbond opened #601 "L254.transportation_UCD"

[2017-08-03 15:39] bpbond commented on #601
Assigning these to you per @d3y419 request.

[2017-08-03 16:10] #537 closed

[2017-08-03 16:29] bpbond opened #602 "Trucks in China - size classes"
Email from @sypnl August 3, 2017:

Freight | Truck | Truck (>14t)
-- | -- | --
Freight | Truck | Truck (0-2t)
Freight | Truck | Truck (0-6t)
Freight | Truck | Truck (2-5t)
Freight | Truck | Truck (5-9t)
Freight | Truck | Truck (6-14t)
Freight | Truck | Truck (9-16t)

[2017-08-03 16:59] d3y419 commented on #602
or more generally, we may want to consider simplifying this.
I suggest we model this with small/medium/large trucks for all regions.

[2017-08-03 17:10] bpbond commented on #169
This should either be done, or reassigned.  cc @d3y419

[2017-08-03 17:53] ssmithClimate commented on #575
Best reference for this, since it gives the context as well, is:

Rao S, Z Klimont, SJ Smith, R van Dingenen, F Dentener, L Bouwman, K Riahi, M Amann, B Bodirsky, D Van Vuuren, L Reis, KV Calvin, L Drouet, O Fricko, S Fujimori, D Gernaat, P Havlik, M Harmsen, T Hasegawa, C Heyes, J Hilaire, G Luderer, T Masui, E Stehfest, J Strefler, S van der Sluis, and M Tavoni (2017) "Future Air Pollution in th

[2017-08-03 18:23] russellhz commented on #575
thanks @ssmithClimate !

[2017-08-03 18:23] #575 closed

[2017-08-03 21:08] bpbond commented on #169
@pkyle some file headers I'd appreciate any help/info you can give:
[code]

[code]
Thanks!

[2017-08-03 21:37] bpbond opened #604 "LA114.wind very slow for some people"
`LA114.wind` executes in 3.5 seconds on my laptop, and @pralitp reports 6s.

But:

@fengly20 50s.
@abigailsnyder 60-62s.
@rynacui 68s.

?

[2017-08-03 23:38] pkyle commented on #169
A11.fos_curves.csv
Units: available: EJ; extractioncost: 1975$/GJ
Source: MiniCAM inputs, derived from analysis of Rogner 1997, https://doi.org/10.1146/annurev.energy.22.1.217

[2017-08-03 23:42] pkyle commented on #169
rsrc_unconv_oil_prod_bbld.csv
Units: billion barrels of oil per day
Sources: Canada source is still active. Venezuela source, IEA World Energy Outlook 2010, is available at http://www.worldenergyoutlook.org/media/weo2010.pdf

[2017-08-04 14:28] bpbond opened #606 "LA114.wind needs some cleanup"
Comments originally by @rplzzz :

1. The functions on lines 173 and 209 are way too long to be anonymous functions.  They should be pulled out and documented.

2. We should also consider pulling the inner functions at the beginning of the chunk out and documenting them.  They don’t make closures, so there isn’t really any reason to define them inside of the chunk.

3. ~Some of the inner functions

[2017-08-04 18:05] #567 closed

[2017-08-04 18:15] bpbond commented on #425
Closing duplicate.

[2017-08-04 18:15] #425 closed

[2017-08-07 13:33] bpbond commented on #604
Fixed in #611

[2017-08-07 13:33] #604 closed

[2017-08-07 13:46] bpbond opened #615 "Confusion about level 2 files"
Hi @pralitp -

Many people (including me) are pretty fuzzy about how to handle the `get_logit_fn_tables` calls and associated `batch_` files, and folks (including me) are finding the documentation at https://github.com/JGCRI/gcamdata/wiki/Name-That-Function unclear.

Do you have time to create a dedicated Level 2 chunk wiki page? It would detail the parts to avoid (`get_logit_function_tables`) a l

[2017-08-07 14:10] #564 closed

[2017-08-07 14:15] aarony2j opened #616 "Sources for LA161.Cstorage input data"
Hi @pkyle. Can you help with sourcing the input data of this chunk? Or recommend someone who can? This was brought up in Aaron - L261.Cstorage #608.

I'll try and paste the tables here. (Sorry in advance for the formatting.) Some may be easy like share weight of 1 because there are no alternatives (last three tables). Thanks.

File: A61.rsrc_info.csv
Title:   Carbon storage resource info
Units: Mt

[2017-08-07 14:52] pkyle commented on #616
None of these tables have any data source, or require an explanation different from any other generic sector, resource, or technology in the model. If you want to maintain consistency with what others have written for other sectors, you can just check what people have been writing for this sort of information (just scan the input data for the relevant strings, e.g., "shrwt", "rsrc_info", "sector")

[2017-08-07 15:28] bpbond commented on #616
Why assigning this to me @aarony2j ?

[2017-08-07 15:30] aarony2j commented on #616
Thanks @pkyle . @bpbond , I didn't see any better ways other people have addressed these tables. The couple files I've seen with logit data have no source. Is it okay to leave as is? Or please suggest what to do.

[2017-08-07 15:32] bpbond commented on #616
I think fine to leave as is.

[2017-08-07 15:32] #616 closed

[2017-08-07 15:46] #589 closed

[2017-08-07 16:55] bpbond commented on #615
@rynacui @abigailsnyder @russellhz @aarony2j I opened this and Pralit, very reasonably, asked for specific examples of where the existing documentation is unclear or confusing. If you get a chance and have one to provide to him, either in this issue or in person, please do. Thanks.

[2017-08-07 17:37] swd-turner commented on #410
@bpbond I'm currently updating this chunk with the `LEVEL2_DATA_NAMES` you pointed out to me yesterday... I have an output (`L2233.GlobalIntTechCapital_elec`) for which the required column names differ slightly from those in the L2 names list (`LEVEL2_DATA_NAMES$GlobalIntTechCapital`)... the L2 names list has a column named `intermittent.technology`, but the output should be just `technology`. Sho

[2017-08-07 17:52] bpbond commented on #410
@pralitp @pkyle Please see Sean's question above. Thanks.

[2017-08-07 17:58] bpbond commented on #615
Here's one question: every time I remove a `get_logit_fn_tables` call, should I be adding a "logit.type" column to `write_to_all_regions`? Should I also, every time, be adding a `add_logit_tables_xml` call in the associated xml-generating file? This wasn't clear to me.

[2017-08-07 18:16] pralitp commented on #615
The answer is yes to both questions.  I can add something like the following to the wiki if you find it helpful:
The reason being is are kicking all the work that would have been done by `get_logit_fn_tables` down the road into the "batch chunks" where that same work is essentially being done with the call to `add_logit_tables_xml`.  However the call to `write_to_all_regions` would want to drop th

[2017-08-07 18:18] bpbond commented on #615
Ah, OK, thanks!

We'll need to go back/through the xml-generating code, I suspect. I definitely have _not_ being doing this to date.

[2017-08-07 18:35] pralitp commented on #410
I would definitely not update the `LEVEL2_DATA_NAMES`.  There are a number of cases where column names didn't always match up (you will be able to find some other table in `gcamdata` tagged `LEVEL2_DATA_NAMES$GlobalIntTechCapital` where it is called `intermittent.technology`: [you can find a list here](https://github.com/JGCRI/gcamdata/issues/369#issuecomment-307491150) ).

Mostly the LEVEL2_DATA_

[2017-08-07 18:50] pralitp commented on #615
I just did a quick check on the current master and found just one case: `ag_For_Past_bio_base_IRR_MGMT.xml`

[2017-08-07 18:53] swd-turner commented on #410
@pralitp ok thanks!

[2017-08-07 18:55] pkyle commented on #410
Yeah that was definitely a mistake in the old data system, but one that I got away with, because the column names of the level2 data files are just for our reference, and aren't actually written to XML. Sorry about the confusion!

[2017-08-07 19:39] swd-turner commented on #410
@bpbond ... Can I assume then based on Pralit's comments that I wanna be creating and enabling the `zchunk_batch_electricity_... .xml` files and committing them along with this chunk?

[2017-08-08 12:57] bpbond commented on #410
Yes. Hang on, I'll add it to the PR.

[2017-08-08 13:47] #571 closed

[2017-08-08 14:17] #572 closed

[2017-08-08 15:02] bpbond opened #619 "VERSION 1 CHECKOFF - MODELTIME"
Verify that

- [x] new data system produces exactly same `modeltime` XML files as old data system
[code]
- [x] structure of files matches

- [x] contents of files matches (we assume true for data, based on `oldnew` test)

- [x] GCAM runs with these files substituted in

[2017-08-08 15:04] bpbond opened #620 "VERSION 1 CHECKOFF - SOCIOECONOMICS"
Verify that

- [x] new data system produces exactly same `socioeconomics` XML files as old data system
[code]
- [x] structure of files matches

- [x] no `temp-data-inject/` files still being used

- [x] contents of files matches ~(we assume true for data, based on `oldnew` test)~ verified with run-xml-tests.py

- [x] GCAM runs with these files substituted in

[2017-08-08 15:09] bpbond commented on #620
Hi @pralitp @d3y419 -

This and `modeltime` are the two areas already done, and because they're small, they're handy test cases. I'm assigning (if I may) this to you guys as the DSR XML lead and socioeconomics lead, respectively.

**We'd like to declare them officially done for Version 1**: producing exactly the same XML files as the old data system. (Not exactly: we have made some changes, there'

[2017-08-08 15:11] bpbond commented on #619
This and socioeconomics are the two areas already done, and because they're small, they're handy test cases. I'm assigning (if I may) this to us as the DSR XML lead and modeltime lead, respectively. (Modeltime was the very first thing done in DSR, before we had teams or leads.)

**We'd like to declare them officially done for Version 1**: producing exactly the same XML files as the old data system

[2017-08-08 17:05] #484 closed

[2017-08-08 17:55] mihejazi opened #622 "L203.water.mapping"

[2017-08-08 18:10] pralitp commented on #620
Mostly I've been working on a script to try to automate checks so at this point I may have bugs in there but thus far it has only flagged:
bld_agg_GCAM3.xml not found in DSR
bld_agg_gSSP3.xml not found in DSR
bld_agg_gSSP5.xml not found in DSR
socioeconomics_GCAM3.xml not found in DSR
trn_agg_GCAM3.xml not found in DSR
trn_agg_gSSP3.xml not found in DSR
trn_agg_gSSP5.xml not found in DSR

@d3y419,

[2017-08-08 18:13] pralitp commented on #619
@bpbond, given these files are exactly the same do we really need to run them through GCAM or can we just mark this good to go?

[2017-08-08 18:15] bpbond commented on #619
@pralitp Up to you. I was just thinking that's the acid test, so to speak. But you're in charge of this final certification process, and if you think not worth it, fine.

[2017-08-08 18:17] #169 closed

[2017-08-08 18:33] pralitp commented on #619
Maybe for just these.  For other modules it will definitely make sense to run them through GCAM.

[2017-08-08 18:34] bpbond commented on #619
Makes sense to me.

[2017-08-08 18:58] bpbond commented on #311
`L133.water.demand.livestock` was already done by Yaling. Changing the title to `L233.water.demand.livestock`.

[2017-08-08 19:00] bpbond commented on #311
Wait, no, that's been done too. Closing!

[2017-08-08 19:00] #311 closed

[2017-08-08 19:08] bpbond commented on #180
We're far enough along this isn't worth it, I don't think. We will need to have a protocol (tests) for when those blocks get turned on, but that can wait for now.

[2017-08-08 19:08] #180 closed

[2017-08-08 19:08] bpbond commented on #223
We'll deal with this when we hit gcam-usa. Later.

[2017-08-08 19:08] #223 closed

[2017-08-08 19:09] bpbond commented on #546
@russellhz close this?

[2017-08-08 19:10] bpbond commented on #569
Fixed in #603

[2017-08-08 19:10] #569 closed

[2017-08-08 19:11] #45 closed

[2017-08-08 19:12] bpbond commented on #445
@kdorheim Is this really in progress?

[2017-08-08 19:16] kdorheim commented on #445
@bpbond Yes, I started working but then you posted to the dsr channel to w.r.t. for `L112.ghg_tgej_R_en_S_F_Yh.csv` so then I moved on to my next assigned chunk.

[2017-08-08 19:17] bpbond commented on #445
Huh?  😕

[2017-08-08 19:21] kdorheim commented on #445
`L241.en_newtech_nonco2` uses that .csv and I thought that's what it meant to do. opps sorry. I will finish it soon.

[2017-08-08 19:24] bpbond commented on #300
@pkyle I went and looked at `EIA_product_fuel.csv` and it doesn't match what you show above. And we don't have a `EIA_SEDS_fuels` file that I see. The `IMF_GDP_growth` example does get read incorrectly, as "n/a" instead of `NA`, but this is handled in line 188 of `L102.GDP.R`.

Is this a problem in the current dsr?

[2017-08-08 19:30] bpbond commented on #327
Can this issue be closed? Or should it be tagged as milestone 1.1 or 2?

[2017-08-08 19:30] bpbond commented on #259
Can this issue be closed?

[2017-08-08 19:31] bpbond commented on #303
Adding milestone "Version 2" to this. If it should be closed instead, please do so.

[2017-08-08 20:25] ssmithClimate commented on #327
The issue still exists, so probably can't be closed. I don't know what milestones are so can't comment on that...

[2017-08-08 20:28] bpbond commented on #327
Thanks. Based on your comment above ("Our plan after DSR is complete...") I'm assuming this can be safely tagged as v1.1 though.

[2017-08-08 20:31] ssmithClimate commented on #327
Sounds good!

[2017-08-09 12:52] #581 closed

[2017-08-09 13:23] bpbond commented on #615
How should I handle lines 321-335 in `L202.an_input.R` (aglu/level2)? Does a version of this code have to go into the associated xml-generating file in the new system?

[code]

[2017-08-09 13:39] pralitp commented on #615
I think all of the code in the for loops can just be deleted.  However:
`L202.Supplysector_in <- subset( L202.Supplysector_in, !region %in% no_aglu_regions )` should stay.  And no, this sort of code will not need to be replicated in the xml-generating chunk.

Essentially we needed to strip out `no_aglu_regions` from all tables but because in our old strategy we created `L202.SectorLogitTables_in`

[2017-08-09 13:41] bpbond commented on #615
Kind of. Thanks.

[2017-08-09 16:29] d3y419 commented on #620
@pralitp, people wanted GCAM3 deprecated : https://github.com/JGCRI/gcamdata/issues/337

[2017-08-09 21:18] rynacui commented on #593
@bpbond I just found out one of the precursors of this chunk `L110.For_ALL_bm3_R_Y` has many repeated rows - total of 39,680, but the unique rows are in fact 1,280, same as the ODS output.

It is generated by one of the very first chunk we translated `zchunk_LB110.For_FAO_R_Y.R`, and it turns out it is not tested w/ the flag `FLAG_NO_TEST`. Not sure if this was because of rounding issue back then?

[2017-08-09 21:24] abigailsnyder commented on #593
@rynacui @bpbond that's almost certainly a mistake. I can't imagine a first chunk would have gotten through with a `FLAG_NO_TEST` for any reason other than oversight.

I'm gonna guess that a call to distinct is all that chunk needs; hopefully throwing that into the final output pipeline and removing the `FLAG_NO_TEST` is all it needs to get fixed

[2017-08-10 07:17] bpbond commented on #593
Agreed. How...antiquated...that code looks, compared to what you guys write now!

@rynacui I'm actually committing a bit of code cleanup of that chunk to `master`. I agree with Abigail, please try removing that `FLAG_NO_TEST` and seeing if there's an obvious fix like `distinct` that can be applied. Thank you!

[2017-08-10 08:11] bpbond opened #628 "Change when precursor information gets returned?"
Currently the driver can query data system chunks for their inputs and outputs, and from the returned information, build [pretty dependency graphs](https://github.com/JGCRI/gcamdata/blob/master/figures/network_current.png) and figure out general dependency information--i.e., the chunk call sequence.

This dependency information is however chunk-level, i.e. coarse. To get _object_ dependencies, we

[2017-08-10 11:57] pralitp commented on #628
If only we thought of that before.. although it would be pretty easy to write a script to do it.  Maybe we wait until version one and then just convert them all then?

Also I kind of like keeping the `add_precursors` and `same_precursors_as` as basically tags.  It doesn't add anything except in my opinion more make more clear what is going on:

[code]

And then `add_precursors` could be as simple

[2017-08-10 12:17] rplzzz commented on #628
If two objects share the same precursors, then surely the right way to do it is to say
[code]
That saves the rest of the system having to figure out how to parse the indirect reference.

It seems a little weird to me that the output from a declare outputs step will now be, not a list of the outputs, but a list where the outputs are the names attribute of the list, but maybe it's not a huge deal.

[2017-08-10 12:52] bpbond commented on #628
I absolutely agree that right now the declare outputs step is clean and simple, and am not crazy to muck it up.

@pralitp Wow, that's a cool idea about validating precursors. Wow. Agreed, a utility, not a test. Going to open a separate issue for this.

Waiting until after version 1 makes sense, agreed. OK, let's put this on the back burner for now, and return to it later. Thanks to you both.

[2017-08-10 12:53] bpbond opened #629 "Automated validation of precursor declarations?"
In #628 @pralitp said:

and @rplzzz replied

[2017-08-11 16:30] rhoesly opened #630 "HFC emissions Guus Velders citation - SSP2_GV"
Does anyone know the citation for the Guus Velders HFC emission inventory? I'm having trouble locating a citation or website
Data includes:
HFC historical emission 1990 - 2012.
The file notes that the scenario is SSP2_GV

file in data system:
emissions-data/level0/HFC_Inventory_GV.csv

[2017-08-11 19:10] bpbond opened #632 "Missing units for emissions constants"
[code]

@russellhz It looks like you added these? If yes, can you track down units? Thanks.

[2017-08-11 19:13] pkyle commented on #630
This is from @kvcalvin, although she's on vacation. Just searching for the string "Velders" the following link came up elsewhere in the data system. Maybe sufficient? http://www.sciencedirect.com/science/article/pii/S135223101530488X

[2017-08-11 20:52] ssmithClimate commented on #630
I don't know for sure if the data is the data from this paper, or from an update of this, but I suspect this is the correct reference.

For the record, there's some very nice new work (including MAC curves) from IIASA that we should consider incorporating into GCAM when we get a chance:
Global emissions of fluorinated greenhouse gases 2005–2050 with abatement potentials and costs (Purohit & Höglun

[2017-08-14 08:42] bpbond opened #634 "L226.en_distribution"

[2017-08-14 08:43] bpbond opened #635 "L222.en_transformation"

[2017-08-14 08:52] #471 closed

[2017-08-14 10:01] bpbond opened #636 "Do GCM3 GDP and population outputs"
This is not ideal, but after discussion with @pralitp and @d3y419 it seems better to implement GCAM3 outputs for now. (See #337 .) The problem is that it's not a simple removal of unneeded outputs; rather doing so changes a number of downstream outputs, and so removing all the GCAM3 stuff complicates our V1 comparison. @russellhz estimates we're talking 4-8 hours of work to put them in for

* L102

[2017-08-14 15:49] russellhz commented on #632
emissions.LOW_PCGDP : Thousand 1990 USD
emissions.COAL_SO2_THRESHOLD: Tg/EJ (here it is referring to Tg SO2 per EJ of coal electricity)

[2017-08-14 15:50] russellhz commented on #636
Sounds good!

[2017-08-14 16:29] russellhz opened #637 "Need help with L231.proc_sector assumption file units"
`module_emissions_L231.proc_sector` reads in a bunch of assumption files with no units or sources. The ones I'm not sure about:

- Cost: `A31.globaltech_cost`
- Coefficients: `A31.globaltech_coef`
- Efficiency: `A31.globaltech_eff` and in energy `A32.globaltech_eff`
- Other: `A31.rsrc_info`

- Logit and shareweight: I've been listing these as NA/Unitless

[2017-08-14 20:36] cwroney commented on #517
@bpbond I'm making some decent progress on this chunk, but I've run into a number of lines that use `interpolate_and_melt` with `rule = 3`, calling 'gcam_interp' in the old system, which interpolates using rule 1 for historical years and then extrapolates an exponential growth/decay function for the efficiency/capital costs out to 2100, using the `improvement.rate` and `improvement.max` from the d

[2017-08-14 20:39] bpbond commented on #517
Hahaha...yes, YOU WIN THE PRIZE. 🎉 Way back in March I looked at rule 3 of `gcam_interp` and said, nope, not doing _that_ until necessary.

We should probably rope in @pkyle and/or @pralitp for advice on this. Gentlemen, thoughts?

[2017-08-14 20:47] bpbond commented on #517
Probably, though, this is what we'll need to do. I'm happy to take this on once Page or Pralit confirms.

[2017-08-14 20:49] cwroney commented on #517
@bpbond Excellent, thanks.

Are rules 1 and 2 of `gcam_interp`, `You do not talk about gcam_interp`?

[2017-08-14 20:53] pralitp commented on #517
I can put in the implementation for `rule=3` if we think it is still a good idea.  I did it the first time as the alternative was to just read into the CSV files the result of the exponential decay and the source (equation, parameters, etc) were black box.  I'll need a bit of time to refresh myself on some of the intricacies of it (allowing rows that didn't have a `improvement.rate`  and `improvem

[2017-08-14 21:05] #592 closed

[2017-08-14 21:13] cwroney commented on #517
@pralitp I believe the input csvs are structured so all rows that don't have an improvement.rate have a 2100 value to interpolate to (usually constant), see e.g. `A22.globaltech_cost`. In `gcam_interp` it falls back on `rule=1` for interpolation.

Renewable storage also specifies a shadow tech. I'm under the impression for the techs that shadow others, they have separate improvement rates that app

[2017-08-14 22:45] aarony2j commented on #599
@bpbond can you make this chunk available? thanks!

[2017-08-15 02:09] #574 closed

[2017-08-15 12:48] abigailsnyder opened #640 "adjust `left_join_error_no_match` for level 2 chunks"
One thing I've noticed with level 2 chunks is that we have to carry a column `logit.type` whose values are all NA whenever we're creating a logit-related output.

Therefore, for these logit related tables, we can't use `left_join_error_no_match`, often simply due to the `logit.type` column.  There's obviously ways to work around it, but is there any way `left_join_error_no_match` can be updated to

[2017-08-15 12:52] abigailsnyder opened #641 "Mixing land nest assignments in level 2 chunks"
One thing I noticed while working on `L222_land_input_1.R` is that it produces outputs that have to do with second level nests, and then from those second level nests. we back track to form tables for protected land in first level nests.

Pralit mentioned that, often, there isn't a science reason for that.

If that is the case, then in version 2, it might make more sense to cleanly separate out th

[2017-08-15 12:53] abigailsnyder opened #642 "LB124.LC_R_UnMgd_Yh_GLU"
"needed" please. I won't be working on it until Thursday or Friday, so no rush.

[2017-08-15 12:59] rplzzz commented on #636
Just a thought, would it be easier to cut these outputs out of the comparison output, instead of adding them to the new output?

[2017-08-15 13:01] rplzzz commented on #640
Easiest thing to do would be to add argument like `na.allowed` to `left_join_error_no_match`.

[2017-08-15 13:03] bpbond commented on #636
Thanks, Robert. Yes, we can easily exclude things, but that's not the problem. Rather, it's that the GCAM3 outputs flow into other downstream data products that we _do_ want to verify for version 1.

[2017-08-15 13:04] bpbond commented on #640
Yeah, or an `ignore_columns = "logit.type"` one.

[2017-08-15 13:05] rplzzz commented on #636
_Do_ we want to verify them?  If they used GCAM3 data to calculate, then they are junk.  we could just remove all of the downstream GCAM3 products.  Or are you saying that GCAM3 values are being used to calculate values that are ostensibly GCAM4 data?  If that's what's happening, then the old data system is simply _wrong_ and should be fixed.  (This, btw, is one of the best arguments against keepi

[2017-08-15 13:07] bpbond commented on #636
My understanding is that GCAM3 data flow into ostensibly non-GCAM3 outputs, but roping in @pralitp and @d3y419 for a more precise answer.

[2017-08-15 13:36] pralitp commented on #636
@pkyle was the one who initially looked into where it was being used so he can better comment on that but in the meantime you can check the comments in #337.

In any case it isn't clear why the downstream products should be _wrong_.  Obviously most of the data products in the system were created long before the SSPs were finalized (and they are still not in the Core version of the model).  Which s

[2017-08-15 14:51] #593 closed

[2017-08-15 15:30] pralitp opened #645 "Code coverage performance regression has been fixed"
@bpbond and @rplzzz I received notification on `jimhester/covr` that the performance degradation we were seeing in the latest version has been fixed (was issue 274 there).   This is related to #581, and was worked around by specifying covr version 2.2.2 in #590.  We could in principal use the latest version again if we so choose although there doesn't appear to be any pressing need at the moment.

[2017-08-15 15:33] bpbond commented on #645
Thanks! Up to you; from my point of view, feel free to defer to V1.1.

[2017-08-15 15:38] pralitp commented on #517
Thanks, that is ringing a bell now.

The historical capital costs are for the entire tech.  The improvements rates are split because that is something users would likely want to change on just the CCS portion and not the underlying base technology (such as an advanced CCS scenario).

I'll take a stab an reimplementing `rule=3` today.  I think I will I do it as a separate PR.  It may well be the ca

[2017-08-15 16:38] bpbond commented on #642
One of the very last Level 1 chunks.

[2017-08-15 16:42] bpbond opened #646 "LB161.ag_R_C_Y_GLU_irr"
OK?

[2017-08-15 16:46] CLynchy commented on #482
@bpbond Can you look at my branch?  `CL-nonghg_en_R_S_T_Y_2`.
I am having trouble with lines 165-167.  These lines are pretty standard, which is why it is so confusing.  When I run this section (lines 157-169) and compare the output from the old code (lines 84-93) there are many more "NA"  in both the `value` and `GCAM_region_ID` columns in my output.  The problem is then when I delete the "NA"s i

[2017-08-15 16:52] bpbond commented on #482
👍 will do later today

[2017-08-15 16:56] rplzzz commented on #636
If half the model is using GCAM4 socioeconomics, and the other half is using GCAM3 socioeconomics, then the socioeconomics aren't consistent across the model, which is wrong in my book.

[2017-08-15 17:35] #640 closed

[2017-08-15 17:52] bpbond commented on #482
[code]

Hi @CLynchy here's the error that's being thrown. Do you understand this?

[2017-08-15 18:15] aarony2j commented on #599
@bpbond Hi Ben, at your convenience, can you provide the files for this chunk? Thanks

[2017-08-15 20:01] pkyle commented on #636
From my memory the issue is that when we switched from "gcam3" pop and gdp to "gssp2" pop and gdp, all of the main, important files got switched over. However some minor ones got omitted that are used for (e.g., and I can't look this up right now) population weighting of degree days in multi country regions, or estimating characteristics of transportation technologies in future years, or perhaps b

[2017-08-15 20:06] pralitp commented on #636
I wonder if we are just talking past each other.  To be clear I'm not apposed to removing the GCAM3 socioeconomics but I think there is enough complication and would change result that I would rather have that as it's own proposal and not mid stream of the DSR.

Again maybe we are really on the same page.  I don't think there is anything wrong in using the socioeconomics to further derive assumpti

[2017-08-15 22:03] bpbond opened #647 "Go through constants.R and clean things up"
Make sure everything in right section, has module prefix (`energy.xxx`), has good comments. Use git blame to assign issues as necessary.

[2017-08-15 22:54] rplzzz commented on #636
@pralitp My intention was that we would do a quick core model proposal to patch the old data system, then regenerate the comparison data.  However, if the consensus is that it really would be easier to continue generating the GCAM3 data, then I won't object further.  I'm just trying to save us the effort of updating a bunch of code that is basically obsolete.

[2017-08-15 23:44] pralitp commented on #517
@bpbond, as I started working on this.  One thing was clear from the start.  This is going to be much more than a pipeline helper.  I'm thinking of instead adding it as it's own module-helper.  I'm not sure however how much to do inside of the helper and how much to leave out (do we assume it starts from the current assumptions file or has at least been cleaned up a little?).  I'd appreciate any t

[2017-08-16 16:19] swd-turner opened #648 "L2233.electricity_water update attributes"
`L2233.electricity_water` to be updated with improved attributes once upstream inputs are available from #517

[2017-08-16 17:10] swd-turner commented on #648
Also batch_xml files to be updated and enabled at this point. Note, following files are passed straight from L223 into batch_electricity_water.xml:

"L223.ElecReserve"
"L223.EQUIV_TABLE"
"L223.StubTechCapFactor_elec"
"L223.SubsectorInterp_elec"
"L223.SubsectorInterpTo_elec"
"L223.SubsectorLogit_absolute-cost-logit"
"L223.SubsectorLogit_elec"
"L223.SubsectorLogit_relative-cost-logit"
"L223.Subsecto

[2017-08-16 19:11] kdorheim opened #649 "L241.en_newtech_nonco2 outputs"
Output returned by the old data system renames the csv files from `L241.nonghg_max_reduction` to `L241.nonco2_max_reduction`. The new ds returns csv with the names containing  the `nonghg`. How do we want to name the outputs from this chunk in the new ds?

[code]

@pkyle  I spoke with @bpbond and he said to check with you

[2017-08-16 19:17] kdorheim opened #650 "L241.en_newtech_nonco2 TODO"
`L241.en_newtech_nonco2.R` in the old ds contains the following

(The code currently replaces 1975 technology coefficients with `may.be.historic` values from an assumption file.)

Is this something we want address later on?

[2017-08-16 19:24] bpbond commented on #649
I thought this was probably a typo?

[2017-08-16 19:33] bpbond commented on #517
@pralitp Thanks for taking a first pass at this! This seems like a solid start. A few thoughts as I was looking through your code:

- I wouldn't assume a particular assumptions file; have the user pass in assumptions as a parameter
- The lines where you're explicitly extrapolating (e.g. `value_base*improvement.max+(v...`) - do we want to call `approx_fun` instead?
- Yeah, I think adding this as se

[2017-08-16 20:44] pkyle commented on #649
I can confirm it was a typo, though I was not the author as this is the emissions module! Either one will work so the easier one (nonco2) is probably what I'd recomment. Here's a more complete description if it matters: non-GHG in this case is more descriptive, as the CSV file does not include CH4, N2O, or the F gases. So while "nonCO2" does work, "nonGHG" is more descriptive of this particular ba

[2017-08-17 14:05] bpbond commented on #649
Thanks, Page.

[2017-08-17 17:50] abigailsnyder commented on #642
@bpbond I'm finding that switching my brain between working on Level 1 and Level 2 chunks leads to a little bit of lost time adjusting my thinking. Any chance we can finish up all the level 1 chunks before doing more level 2?

[2017-08-17 18:57] bpbond commented on #642
Of course--whatever works for you. So...want this now?

[2017-08-17 19:01] abigailsnyder commented on #642
sure; I'm just working through the downstream stitching from LB124 and then I have to finish up the comments and documentation before I open the PR.
I had to use a `flag_protect_float` on a couple of the outputs to get the tests to pass, so who knows, the downstream stitching might go sideways

[2017-08-17 19:10] abigailsnyder commented on #642
I spoke too soon; the downstream stitching is going sideways.

I'm working on our old friend, LB125.LC_tot.

I get this failure:
[code]

except
[code]

[code]

The scatter plot is fine too.

[2017-08-17 19:32] bpbond commented on #642
Oh good!

[2017-08-18 12:38] pralitp opened #656 "Chunks fail to run with latest version of dplyr"
It looks like the CI failures are coming from updating some package and is causing failures in chunks that previously ran just fine.  I'm not totally sure which package but most likely candidate is dplyr.  This is what I saw when running the driver:

[code]

[2017-08-18 12:48] bpbond commented on #656
See also #301.

[2017-08-18 12:52] rplzzz commented on #656
From the wording of that error, it looks like we might have been doing something we shouldn't have been doing anyhow.  Maybe we should just fix it.  It might be as simple as ungrouping before we try to mutate.

Also, we should look into that `summarise_each` warning.

[2017-08-18 12:54] pralitp commented on #656
Yup, this is what I'm going through now.  Not sure how many of these will pop up though..

[2017-08-18 13:14] pralitp commented on #656
Ok, they all seem to be simple grouping errors.  I'll submit a PR to clean those up shortly.

[2017-08-18 13:37] bpbond commented on #656
OK, thank you @pralitp -

[2017-08-18 18:03] ssmithClimate commented on #637
I don't have anything to add on these files. Logit and share weight are, indeed, unitless (so use that instead of NA).

[2017-08-18 18:32] abigailsnyder opened #659 "L223.land_input_3"
@bpbond

[2017-08-18 18:35] #642 closed

[2017-08-18 18:57] #646 closed

[2017-08-18 19:05] #636 closed

[2017-08-18 20:10] #649 closed

[2017-08-18 20:48] cwroney commented on #634
@bpbond This chunk has a few times when it uses `interpolate_and_melt` to filter a historical data set down to the `BASE_YEARS`. I could replicate this just using a one line `filter` or I could use the full code to complete, arrange, group, and approx_fun on the data, even though the approx_fun isn't doing anything. If I just filter it, it will only able to accept data sets where the historical da

[2017-08-18 21:04] cwroney commented on #634
to be more exact, `    L126.IO_R_elecownuse_F_Yh %>%
      complete(nesting(GCAM_region_ID, sector, fuel), year = c(year, BASE_YEARS)) %>%
      arrange(GCAM_region_ID, sector, fuel, year) %>%
      group_by(GCAM_region_ID, sector, fuel) %>%
      mutate (value = approx_fun(as.numeric(year), value)) %>%
      filter(year %in% c(BASE_YEARS))` would output the same result as `L126.IO_R_elecownuse_F_

[2017-08-19 11:08] bpbond opened #662 "L1233/L2233 water chunks could be simplified"
In #624 @skim301 said:

[2017-08-19 11:11] bpbond opened #663 "Consider creating the water mapping files by demand type"
In #651 @skim301 said:

[2017-08-19 11:16] bpbond commented on #634
Good lord. If that `filter` does it, and if it passes timecheck, let's do that. So much simpler and clearer.

[2017-08-19 11:29] #410 closed

[2017-08-22 14:48] pralitp commented on #663
FYI, when this work was done the first time around that was the way it was done -- separate files for each water sector.  In the process of tidying things up it became clear it was beneficial to put them all together but at this point I don't remember exactly off of the top of my head why it was the case.  I can try to look back at logs but my instinct was it somehow made it a lot easier to genera

[2017-08-22 15:31] skim301 commented on #663
Yes, Pralit. I think it is the case that it is easier to run constrained vs. unconstrained by just swapping a single mapping file, where the source of the water is either a generic unlimited resource or the actual constrained basin resource.

I think that if we begin to do more focused sectoral water studies on either ag or other end-use, where we're always running in constrained mode, then it may

[2017-08-22 18:01] aarony2j commented on #600
@bpbond Please make file available. Thanks!

[2017-08-23 13:47] cahartin commented on #546
@bpbond and @russellhz  what did we decide to do with this file? `L252.MACC`? it hasn't been converted yet.

[2017-08-23 14:03] russellhz commented on #546
We decided to just use the first version of any copied output. So we would only use `L252.MAC_an`

[2017-08-23 14:09] cahartin commented on #546
thanks! so then no need to edit `L252.MAC`? are we deleting that one?

[2017-08-23 14:17] russellhz commented on #546
I'm not sure if we're on the same page here (all the names look the same, it's confusing for me to figure out what refers to what)

There is one repeated output in `L2521.MACC_IRR.R` and another in `L2522.ag_MACC_IRR_MGMT.R` that we don't need to create, but otherwise everything should be translated the same as normal.

[2017-08-23 14:20] cahartin commented on #546
@russellhz thanks, i think i read the thread wrong.

[2017-08-23 15:17] cahartin opened #666 "L252.MACC"

[2017-08-23 16:08] #656 closed

[2017-08-23 16:09] #301 closed

[2017-08-23 21:13] cwroney commented on #634
@bpbond Excellent, thanks, done. Follow up: This chunk only conditionally produces four of its outputs, two of which don't exist by default. How should I handle this? Is it okay to wrap up the produce outputs section and `return_data` in `if` statements? e.g. `if (exists("L226.SubsectorShrwt_en")) {
    L226.SubsectorShrwt_en %>% add_title() ... }` and `if (exists("L226.SubsectorShrwt_en")) {retur

[2017-08-23 21:34] bpbond commented on #634
Yeah this question of optional outputs is coming up again and again, e.g. #633 #655 and others. I _think_ we want to follow what @russellhz did in #665 - create a dummy table and return it. E.g.:

[code]

Comments @pralitp @pkyle ?

[2017-08-23 22:16] bpbond opened #667 "L2242.land_input_4_irr_mgmt"
I'm committing all the `land_input_4` files in case they're useful, but we only want to have one chunk, as per earlier 'triplets'.

[2017-08-24 05:55] pkyle commented on #634
Looks correct to me!

[2017-08-24 12:55] bpbond opened #668 "Exogenous share-weights that are specific to each region and fuel"
In #633 @pkyle said:

[2017-08-24 13:23] abigailsnyder commented on #659
@bpbond  There's an L223.land_input_3 and an L2231.land_input_3_irr.  I'm guessing that because there's no irr_mgmt version, adding that info was deemed unnecessary for this input file. But just to be safe, should I for sure work on L223.land_input_3?

[2017-08-24 13:28] bpbond commented on #659
No, no irr_mgmt version that I see. Yes, agreed.

[2017-08-24 13:28] bpbond commented on #659
Thanks!

[2017-08-24 13:51] abigailsnyder commented on #659
@bpbond  one more question about best practices,

@rynacui  did correctly translate aglu_L2012.ag_For_Past_bio_input_irr_mgmt.

But at some point in the old data system, outputs from L201.ag_For_Past_bio_input didn't get carried directly through to the irr_mgmt version. Specifically: L201.AgYield_bio_grass and L201.AgYield_bio_tree are only output by L201.ag_For_Past_bio.

L2012.ag_For_Past_bio_in

[2017-08-24 13:59] rynacui commented on #659
If I remember correctly, L201.grasss/tree files do not have irr_mgmt info. They are passed directly to L2012. But this is obviously not an answer to your question @abigailsnyder lol

[2017-08-24 14:00] abigailsnyder commented on #659
it's part of an answer, knowing there's no irr_mgmt stuff to track down helps. Thanks!

[2017-08-24 14:39] abigailsnyder commented on #659
@bpbond figured it out - it looks like the grass and tree files only ever show up in an `rbind` together in the old data system, so I think the L2012 file is fine for input.

[2017-08-24 14:43] bpbond commented on #659
Cool, thanks @abigailsnyder .

[2017-08-24 16:35] #622 closed

[2017-08-24 16:44] bpbond opened #670 "VERSION 1 CHECKOFF - WATER"
Verify that

- [x] new data system reproduces gcam 5 data system (see #901 )
- [x] new data system produces exactly same `water` XML files as old data system (see python xml test results)
[code]
- [x] structure/content of `water` XML files matches (see python xml test results)
[code]
- [x] no `temp-data-inject/` files still being used (see #908)
- [x] GCAM ref runs with these files substituted in

[2017-08-24 17:42] #599 closed

[2017-08-24 18:03] bpbond commented on #656
@pralitp It seems like the new test for `fill_exp_decay_extrapolate` is failing under dplyr 0.5, but passing under dplyr 0.7 (?). Do we care?

[code]

[2017-08-24 19:14] pralitp commented on #656
Grumble.. it is the call to `nesting_`.  I can't (yet) find some syntax that will work for both version although I still have a couple more things to try before I give up.  Note that `nesting_` is now deprecated as of 0.7 (because they want you to use new features that they added but of course that can't be used in 0.5 so doesn't help this situation).

[2017-08-24 19:16] pralitp commented on #656
Oh. @bpbond, actually we do care because it is needed to run #517.

[2017-08-24 20:36] bpbond commented on #656
We could just cheat:
[code]

[2017-08-24 22:52] russellhz opened #672 "HFC_Abate_GV.csv (Guus Velder data) source"
Is there something specific to cite here?

[2017-08-24 23:30] rynacui commented on #659
@abigailsnyder really sorry I said it wrong!
I double checked, there are transformations from `L201.AgYield_bio_grass` and `L201.AgYield_bio_tree` to `L2011.AgYield_bio_grass_irr` and `L2011.AgYield_bio_tree_irr` to `L2012.AgYield_bio_ref`

@bpbond I got the same question for #667 where L2011 outputs are used, but not generated by the combined new chunk.

[2017-08-25 00:42] abigailsnyder commented on #659
Oh yeah, I figured it out for Land_input_3 later this afternoon. Probably should have mentioned.

@bpbond, as Ryna said, the outputs 2012 for the bio stuff combine grass and tree, but they ALSO do have the irr_mgmt info. It's not just a matter of copy-paste 4 times either, they're all different values.

So my plan was to add in L201 grass, L201 tree as temp-data-inject and use an old data system b

[2017-08-25 00:56] bpbond commented on #659
Ah crap. So sorry you guys have to deal with this $hit.

No!!!!! It is definitely finishing up. At least this first part. Has to be, otherwise, I'll run away.

[2017-08-25 17:09] rynacui commented on #667
@bpbond help! Are we also combining the twin batch files? For land_input_4, we have batch_irr vs. batch_irr_mgmt; and for @abigailsnyder 's land_input_3 #659, we have batch vs. batch_irr.

This also affects what need to be translated in the chunk, in my case, L2041.irr have several outputs that are not used for L2041.irr_mgmt, but only for the batch_irr.

[2017-08-25 17:46] abigailsnyder commented on #667
see?! never ending. This is our life now. And forever.

[2017-08-26 02:05] bpbond commented on #667
Oh ffs. I don't know. At the risk of sounding _incredibly_ lazy, isn't @kvcalvin back soon, like next week? If so, let's punt this decision to her.

[2017-08-28 11:29] #423 closed

[2017-08-28 12:00] bpbond opened #677 "Import error in module-helpers"
Line 426 in `module-helpers.R`, recently added by you, is generating a package check error:

[code]

I don't even _have_ an `rlang` package on my system; what is this?

[2017-08-28 13:39] #445 closed

[2017-08-28 13:42] #615 closed

[2017-08-28 13:53] pralitp commented on #677
It is added with dplyr 0.7 to do.. what I used it for.  I guess it is back to the drawing board for #656.  I could go back to using `nested_` even though it is deprecated.

[2017-08-28 13:54] bpbond commented on #677
I figured. Sorry to bug you but since this is causing every build to error it's a high-priority fix if possible. Thanks.

[2017-08-28 13:57] pralitp commented on #677
In that case I'm going to commandeer this issue and leave it open to come up with a better long term solution.  In the short term I'll push up a fix to just use the deprecated function.

[2017-08-28 18:05] bpbond commented on #672
About to merge #674 - Steve, Kate, any advice on this issue?

[2017-08-28 18:06] #666 closed

[2017-08-28 18:35] kvcalvin commented on #672
I think this should have the same source as the other GV files.

[2017-08-28 18:37] kvcalvin commented on #641
I think the reason we did it that way was to contain the shifted land within one R code file and one xml file. But, from a GCAM perspective, it doesn't really matter as long as all of the numbers add up. I guess I'm indifferent to the change. If others think it is clearer, then I'm fine with doing it.

[2017-08-28 18:40] kvcalvin commented on #596
Hmm...I'll have to think about what to do here. My memory is that the SSP protocol said to divide countries based on their coal emissions factor. I'll look back to see if there was any guidance on what to do when there wasn't a coal emissions factor. But, for now, replicating core and flagging this as an issue seems right.

[2017-08-28 18:42] kvcalvin commented on #667
If I'm understanding this question correctly, then I think we want to combine the twin batch files. We only intend to produce the full irr/mgmt xml inputs (not the versions that don't have it all).

[2017-08-28 18:53] bpbond commented on #489
Specifically:

* Make sure all files >1? MB in `inst/exdata` are compressed
* Remove large files
* Remove `Rplots.pdf`, `.DS_Store`, etc. (and make sure these are listed in `.gitignore`)

[2017-08-28 19:03] rynacui commented on #667
My problem is about the irr files (L2241) that do not have a corresponding irr/mgmt file (L2242),
specifically:
`L2241.LN4_HistMgdAllocation_crop`,
`L2241.LN4_MgdAllocation_crop`,
`L2241.LN4_HistMgdAllocation_bio`,
`L2241.LN4_MgdAllocation_bio`,
`L2241.LN4_MgdCarbon_crop`,
`L2241.LN4_MgdCarbon_bio`

But I guess these are still needed to generate xml?

Currently they are required only by batch_irr,

[2017-08-28 19:03] bpbond commented on #637
Thanks, Steve.

[2017-08-28 19:18] CLynchy commented on #445
@bpbond When running the driver, I get the following error:
` Error in left_join_error_no_match(., select(L241.co_tgej_R_en_S_F_fy,  :
  left_join_no_match: NA values in new data columns `

[2017-08-28 19:32] bpbond commented on #445
Hi Cary, it looks like someone put a couple of wrong files into `inst/extdata`. I'll fix.

[2017-08-28 19:33] CLynchy commented on #445
Was it me?  I blame CH.

[2017-08-28 19:35] bpbond commented on #445
I am determinedly NOT running `git blame` here. Let's just say the files appeared mysteriously.

[2017-08-28 19:44] bpbond commented on #445
OK, pushed commits. I have (i) removed the `temp-data-inject/` files entirely, so `L241` now uses the output from your `L211`.

[2017-08-28 19:45] #588 closed

[2017-08-28 19:49] bpbond commented on #394
Looks like necessary file for this is already in repo.

[2017-08-29 11:42] #125 closed

[2017-08-29 12:11] bpbond commented on #89
Done by @yalingliupnnl in #536 .

[2017-08-29 12:11] #89 closed

[2017-08-29 13:04] kvcalvin commented on #667
I think we should look at what is used in batch_irr/mgmt and only need to generate those files. @pralitp - does that sound right?

[2017-08-29 18:07] russellhz opened #679 "Lots of hardcoded numbers in L231.proc_sector"
#665

[2017-08-29 18:41] #579 closed

[2017-08-29 19:39] abigailsnyder commented on #659
@bpbond The good news is that, after consultation with Kate, I figured out how to handle this.
The slightly less good news is that I do indeed need the land_input_3_irr files rather than the ones I have. From there I hopefully will have all the other files I will need.

Looking to do most of the coding on Friday, so not really a rush.

[2017-08-29 21:09] #634 closed

[2017-08-30 18:21] bpbond opened #681 "LB123.Electricity"

[2017-08-30 18:36] bpbond commented on #681
Whoops no...

[2017-08-31 10:42] bpbond opened #682 "LB1231.Elec_tech"

[2017-08-31 10:43] bpbond opened #683 "LB1232.Elec_subregions"

[2017-08-31 10:49] bpbond opened #684 "LA122.Refining"

[2017-08-31 13:04] aarony2j commented on #601
@bpbond please make files available

[2017-08-31 13:19] bpbond commented on #601
I see a bunch of outputs with names like `xxx_passthru`. Note that if they're just being read and output, they can probably be removed from this chunk entirely.

[2017-08-31 13:56] #563 closed

[2017-08-31 16:10] pralitp commented on #102
@rplzzz, @bpbond the priority level is elevated on this since apparently the call to `pipe` isn't working on Windows.  I'm going to go find a Windows machine to debug it but if `pipe` is the cause we'll have to but up the milestone on this issue.

[2017-09-01 15:50] cwroney opened #690 "L226.en_distribution A26 assumption sources"
We have missing sources for assumption files used for L226.en_distribution in A26.globaltech_cost and for the backup efficiencies in A26.globaltech_eff. Page noted for the former that it is from the miniCAM model inputs, but we're not sure of the sources for the miniCAM inputs themselves.

Background from Page:

[2017-09-01 16:00] russellhz opened #691 "GCAM USA states object"
In almost every GCAM-USA script I've seen so far, there is an object `states` with all 51 state abbreviations. Rather than add that huge list to the constants file, I've just been using `unique(some_input_object$state)`. This hasn't been an issue, but I suppose it is possible that at some point all 51 states might not be in an input file.

Is this the correct behavior, or is it worth making a cons

[2017-09-01 18:54] rplzzz commented on #102
I've done all I can do with the xml comparison scripts, so I could probably take on this matter next.

Do we have access to Windows VMs on our machines?  That would make debugging this kind of thing a lot easier.

[2017-09-01 19:38] pralitp commented on #102
Ha, I was asking myself the same question and is why I haven't yet looked into it yet.  I don't know of any.

We do have a machine downstairs that I used to use but you have to have your little chip thing to log in.

[2017-09-01 20:53] #600 closed

[2017-09-01 21:31] #683 closed

[2017-09-01 21:33] #682 closed

[2017-09-02 11:49] #497 closed

[2017-09-02 11:50] #667 closed

[2017-09-02 11:51] bpbond commented on #691
I think we'd like a constant with all state names. As you say, we'd like to be able to catch situations where not all states are represented in some input.

[2017-09-02 11:55] bpbond opened #695 "LB126.Gas_ElecTD"

[2017-09-05 14:10] #525 closed

[2017-09-05 15:37] #681 closed

[2017-09-05 16:35] pralitp opened #696 "L254.transportation_UCD only produces a single scenario at a time"
The UCD transportation chunk is currently only able to produce a single scenario at a time unlike all other chunks which generate inputs for **all SSPs**.  Instead it checks a configuration variable to determine which scenario to generate.  If a user wants to generate another they need to change the value and re-run.  For the time being we are continuing with the previous approach but this is some

[2017-09-05 18:25] pkyle commented on #696
Yeah, it's because the transportation code files used to take really long to run. From what I remember, the time-intensive steps were (L154) interpolating all variables in a really big dataset, and (L254) figuring out all of the correct calibration values to read for the many pass-through technologies, which is not an easy thing to do. If that second step is fast now, then we could just run both c

[2017-09-06 13:23] #695 closed

[2017-09-06 13:32] bpbond commented on #394
@fengly20 Have you already started this? If not, no problem, but I will reassign to @russellhz .

[2017-09-06 13:47] fengly20 commented on #394
@bpbond Sorry about no actions in here. Yes, I've started the chunk and almost finished -- only last two lines in the old chunk is waiting for translation.

[2017-09-06 13:48] bpbond commented on #394
No worries, I just wanted to check. Thanks!

[2017-09-06 14:02] bpbond opened #698 "LA144.Commercial"

[2017-09-06 14:15] bpbond commented on #142
@gokuliyer Are you still planning on doing this, or should I reassign it?

[2017-09-06 14:16] bpbond opened #699 "LA115.RooftopPV"

[2017-09-06 14:21] gokuliyer commented on #142
Please reassign this to keep the momentum going.

[2017-09-06 18:10] bpbond commented on #421
Re-opening and assigning to @kdorheim .

[2017-09-06 18:13] bpbond commented on #421
I can't believe I screwed this up AGAIN. Closing.

[2017-09-06 18:13] #421 closed

[2017-09-06 18:14] bpbond opened #700 "LA142.Building"

[2017-09-06 20:46] aarony2j commented on #601
@bpbond is there supposed to be an xml generating r file with this? The file name should be `paste0( "batch_transportation_UCD_", trn_SSP, ".xml" )`. Maybe it didn't get generated because of the `trn_SSP` issue? See 696.

[2017-09-07 10:32] bpbond commented on #601
Right, they didn't get generated automatically because the original ode constructs them programmatically–i.e. using the `paste0(...)` construct above, which meant the generator script couldn't see them. We'll need to construct by hand.

[2017-09-07 10:39] bpbond commented on #601
I did a quick first pass and added a `batch_transportation_UCD.xml` file to `master`.

[2017-09-07 21:23] kvcalvin opened #703 "module_socioeconomics_L100.GDP_hist missing @details"
I was randomly looking at gcamdata files today (don't ask) and discovered that the `@details` section hasn't been filled out for `module_socioeconomics_L100.GDP_hist`. This should probably be fixed.

[2017-09-07 21:38] bpbond commented on #703
My first reaction was, hey, don't assign this to me, assign it to whichever lazy person didn't fill in that information! And then...yeah. This chunk is kind of an historical artifact, one of the first ever done.

[2017-09-07 21:39] kvcalvin commented on #703
I figured as much. I am also surprised I found it...I just randomly clicked on a file to figure out how to structure the Roxygen information and this is the file I picked.

[2017-09-08 01:58] #703 closed

[2017-09-08 01:59] bpbond commented on #703
@kvcalvin By the way, note that if in RStudio you put your cursor inside of a function, and then click the little "magic wand" icon at the top of the pane, and select "Insert Roxygen Skeleton"...magic!

[2017-09-08 12:36] kvcalvin commented on #703
Good to know. Although, if I had done that, I wouldn't have found this little issue.

[2017-09-08 13:22] rplzzz commented on #703
@bpbond Does the skeleton generated that way use the `@details` tag?  If so, that doesn't seem to be the recommended way to organize doc blocks.  See: http://r-pkgs.had.co.nz/man.html

[2017-09-08 13:24] kvcalvin commented on #703
No.

[code]

[2017-09-08 13:26] bpbond commented on #703
Ah. Right. The `@param` lines are useful anyway.

[2017-09-08 13:26] kvcalvin commented on #703
I've been adding it to mine though...seems useful.

[2017-09-08 13:39] bpbond opened #705 "L244.building_det"
This is a _very_ big chunk of code.

Aaron, Haewon @d3y419 has this tentatively assigned to you. A big lift; OK?

[2017-09-08 13:41] bpbond commented on #598
Jill, if you haven't started working on this I'm going to shift over to @fengly20 - ok?

[2017-09-08 13:42] jhoring commented on #598
Yep. I'm finishing up L224.heat now but I'll ping you for an upnext when I submit?

[2017-09-08 13:43] bpbond opened #706 "L202.Ccoef"

[2017-09-08 13:43] bpbond commented on #598
Great, thanks. I just assigned you a new one.

[2017-09-08 13:45] bpbond opened #707 "L210.resources"

[2017-09-08 15:55] gokuliyer opened #709 "socioeconomics"

[2017-09-08 15:56] gokuliyer opened #710 "L201.socioeconomics_USA"

[2017-09-08 15:58] #709 closed

[2017-09-08 16:20] gokuliyer opened #711 "LA132.Industry"

[2017-09-08 16:23] gokuliyer opened #712 "LA1322.Fert"

[2017-09-08 16:25] gokuliyer opened #713 "LA144.Residential"

[2017-09-08 16:25] gokuliyer opened #714 "LB1233.Elec_water"

[2017-09-08 16:28] gokuliyer opened #715 "L210.resources_USA"

[2017-09-08 16:29] gokuliyer opened #716 "L222.en_transformation_USA"

[2017-09-08 16:30] gokuliyer opened #717 "L223.electricity_USA"

[2017-09-08 16:32] gokuliyer opened #718 "L2232.electricity_FERC"

[2017-09-08 16:32] gokuliyer opened #719 "L225.hydrogen_USA"

[2017-09-08 16:33] abigailsnyder opened #720 "L2252.land_input_5_irr_mgmt"

[2017-09-08 16:33] gokuliyer opened #721 "L226.en_distribution_USA"

[2017-09-08 16:34] gokuliyer opened #722 "L232.industry_USA"

[2017-09-08 16:34] gokuliyer opened #723 "L2321.cement_USA"

[2017-09-08 16:35] kvcalvin commented on #720
@bpbond What is left?

[2017-09-08 16:35] gokuliyer opened #724 "L2322.Fert_USA"

[2017-09-08 16:36] gokuliyer opened #725 "L244.building_USA"

[2017-09-08 16:36] gokuliyer opened #726 "L254.transportation_USA"

[2017-09-08 16:37] gokuliyer opened #727 "L261.carbon_storage_USA"

[2017-09-08 16:38] abigailsnyder commented on #532
I introduced a constant for this in my most recent PR (https://github.com/JGCRI/gcamdata/pull/702) for some uniting and separating I did. It might come in handy whenever we (eventually...) get back around to changing the crop names for Root_Tuber, biomass_grass, biomass_tree.
Consistent capitalization would be nice (MiscCrop, RootTuber, BiomassGrass, BiomassTree), but honestly non-repeated separat

[2017-09-08 17:31] bpbond commented on #720
I think this is it!

[2017-09-08 17:32] bpbond commented on #720
And only 172 lines. 🎉

[2017-09-08 17:50] abigailsnyder commented on #720
It IS a triplet though, no cheering til the end

[2017-09-08 17:52] bpbond commented on #720
Is it though? There's no `L225` or `L2251` in the old data system that I see.

[2017-09-08 17:53] abigailsnyder commented on #720
I genuinely don't know if I should be encouraged or worried by that at this point. I guess from the perspective that there WASN'T a 5th nest before the introduction of irr_mgmt info, this should be all new and the only one for it. But it's dsr so who knows

[2017-09-08 18:14] abigailsnyder commented on #720
@bpbond is there anywhere in the old DS that the function `convert_LN4_to_LN5` defined in `l2252` gets used? I'm just defining it locally for now

[2017-09-08 18:59] bpbond commented on #720
Looks like it's defined and used only in this chunk.

[2017-09-08 19:54] abigailsnyder commented on #720
@kvcalvin Is `L2252` actually necessary? There's an `L2242` that has irr and mgmt info, so I imagine that's the bottom nest?

If not, if we actually need `L2252`, then `L2241` is going to have to be done one way or another as well; `L2252` reads outputs from it.

[2017-09-08 19:58] kvcalvin commented on #720
I think L2252 is necessary, but let me double check.

[2017-09-08 20:01] kvcalvin commented on #720
Yes, we need L2252. As for L2241, I think we have a few options: (1) we can implement it as is (but without the batch_xml thing), (2) we can make sure the relevant tables are added to L2242, or (3) we can add the relevant tables to L2252.

[2017-09-08 20:05] abigailsnyder commented on #720
I'm leaning towards (3) pending actually looking at it more deeply.

[2017-09-08 20:07] kvcalvin commented on #720
I think three would be most consistent with the level1 and level2 structure. Essentially, we will never convert the L2242 outputs to xml. They are manipulated further in L2252 before being converted.

[2017-09-08 20:09] abigailsnyder commented on #720
Cool, that will be the plan I work from. Might as well take the time to do it "right" (by our standards anyway) now than have to come back to it in a few months when I've forgotten everything

[2017-09-08 20:18] bpbond commented on #720
Yes! (Easy for me to say of course.)

[2017-09-08 20:19] abigailsnyder commented on #720
Cursory looks show that I'll have to do some similar traceback to get the `L2241` files (which pull from `L223` and `L2011`, neither of which we have). So this will just be a monster but I still think the time for doing this consistently is the best option. Your call though, @kvcalvin  @bpbond. It's up to your deliverables and budgets more than anything I think.

Similarly, `L2242` may have to be

[2017-09-08 20:26] abigailsnyder commented on #720
Basically, I think we need to  sit down and start at the end (`L2252`) and then trace back everything, adding to land inputs 1-4 and any other files. Looking at it, I think I can figure it out myself with @kvcalvin available for questions. But unless I'm missing something, we've still got a good bit more work than we thought on land,

[2017-09-08 20:28] kvcalvin commented on #720
Ugh. Should we take the weekend off and have a meeting to discuss Monday morning?

I'm not surprised this is an issue, and am going to hope it is easy to solve, but I don't actually know.

[2017-09-08 20:29] abigailsnyder commented on #720
Definitely tractable to solve, and in a way that is consistent with the rest of the level 1 and 2 structure. It'll just take time. I'll book a meeting.

[2017-09-08 20:30] kvcalvin commented on #720
Great, thanks!

[2017-09-08 21:42] rplzzz commented on #102
I've been experimenting with a couple of solutions to this problem and settled on two candidates:

1. If R offers a binding to `popen2`, I can't find it, so we can't get the output from CSVtoXML while using `pipe`; however, we _can_ get the status code for the command.  Since exiting with an exception sets a nonzero status code, this should allow us to detect (though not necessarily diagnose) fail

[2017-09-09 10:11] bpbond commented on #102
Thanks for investigating @rplzzz . Yes, wtf wrt Windows? The R documentation clearly implies that _pipe_ works on that platform too.

It's good to know that there's a `system2` fallback that's OK–my guess is we can live with a 13% speed penalty.

[2017-09-11 14:50] abigailsnyder opened #729 "Handle temp-data-inject tracebacks for land input 2-3-4-5 files"

[2017-09-11 14:51] abigailsnyder opened #730 "put protected land code in their own chunk after land input 5"
collect protected land steps from land input 2, 3, 4, 5 and put all in one chunk

[2017-09-11 14:51] abigailsnyder opened #731 "gcamdata xml related functions don't seem to work for pcs"

[2017-09-11 14:52] abigailsnyder commented on #729
Be sure to use trace utility so @bpbond has demonstration material

[2017-09-11 14:55] pralitp commented on #731
We are currently discussing and coming up with a solution in #102 which is related to the core of this issue.

[2017-09-11 14:55] #731 closed

[2017-09-11 15:09] #684 closed

[2017-09-11 15:12] bpbond commented on #715
Hi @gokuliyer - FYI the aglu team has hit a few snags (see #730 and #729 ) and @abigailsnyder will be needed to help with dealing with them over the next couple weeks, so she won't be free soon to deal with the three `gcam-usa` issues you assigned her last week.

[2017-09-11 18:28] #700 closed

[2017-09-11 18:30] #659 closed

[2017-09-11 23:38] russellhz opened #732 "Is states_subregions.csv wrong?"
West Virginia is listed as being in the Midwest for subregion4 in the file, but this appears to be wrong [https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf](url)

Because of this designation in the file, I have to use `left_error_keep_first_only` in many places, which is kind of sketchy. It is the only state that is listed as being in the Midwest for subregion4, but in Atlant

[2017-09-12 00:44] bpbond commented on #732
Passing this right over to @gokuliyer .

[2017-09-12 15:55] kdorheim commented on #719
@bpbond when you have time can you add the files for this chunk?

[2017-09-12 15:57] kdorheim commented on #724
@bpbond when you have time can you add the files for this chunk?

[2017-09-12 19:43] russellhz opened #734 "L112.ghg_en_R_S_T_Y rounding"
#613
@bpbond so it looks like I did just forget to remove the disabled tag from L112 (probably because I was only changing different files). This new issue is not directly related to the previous issue I fixed (I think)

There are just 3 observations where the old_new test is failing. See below. Basically, the old and new values are identical but round to different numbers. Is this a case for `FLA

[2017-09-12 19:52] bpbond commented on #734
Thanks for jumping on this so quickly. Sounds good to me.

[2017-09-13 15:43] #734 closed

[2017-09-13 17:47] fengly20 commented on #598
@bpbond It seems there's no script named zchunk_L2322.Fert .R in current repository. Is that right? Or did I miss something somehow?

[2017-09-13 18:51] bpbond commented on #598
Nope! Sorry. Hang on, let me add it.

[2017-09-13 18:59] fengly20 commented on #598
@bpbond Thanks!

[2017-09-13 19:13] fengly20 commented on #598
@bpbond Just wanted to make sure, the files you added (R/zchunk_L2322.Fert_USA.R and etc.) are for #724  not for #598, right?

[2017-09-13 19:52] bpbond commented on #598
Whoops, sorry about that. Fixing.

[2017-09-14 02:49] d3y419 commented on #705
now that aaron's off commission for a while, i'll need to borrow @russellhz for this monster chunk!

[2017-09-14 09:50] bpbond commented on #705
OK @gokuliyer @russellhz ?

[2017-09-14 11:36] bpbond opened #736 "Driver check for potential numerical instability?"
The driver could check for numeric values in tibbles that are less than some small value, e.g. `|x| < 1e-10`, and flag/disallow them. This would force chunks to deal with the problem noted in #613 and other places: math operations can yield very-close-to-zero numbers that should, in fact, be zero. This would let us set a single `MIN_NUMERIC_TOLERANCE` or something like that, used throughout the pa

[2017-09-14 14:31] gokuliyer commented on #705
Fine by me. This will set up Russel for the (monster)^3 in GCAM-USA :)

[2017-09-14 19:53] fengly20 opened #737 "Help needed with L2322.Fert assumption file units"
The chunk reads in assumption file `A322.globaltech_retirement` which I'm not sure about the units of the values.

It has variables with more than one unit in the same table:

`lifetime` -- year?
`shutdown.rate` -- Unitless?
`half.life` -- year?
`steepness` -- Unitless?
`median.shutdown.point` -- Unitless?
`profit.shutdown.steepness` -- Unitless?

Thanks!

[2017-09-15 14:17] pkyle commented on #737
All of these parameters should be documented with units defined in other files (see any other input csv file that ends in the string "_retirement.csv"). Lifetime and half-life are years. Everything else is unitless. Textual descriptions should be copied from others rather than re-defined; that said, if the other "_retirement.csv" files are inadequately documented, let me know and we can update 'em

[2017-09-15 15:31] #597 closed

[2017-09-15 19:25] fengly20 commented on #737
Thank you Page! @pkyle

I quickly checked all '_retirement.csv' files in the ./gcam-data-system-OLD/energy-data/assumptions. There are four files in total and none of them has much documentation and unit information.

[2017-09-15 20:58] pkyle commented on #737
Huh, hope it's just the retirement parameters we're missing! Here are descriptions of each parameter which could be copied into the other "_retirement.csv" files as well.
lifetime: maximum lifetime of cohort. If no retirement function is used, the entire cohort is retired in this number of years.
shutdown.rate: portion of cohort retired each year, used by the phased-shutdown-decider retirement fun

[2017-09-16 08:41] bpbond opened #739 "Write tests for `downscale_FAO_country`"

[2017-09-17 13:19] rplzzz commented on #736
My concern about this is that it's hard to know what the appropriate cutoff value should be.  Consider this example I came up with fooling around at the console:
[code]
So, that result is above the cutoff, but it's entirely made up of roundoff error.  I guess we could use a simple test to flag values for follow-up, but in the end all you can really do is review proposed changes carefully and exerc

[2017-09-18 10:20] bpbond opened #740 "Handling temp-data-inject at v1"
In most cases we want to ensure that all `temp-data-inject/` use is removed before hitting v1.

There may be a few exotic cases (looking at you #613 ) when we keep it around, though, and remove for v1.1.

[2017-09-18 10:23] bpbond commented on #736
Hmm. OK, thanks. We can discuss.

I was thinking that after any e.g. subtraction operation, chunks should

`mutate(result = if_else(abs(result) < MIN_NUMERIC, 0, result)) %>%`

[2017-09-18 13:47] russellhz commented on #732
Have you had a chance to look at this @gokuliyer ?

[2017-09-18 13:50] russellhz opened #741 "parsing failures with gcam-usa/RECS_2009.csv"
There are multiple columns in `RECS_2009.csv` that get read in as integers, but should be doubles. My current workaround is this `RECS_2009 <- readr::read_csv("inst/extdata/gcam-usa/RECS_2009.csv", comment = "#", col_types = list(
      BTUFOOTH = readr::col_double(),
      BTUKERSPH = readr::col_double(),
      BTUKEROTH = readr::col_double()))`

Does this require a separate data chunk?

[2017-09-18 15:09] bpbond commented on #741
One cheap-and-easy workaround to this is add ".0" to the first entry of these columns. That should force `readr` to treat them as doubles. (If this doesn't work we can add a dedicated data chunk.)

[2017-09-18 15:19] #719 closed

[2017-09-18 15:30] jhoring commented on #706
@bpbond Could you generate the script for this when you get a chance? Thanks!

[2017-09-18 15:38] jhoring commented on #706
@bpbond Thanks!

[2017-09-18 16:13] swd-turner commented on #711
@bpbond can you generate the zchunk for this one? There's already a LA132.industry, but I think it's for the energy section rather than gcam_usa.

[2017-09-18 23:28] russellhz commented on #741
Looks like that worked! Thanks

[2017-09-18 23:28] #741 closed

[2017-09-19 01:51] bpbond opened #745 "Reasons for different dplyr behavior - checking"
[code]

@jhoring can you try running above sequence of commands in an R session on your machine please? If any differences please paste results here. Thanks.

[2017-09-19 11:08] #739 closed

[2017-09-19 12:42] bpbond commented on #691
@gokuliyer Any comments on having a canonical list of `states`?

[2017-09-19 13:09] jhoring commented on #745
@bpbond I have dplyr version 0.7.1 and am not getting any of the integer column position errors.

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] ‘0.7.1’

# A tibble: 1 x 2
      x     y
  <dbl> <dbl>
1     1     2

# A tibble: 1 x 2
      x     y

[2017-09-19 13:26] bpbond commented on #745
OK, so that's one mystery from #728 and #744 (fyi @swd-turner ) resolved: the newer dplyr lets you do `select("x", "y")` while the older 0.5 version requires `select(one_of(c("x", "y"))`. That explains why you guys weren't getting those errors on your PRs.

I'll add a note to the wiki and Slack about this. Thanks. I may hit you guys up for other tests later if that's OK.

cc @rplzzz

[2017-09-19 13:26] #745 closed

[2017-09-19 13:35] bpbond opened #747 "Update to dplyr 0.7 syntax"
Change DESCRIPTION to require v0.7, and:

* `select(one_of(c(...)))` -> `select(...)`
* `.[["x"]]` -> `pull(x)`

[2017-09-19 14:36] russellhz commented on #691
I did make a `gcamusa.STATES` object in the chunk I am currently working on. It's really not space consuming at all. It's just the abbreviations

[2017-09-19 16:18] rynacui commented on #717
@gokuliyer Does this chunk need to be replaced/combined with #718 `L2232.electricity_FERC_USA`?
@bpbond Could you please send the chunk files?

[2017-09-19 16:30] gokuliyer commented on #691
The states_subregions.csv has the list of states. A constant would be good as well. Programatically, I guess both would serve the same purpose?

[2017-09-19 16:32] bpbond opened #748 "L2252.LN5_HistMgdAllocation_crop.csv generating readr parse message"
When I run tests, `readr::read_csv` gives a NOTE about trailing characters being dropped from `outputs/L2252.LN5_HistMgdAllocation_crop.csv`. Not sure why tests are still passing, honestly.

[2017-09-19 16:37] russellhz commented on #691
There are some chunks that don't currently use states_subregions.csv, but do use the `states` object

[2017-09-19 16:58] #482 closed

[2017-09-19 17:35] rynacui commented on #717
@bpbond the batch file requires outputs from both L223 and L2232. Could you also send the files for #718? Thanks! Again, just want to double check there is no overlapping effort between the two chunks. Both seem complicated...

[2017-09-19 19:46] rynacui commented on #717
@bpbond I just talked to Gokul and he confirmed that there is no overlapping effort. I'll hold the batch chunk until L2232 is finished.

[2017-09-19 20:16] gokuliyer commented on #732
This seems to be a mistake and needs to be corrected. Could you also check that state_census_region.csv is correct? Also, if this is duplicated information in the two files, could we get rid of one of them?

[2017-09-19 20:28] rynacui commented on #717
@bpbond a bunch of gcam-usa level1 and level2 data are missing in the `gcam-data-system-OLD`

[2017-09-19 21:04] kvcalvin commented on #720
Should we close this one?

[2017-09-19 21:14] bpbond commented on #748
[code]

[2017-09-19 21:22] bpbond commented on #720
Whoops, yes, my bad. Thanks.

[2017-09-19 21:22] #720 closed

[2017-09-19 21:25] bpbond opened #749 "Fix dstrace"
See #628

[2017-09-20 01:50] bpbond commented on #736
Note for future - this kind of check occurs in LA132.industry lines 180-185.

[2017-09-20 01:52] #394 closed

[2017-09-20 06:08] bpbond commented on #717
@rynacui I've pushed up all the `gcam-usa` data files:

https://github.com/JGCRI/gcam-data-system-OLD/tree/master/gcam-usa-data/level1
https://github.com/JGCRI/gcam-data-system-OLD/tree/master/gcam-usa-data/level2

[2017-09-20 06:12] bpbond commented on #740
Superseded by updated checkoff lists.

[2017-09-20 06:12] #740 closed

[2017-09-20 06:15] bpbond commented on #737
@fengly20 Please close this when appropriate.

[2017-09-20 06:20] #637 closed

[2017-09-20 06:22] bpbond commented on #690
@cwroney Please close this when appropriate.

[2017-09-20 06:25] #632 closed

[2017-09-20 06:27] bpbond commented on #248
Any update on this?

[2017-09-20 07:22] #748 closed

[2017-09-20 13:32] rynacui commented on #717
Thanks a lot @bpbond !

[2017-09-20 13:35] russellhz commented on #732
Thanks @gokuliyer! I will make that change.

I'm not seeing where state_census_region.csv is. It's in the old data system?

[2017-09-20 13:46] abigailsnyder commented on #248
I think probably not going to get to be included in the new ds. It's only for two gcm-crop model combos, and only processed to the region-aez level.  And I'd say that it's so application specific, it doesn't need to live in the full data system to be run every time.

[2017-09-20 13:48] bpbond commented on #248
Thanks. Please close or mark this issue as v2.0 as appropriate.

[2017-09-20 13:49] #248 closed

[2017-09-20 13:59] bpbond commented on #749
Started on this. Strategy is to have a generator script that, like for LEVEL2_DATA_NAMES, will generate a GCAM_DATA_MAP object that is saved as package internal data. The `dstrace` function can then query this object for info.

To do: When asked to generate a data map, the driver needs to return (in addition to precursor information) the comments, flags, title, and units associated with each data

[2017-09-20 14:52] fengly20 commented on #737
Thank you Page! @pkyle

Hi Ben @bpbond , as Page mentioned in his comments, the information about variables could be as well added in other "_retirement.csv" energy input files used by other chunks but those chunks have not been re-written thus the input files do not exist in the ./inst/extdata/energy. Do we have a strategy in handling input files in advance of processing a chunk? Thanks.

[2017-09-20 15:00] bpbond commented on #737
Not particularly. Since it's only four files, it would be great if you could do them all at once--grab from the old data system give appropriate headers, and put into new data system. Thanks!

[2017-09-20 15:16] fengly20 commented on #737
Sure. Done.

[2017-09-20 15:16] #737 closed

[2017-09-20 17:07] gokuliyer commented on #732
Interesting! I have it my branch but it's not in the core. We should just correct the states_subregions.csv for now.

[2017-09-20 17:36] bpbond opened #752 "Add downstream tracing to new dstrace"
I.e., allow users to ask "what does X go into?" in addition to "what goes into X?".

Once #751 is merged.

[2017-09-20 18:38] kdorheim commented on #724
@fengly20 have you started working on L2322.Fert_USA already?

[2017-09-20 18:45] kdorheim commented on #712
@bpbond whenever it's convenient can you add the necessary files for `LA1322.Fert ` ? Thanks!

[2017-09-20 19:16] fengly20 commented on #724
@kdorheim Nope. The chunk I got assigned is L2322.Fert. But the files needed by L2322.Fert_USA should also be in the repo already.

[2017-09-20 19:19] kdorheim commented on #724
@fengly20 Cool thanks! Sorry I was confused and thought we may have been assigned the same chunk, my bad.

[2017-09-20 20:04] bpbond opened #753 "Add plotting to new dstrace"
What @abigailsnyder said https://github.com/JGCRI/gcamdata/pull/751#discussion_r140057199

[2017-09-22 01:41] bpbond opened #755 "dstrace should be able to trace data objects OR chunks"
...depending on what name the user passes in.

[2017-09-22 13:54] bpbond opened #756 ""Split bananas into a separate market""
From discussion with @kvcalvin - this is an example of something that could be made much easier to do in v2 of the data system. Follow up with Kate and others as to what's currently required and how it could be automated/made easier.

[2017-09-22 15:31] kvcalvin commented on #729
So, I've gone through all of the land input files and these are the `temp-data-inject` files that still exist. I think what we want to do next is create each of them _without_ using any new `temp-data-inject` files.

[code]

[2017-09-22 17:25] bpbond opened #757 "Unified layer for abstracting relationship information"
Right now the data system contains all the information necessary to figure out dependencies and relationships:
* For *chunks*, they report what data objects they need and what they produce. This information is available via the `chunk_inputs()` and `chunk_outputs()` functions.
* For *data objects*, they contain precursor information. This information is available after the driver runs, and it's al

[2017-09-22 18:58] rynacui commented on #717
Using two outputs from #688 and find two extra columns in each output, and it turns out `FLAG_NO_TEST` is not removed in that chunk. It should be an easy fix, if other parts are correct.

[2017-09-22 19:32] bpbond commented on #717
Haha, whoops! Good catch Ryna–thanks. @russellhz can you go back to this and fix please?

[2017-09-22 20:20] rynacui commented on #717
@bpbond I'm working on Part 3 in this chunk, from line 252 to line 299, it transforms the regional level energy file to the USA state level using a loop, but also involves `curr_table` and new functions like `write_to_all_states`. Could you please take a look and maybe we can talk through how to handle this part? Thanks!

[2017-09-22 20:27] kvcalvin commented on #729
I have removed `temp-data-inject/L223.LN3_LeafGhostShare` and `temp-data-inject/L223.LN3_LeafIsGhostShareRel` on the branch `aglu-traceback`.

[2017-09-22 22:58] bpbond opened #760 "Use `message` for outputs?"
In #751 @rplzzz said

[2017-09-23 18:29] bpbond commented on #749
Implemented in #751

[2017-09-23 18:29] #749 closed

[2017-09-23 18:29] bpbond commented on #753
Implemented in #751

[2017-09-23 18:29] #753 closed

[2017-09-23 18:29] bpbond commented on #752
Implemented in #751

[2017-09-23 18:29] #752 closed

[2017-09-23 18:43] bpbond commented on #747
See also #677 .

[2017-09-23 18:43] bpbond commented on #677
See also #747 .

[2017-09-23 18:44] bpbond commented on #628
Closing, as this has largely been addressed using the internal-data approach of #751 .

[2017-09-23 18:44] #628 closed

[2017-09-23 18:48] bpbond commented on #321
Addressed in #694 .

[2017-09-23 18:48] #321 closed

[2017-09-24 12:30] #732 closed

[2017-09-24 16:21] #698 closed

[2017-09-24 16:25] #712 closed

[2017-09-24 16:42] bpbond opened #762 "Use `gcamusa.STATES`"
@russellhz added a `gcamusa.STATES` definition to `constants.R`. We'd like to use this whenever referring to a list of state abbreviations.

Please be aware of this, and check any of your already-committed gcam-usa chunks for places where it should be used.

[2017-09-24 16:45] #711 closed

[2017-09-24 17:33] bpbond commented on #142
@swd-turner Necessary files for this are already in the repo.

[2017-09-24 19:27] bpbond opened #763 "Get error messages on Travis"
Quoth @rplzzz

[2017-09-25 13:08] bpbond commented on #717
So the the original code takes a lot of datasets; put them into a single list; iterates through the list, writing USA to all states and (perhaps) re-setting USA to regional markets; and `assign`ing the data back out to new `*_USA` objects.

One way to handle this would be stay with the list structure, and use `lapply`. Another, and what I'd probably do, is define a little `process_USA_to_states` f

[2017-09-25 13:47] bpbond commented on #729
I removed the actual `temp-data-inject/` files as well. Looked at the legacy name issue; this can be solved but I'm not sure it's worth doing. What about keeping a list of renames we want to do (e.g. L2242.LN4_NodeIsGhostShareRel -> L2242.LN4_GhostShareRelativeToDominantCrop) once we hit v1?

[2017-09-25 13:49] kvcalvin commented on #729
That's fine. It isn't critical if it is hard. I can switch mine back

[2017-09-25 13:52] bpbond commented on #729
No, wait, hang on. Duh. Let me try something.

[2017-09-25 14:24] bpbond commented on #729
So the simplest solution is just to rename the comparison data file (in `tests/testthat/aglu`) when you rename the data object–i.e. the two names should match. We've already done this, so let's keep doing it.

[2017-09-26 19:40] abigailsnyder commented on #715
@bpbond Looks like Kate can finish the aglu, so if you want to dump the files for all my usa chunks, I'll start cranking on them later this week.

[2017-09-26 20:45] #706 closed

[2017-09-27 14:04] #601 closed

[2017-09-27 14:58] bpbond commented on #715
Yes ma'am.

[2017-09-27 15:59] abigailsnyder commented on #715
@bpbond this chunk requires
`us_state_wind <- readdata( "GCAMUSA_GIS_DATA", "us_state_wind" )`
`../gcam-usa-data/GIS//us_state_wind.csv`
whiiiich does not exist in either the old or the new ds. any idea what happened to the GIS folder?

[2017-09-27 16:00] abigailsnyder commented on #715
I have it from old installations of GCAM but I don't want to bring it in without clearing first?

[2017-09-27 16:01] bpbond commented on #715
Agreed. Nope, no idea. @pkyle any insight? Is the folder just too big and so not normally included with the (current) data system checkout?

[2017-09-27 16:09] abigailsnyder commented on #715
actually, 9 of the inputs for this chunk will have to come in as temp data inject. Seems like there's a lot of room for frustrating errors when you switch out 9 temp data injects. So I'm going to look through the other chunks I have to see if any of those are a little more ready to go.

Precursor chunks:
LA115.RooftopPV.R - gcamusa
L210.resources.R - energy

[2017-09-27 16:11] bpbond commented on #715
Yeah, good call.

This one is an open PR right now.

[2017-09-27 16:13] abigailsnyder commented on #716
Precursors: @bpbond  15 outputs will have to come in as temp data inject until L222.en_transformation.R is done in the energy system.
One output from L202.Ccoef.R - gcamusa will be temp data inject as well.

[2017-09-27 16:14] abigailsnyder commented on #721
only needs one temp data inject, we have a winner

[2017-09-27 16:15] bpbond commented on #716
I don't see a ` L202.Ccoef` in gcam-usa; do you mean energy? That was just merged yesterday.

[2017-09-27 16:18] abigailsnyder commented on #716
Whoops, you're right.

[2017-09-27 17:24] pkyle commented on #715
There should be 5 files that used to be in gcam-usa-data/GIS, and I believe all will be necessary for replication of all files generated by the gcam-usa module of the data system. Should be 4 HDD/CDD ones (used by LA143.HDDCDD), and this us_state_wind.csv (used by L210.resources_USA, and LA114.Wind). Note that two of the HDD/CDD files were not called explicitly by LA143 (e.g., CDD_GFDL_A2); instea

[2017-09-27 17:28] bpbond commented on #715
@pkyle Thanks! The question, though, was why weren't they included in the repo?

@abigailsnyder If we want to replicate this behavior we'll need a dedicated data chunk to do it.

[2017-09-27 17:43] pkyle commented on #715
@bpbond from what I remember, there's a process whereby people copy in files from the old repo into the new one as they are needed, right? So, those files aren't in the new repo because they haven't been needed yet, right? Is the problem that they aren't even in the old one? Unless my failing memory is failing some more, I wasn't involved with the construction of the gcam-data-system-OLD repo, and

[2017-09-27 17:46] bpbond commented on #715
Right, the problem (not really a problem, just a curiosity) is that they're not in the old one, which I branched from integration branch.

...hang on, it IS in my old data system. Huh! Sorry! @abigailsnyder I'll commit those files right now. No idea how that happened.

[2017-09-27 17:51] bpbond commented on #715
That was my mistake–apologies. Done.

[2017-09-27 18:02] pkyle commented on #715
All sounds good! Also I don't see a problem with changing the method to just directly load the necessary files (i.e., hard-wire the file names), rather than writing a separate function to call them automatically. We've lost the code used to produce those GFDL_A2.csv files anyway, and when we do re-gain ownership of that part of our data processing system some day, it's likely it will be integrated

[2017-09-27 18:03] bpbond commented on #715
Cool, thanks. Let's not bother then.

[2017-09-27 19:31] pkyle commented on #511
@bpbond I never saw this, because of the timing of the change in my email account (I think I made the change a few hours after you opened this issue). Do you want for me to look into it, or is this code already committed so no need?

[2017-09-27 19:37] bpbond commented on #511
Hey, thanks. The code was committed in #516 but question still stands–is the comment right, or the code, and what do we want to happen?

[2017-09-27 20:02] bpbond opened #767 "Object search function?"
In #766 @swd-turner [said](https://github.com/JGCRI/gcamdata/pull/766#issuecomment-332637813)

[2017-09-27 20:14] bpbond opened #768 "L221.en_supply"
Per @d3y419 .

[2017-09-27 20:16] bpbond opened #769 "L232.industry"
Per @d3y419 . ~Russell, we know you have a lot backed up, DSR-wise, so please keep us posted about feasibility etc.~

[2017-09-27 20:17] bpbond commented on #769
Whoops, mistaken assignment, fixing.

[2017-09-27 20:19] bpbond commented on #517
Hey @cwroney - this issue was closed but I don't see a merged PR for `L223.electricity`. Can you refresh my memory?

[2017-09-27 20:21] bpbond opened #770 "LA1321.Cement"
Per @d3y419 . Chris, we know you have a bunch backed up, DSR-wise, so please keep us posted about feasibility etc.

[2017-09-27 20:29] cwroney commented on #517
@bpbond I don't think this should have been closed. I've got an active branch of it locally. I was working on other chunks while Pralit figured out rule 3 and then hadn't come back to it. It's next for me after L222.

[2017-09-27 20:30] bpbond commented on #517
OK, thanks!

[2017-09-27 20:31] cwroney commented on #770
@bpbond It should be fine, I'm hopefully turning in L222 today (just getting final descriptions, etc., sorted) and then this should be next for me after L223.

[2017-09-27 21:01] pkyle commented on #511
Hard to say what is best here...the decision does have significant consequences for emissions/climate, but what we've got right now is reasonably defensible. What's happening is that different base datasets were used to generate the two parameters of the emissions control function (max-reduction and steepness). One of the two (steepness) omitted traditional biomass whereas the other included it. S

[2017-09-27 21:11] pkyle commented on #300
@bpbond this August 8 dump of issues was perfectly timed! The one 24-hour window that I wouldn't see 'em for 7 weeks.
I made a mistake in my comment above that I just corrected--these files are all in gcam-usa-data/mappings (not in energy-data/mappings), and the file I was referring to was EIA_SEDS_fuels.csv.
Yeah the n/a in the IMF data is read as a character string; we could add it to our global

[2017-09-28 12:21] rplzzz commented on #511
To answer the question that Ben actually asked, I believe the code is actually doing what the comment says, albeit in a not quite obvious way.  If either steepness or max.reduction is missing in a row, that will trip the na.omit, causing the row to be dropped.  Thus, only rows that have both will be kept, as advertised.

The code _also_ drops rows where max.reduction == 0, which wasn't mentioned i

[2017-09-28 18:43] swd-turner opened #772 "us_state_wind.csv"
Any ideas on the source for the data in this file? Resides in gcam-usa-data/GIS.

[2017-09-28 18:44] swd-turner commented on #772
#142

[2017-09-28 20:35] rynacui commented on #717
Hi @bpbond, I have several questions about this chunk. Maybe it's best if we sit down together and go through? Will you be in office tomorrow?

[2017-09-28 20:52] kvcalvin commented on #729
Woohoo! 5 more `temp-data-inject` files now gone. The remaining files are:
[code]

[2017-09-28 21:37] rynacui opened #773 "A23.globaltech_eff.csv in OLD and NEW have different # of lines"
This file is in `energy-data\assumptions` in the ODS.
Not sure why it has two more lines regarding `solar` when added to `inst\extdata\energy`.

[2017-09-28 21:50] bpbond commented on #773
I see a four-line difference, because the new file has a three-line header, and there's now a blank line at the end.

[2017-09-28 21:51] bpbond commented on #773
P.S. I should say that there's no difference in the content when I `diff` the files.

[2017-09-28 21:52] bpbond commented on #729
🎉 Nice!

[2017-09-28 21:52] bpbond commented on #717
Hi Ryna, yes, I will be–sounds good.

[2017-09-28 22:37] rynacui commented on #773
I have two extra lines in the content, 27 versus 25.

[2017-09-28 23:06] bpbond commented on #773
Huh...um. I can look; do you want to send to me/post here?

[2017-09-29 19:35] kdorheim commented on #724
@gokuliyer  and or @bpbond this chunk tries to load `L2322.SubsectorInterpTo_Fert` and `L2322.SubsectorShrwt_Fert` but these csv files do not exist in the old data system. This is not a problem with the chunk generator because the old data system also tries to load them. I wanted to check with you to see if it is a typo trying to load `L2322.SubsectorShrwtFllt_Fert` and `L2322.SubsectorInterpTo_Fe

[2017-09-30 02:13] bpbond opened #775 ".onLoad could warn if IEA files not present"
Currently our `onLoad` function just check the `gcamdata.use_java` option. It could also

* print a warning if the proprietary IEA files are not installed

[2017-09-30 12:57] bpbond commented on #724
@pkyle ?

[2017-10-01 20:23] pkyle commented on #724
Pretty sure this issue is also in L222.en_transformation_USA, L223.electricity_USA, L226.en_distribution_USA, L232.industry_USA, L254.transportation_USA, and L2321.cement_USA. So, if any of those chunks are done, just see what they do I guess? The issue is that for a number of the data objects being read by this code chunk, we don't know for sure whether they exist, as it depends on user-specified

[2017-10-02 13:23] #699 closed

[2017-10-02 20:08] #142 closed

[2017-10-02 21:42] bpbond commented on #724
Hi @kdorheim - yes, please take a look at one of those above first. We do have a (kludgey) mechanism to pass optional data objects though: see the chunks that use `L100.IEA_en_bal_ctry_hist`, e.g. `module_energy_LA111.rsrc_fos_Prod`.

[2017-10-03 12:15] kdorheim commented on #724
thanks will do!

[2017-10-03 15:40] #598 closed

[2017-10-03 17:50] #717 closed

[2017-10-03 19:16] fengly20 commented on #769
@bpbond  When you have time can you add the files for this chunk?

[2017-10-03 20:53] fengly20 opened #777 "Help needed with L232.industry assumption file units"
The chunk reads in assumption files `energy/A32.fuelprefElasticity.csv` and `socioeconomics/A32.inc_elas_output` which I'm not sure about the units.

In `energy/A32.fuelprefElasticity.csv`:
`share` -- Unitless?
`fuelprefElasticity` -- Unitless?

In `socioeconomics/A32.inc_elas_output`:
`inc_elas` -- Unitless?

Thanks!

[2017-10-03 21:48] bpbond commented on #777
@pkyle can you help, or suggest who can? Thanks.

[2017-10-04 03:58] pkyle commented on #777
pc.output_GJ: per-capita output in GJ per person per year
inc_elas: income elasticity (unitless)
share: unitless share of industrial energy consumption from the given fuel in the base year
fuelprefElasticity: unltless elasticity relating the share-weight of the given fuel to income

[2017-10-04 11:59] bpbond commented on #773
Merged so closing.

[2017-10-04 11:59] #773 closed

[2017-10-04 13:47] fengly20 commented on #777
Thanks! @bpbond @pkyle

[2017-10-04 13:47] #777 closed

[2017-10-04 14:35] #713 closed

[2017-10-05 13:28] swd-turner commented on #714
@bpbond can you add the files for this one, please?

[2017-10-05 21:48] #635 closed

[2017-10-06 09:42] bpbond opened #778 "L2321.cement"

[2017-10-06 14:29] kvcalvin commented on #729
Two more files removed! Remaining files:

[code]

I'm hoping to finish these today so that land will be done.

[2017-10-09 16:37] fengly20 opened #781 "Help needed with L2321.cement assumption file units"
The chunk reads in assumption files `energy/A321.demand.csv`, `energy/A321.globaltech_coef.csv` and `socioeconomics/A321.inc_elas_output.csv` which I'm not sure about the units.

In `energy/A321.demand.csv`:
`perCapitaBased` - ?

In `energy/A321.globaltech_coef.csv`:
`coefficient` - the `output.unit` and `input.unit`in `A321.sector.csv` are 'Mt' and 'EJ or Mt' for supplysector cement, respectively

[2017-10-09 16:49] fengly20 commented on #781
@pkyle thanks

[2017-10-09 17:12] pkyle commented on #781
perCapitaBased: this is a logical (Boolean) indicating whether to use a per-capita or per-GDP based demand function. Looks like others who have committed energy/\*.demand.csv files have just written it as "unitless".
coefficient: limestone input is unitless (Mt limestone per Mt cement); all others are GJ per kg (EJ of energy per Mt of cement).
pc.output_t: tonnes per-capita (i.e., tonnes of cement

[2017-10-09 21:15] #781 closed

[2017-10-10 18:43] abigailsnyder opened #783 "Driver won't build on windows machine following L222.en_transformation merging in"
Possibly due to `fill_decay_extrapolate`? Maybe around line 181 in `L22.en_transformation`.

There've been some errors from Check Package around `fill_decay_extrapolate` for a while, but they never stopped the driver from running or impacted my outputs.

I'm stumped. Very likely will affect @rynacui if she tries to merge master into any branch she's working on right now.

[2017-10-10 18:48] rynacui commented on #783
Yea, I also got the check package error for `fill_decay_extrapolate` for a while...

[2017-10-10 18:53] abigailsnyder commented on #783
@rynacui  fwiw, disabling `module_energy_L222.en_transformation` will at least allow the driver to run . Short term fix so you can stay (mostly) up to date with master and still work on your chunk.

The upside, I think the only thing downstream that would use outputs from `module_energy_L222.en_transformation` is a chunk that's assigned to me. So disabling shouldn't break anything else for a while

[2017-10-10 19:22] cwroney commented on #783
Weird, I just opened master, built and ran driver(), and did Check Package and received 0 errors and warnings (I'm also running windows). @pralitp wrote `fill_exp_decay_extrapolate()` for me so I'm not 100% sure what it's going on under the hood. The only thought I have is that the function checks your dplyr version and works slightly differently depending on what you have, so that's a possible so

[2017-10-10 20:26] bpbond commented on #783
What version of dplyr are you running @abigailsnyder ?

[2017-10-11 13:10] abigailsnyder commented on #783
dplyr_0.7.2
Maybe the .2 to .3 will make the difference, dare I update?

[2017-10-11 13:14] abigailsnyder commented on #783
Since I'm still version 0.7, I don't think I'd trigger that flag, but I've accepted the dark magic at work in dsr

[2017-10-11 13:19] bpbond commented on #783
Yeah, I'd try updating (of course, it's not my machine, and no code of _mine_ will break if something goes wrong). Given that @cwroney is running OK, seems worth a try.

No kidding. `“Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.`

[2017-10-11 13:28] abigailsnyder commented on #783
everything is broken now. I now have no dplyr and  can't re-install it.

[2017-10-11 13:40] abigailsnyder commented on #783
Ok, I have dplyr 0.7.4
Does not fix the L222.en_transformation issue.

[2017-10-11 13:58] pralitp commented on #783
Could you check with @kdorheim?  She had a similar issue and I think we had to upgrade dplyr and tidyr.

[2017-10-11 14:13] abigailsnyder commented on #783
ah I'm way behind on tidyr 0.6.1 - @kdorheim is at 0.7.1. updating tidyr to 0.7.1 fixes it.
At least the problem will be obvious for other people now

[2017-10-11 14:14] bpbond commented on #783
Cool! Thanks @pralitp .

[2017-10-11 14:14] #783 closed

[2017-10-11 14:15] bpbond commented on #783
P.S. I will update the `gcamdata` package requirements to enforce a 0.7.1 minimum.

[2017-10-11 20:48] kvcalvin commented on #729
@bpbond: I have updated to remove the remaining `temp-data-inject` files from the land DSR. The updated project (see branch `aglu-traceback`) still fails the oldnew test on one table for a small number of rows. I think this has to do with bioenergy yield differentiation between hi/lo input, but I couldn't get my fix to work. Additionally, the code probably needs some cleaning/commenting.

[2017-10-11 21:00] swd-turner commented on #722
@bpbond can you add the files for this one, please?

[2017-10-13 13:27] bpbond commented on #729
@abigailsnyder Is this something you'd be willing and able to take on, at your convenience?

[2017-10-13 14:24] abigailsnyder commented on #729
I'll add it to the list @bpbond.
Nearish the top wrt dsr tasks.

[2017-10-13 14:27] bpbond commented on #729
Thank you! 👏

[2017-10-13 14:48] rynacui commented on #726
@bpbond do you mind sending files for #726 and #727? Thanks!

[2017-10-13 16:08] kdorheim commented on #724
When I tired to copy what  `module_energy_LA111.rsrc_fos_Prod` does with `L100.IEA_en_bal_ctry_hist` I get the following error
[code]

[2017-10-13 16:10] bpbond commented on #724
This may be easier to deal with in person. Talking a walk to you.

[2017-10-16 19:10] cwroney opened #785 "L222.en_transformation Outputs"
The outputs for L222.en_transformation are currently returned as empty tibbles because `tibble()` was not replaced in the Produce Outputs section with the function names. We need to fix the outputs and figure out why the package tests did not catch the outputs as empty data frames.

[2017-10-16 20:22] cwroney commented on #785
Branch created for this issue at https://github.com/JGCRI/gcamdata/tree/Chris-L222.en_transformation-FIX. Replaced incorrect tibble() and currently troubleshooting errors from doing so.

[2017-10-16 20:41] rynacui commented on #726
@bpbond I can't figure out what the function `aggregate_passthroughs` is doing in the loop of line 208-210...Could you please help take a look? Thanks!

[2017-10-16 20:56] jhoring opened #787 "model future years defined twice in old data system"
Haewon and I noticed that model future years were defined twice in the old data system -- in A_common_data.R called X_future_years and in A_modeltime_data.R called X_model_future_years. This creates issues when you try to run the model annually (or just change future years in one place).

Something to watch out for in new data system.

@d3y419

[2017-10-16 21:29] fengly20 opened #788 "Write A_*_data.R values into constants.R?"
#778

The chunk `L2321.cement` I'm working on needs a bunch of data from data scripts like `energy-data/assumptions/A_*_data.R`. Should I write those values into constants.R? @bpbond

Thanks!

[2017-10-17 12:17] bpbond commented on #788
Wow, that's a lot of stuff. I guess so?

[2017-10-17 12:19] bpbond commented on #787
Thanks. This has come up before but it's good to have it called out in an open issue.

[2017-10-17 12:30] bpbond commented on #726
[code]
It's recursively computing the sum of 'passthroughs': for a given row X, it looks for all the rows in the dataset that are in the same region and year, and for which the `supplysector` field is the same value as X's `minicam.energy.input`, and recurses to compute the sum for each of _those_ rows.

Note that this is an _extremely_ inefficient way to do this! Happily @aarony2j already re-impl

[2017-10-17 13:55] fengly20 commented on #788
Sure. Thanks!

[2017-10-17 13:55] #788 closed

[2017-10-17 19:00] cwroney commented on #785
I think the empty data frames are passing through untested; after replacing the outputs with the correct names it's flagged a couple slight differences in the oldnew test.

[2017-10-17 19:16] rynacui commented on #726
Thanks @bpbond! Lucky me that @aarony2j already did the work!
I'll take a look and try building the function.

[2017-10-17 21:23] cwroney commented on #785
I've fixed the code in L222 so it passes all checks in the regular output. I'm suspicious that this also means that any data frames defaulting to empty, i.e., any that are conditionally made using an `if (exists(output)) {output} else {tibble(x = NA) -> output}` structure would not be tested against the old data system to see if it is also not there originally. I'm not sure how to test whether thi

[2017-10-22 09:12] bpbond commented on #785
Sorry for the slowness--I've been out of town--but will dive into this on Tuesday.

[2017-10-24 01:15] #718 closed

[2017-10-25 13:12] bpbond commented on #723
@kdorheim has extra time while waiting for her PR #786 to be approved, so assigning this to her, OK?

[2017-10-25 20:25] kdorheim commented on #723
@bpbond  and @pkyle  like `L2322.Fert_USA` #724 this chunk has two inputs `L2321.SubsectorShrwt_cement` and `L2321.SubsectorInterpTo_cement` that are only some times generated by the old data system.  In `L2322.Fert_USA` #724 we deiced to remove these from the new data system.

Should I do the same thing here or should I keep them as chunk inputs?

[2017-10-25 20:42] bpbond commented on #723
If they were removed in #724 , let's remove them here too please. Thanks.

[2017-10-26 14:14] pkyle commented on #723
Sorry but I disagree! This removes capability to replicate the USA-region assumptions in the 51 states, should anyone deviate from the current core model assumptions. This issue applies to many of the GCAM-USA code chunks (I listed 'em in #724 ), and while cement and fertilizer tend to just fix the share-weights at the values derived by the model the base year (in other words in this specific appl

[2017-10-26 14:18] bpbond commented on #723
Thanks @pkyle . We already have a mechanism for optional (blank) chunk outputs, so can use that, it sounds like? That's equivalent to the zero-row CSV mechanism you mention, I think.

[2017-10-26 14:23] kdorheim commented on #723
So translate the old ds to include the `L2321.SubsectorInterpTo_cement` and `L2321.SubsectorInterpTo_cement` as inputs?

Should I also go back to #724 and add the `SubsectorInterpTo_Fert` and `SubsectorInterpTo_Fert`  as inputs? This may cause issues because the upstream chunk no longer produces them.

[2017-10-26 14:25] pkyle commented on #723
Cool! But again, this is not so much a problem for the cement sector or the fertilizer sector because these are sectors where nobody cares much about subsector (fuel choice) share-weights. Fertilizer in particular only has one modeled fuel option (natural gas). But electricity and refining are a different matter so if that capability exists, it ought to be used there.

[2017-10-26 14:27] pkyle commented on #723
Also just so we're all clear, I thought I'd provide a more complete description of the specific issue: right now the `year` column in the assumptions table `A321.subsector_shrwt.csv` contains only missing values, and as a result we don't create `L2321.SubsectorShrwt_cement.csv` in `zchunk_L2321.cement.R`. As such, `L2321.SubsectorShrwt_cement.csv` isn't available for this (downstream) code chunk t

[2017-10-26 14:29] bpbond commented on #723
That's useful, thanks.

[2017-10-26 15:02] pkyle commented on #723
@bpbond I'm sorry I'm in Paris! At a meeting on transportation modeling. Meeting gets out shortly if you want to do a video call?

[2017-10-26 16:18] bpbond commented on #723
Haha! OK. 🇫🇷

I'll talk with KD and we'll rope you in as necessary. Thanks!

[2017-10-27 01:23] #141 closed

[2017-10-27 02:09] #710 closed

[2017-10-27 13:01] russellhz opened #795 "write_to_all_states"
Right now, this function requires that `region` is in `names(data)`. However, this is often not the case, so you would have to add an arbitrary `region` column to use the function. I think this should be changed to:
` if ("region" %in% names(data)){`
    `data <- data %>%`
      `select(-region)`
 ` }`

  `data %>%`
    `set_years %>%`
    `repeat_add_columns(tibble(region = gcamusa.STATES)) %>%`

[2017-10-27 13:30] bpbond commented on #795
It looks like @abigailsnyder is proposing a fix for this too, in #790 . Off to look at that now.

[2017-10-27 13:37] abigailsnyder commented on #795
@bpbond `select(-one_of("region"))` is what I have now; it's fine but it throws a warning any time region isn;t present. I'm going to play around with `select(-contains("region"))`

[2017-10-27 13:38] abigailsnyder commented on #795
otherwise yeah just if statements

[2017-10-27 13:40] bpbond commented on #795
Well, or just `data$region <- NULL`

[2017-10-27 13:40] abigailsnyder commented on #795
that works too

[2017-10-27 13:55] bpbond commented on #795
OK, I've made a fix as `data %>% mutate(region = NULL) %>%` and will commit that.

[2017-10-27 14:13] #795 closed

[2017-10-27 14:41] #714 closed

[2017-10-27 15:42] bpbond commented on #723
OK, we had a good discussion about this. Given that these outputs have already been stripped out upstream, and in various chunks, I think the best thing to do is punt on this issue for now. Let's strip out the currently-unneeded outputs for now.

***BUT*** I agree with you @pkyle that we definitely need to deal with this, because as you say, one of the whole points of the new data system is better

[2017-10-27 16:20] kdorheim opened #797 "Optional User Outputs for GCAM-USA"
While working on cement and fertilizer GCAM-USA chunks we have run into problems with conditional outputs in the old data system. For example `zchunk_L2321.cement.R` normally doesn't create `L2321.SubsectorShrwt_cement.csv` because of `A321.subsector_shrwt.csv` contains a year column with missing values, but if a user were to make changes to this assumption file then the SubsectorShrwt file would

[2017-10-27 16:22] bpbond commented on #797
@abigailsnyder @russellhz Please add to list above as necessary.

[2017-10-27 16:24] bpbond commented on #797
Thanks @kdorheim . Right, we need to figure out the best way to do this--right now the 'optional output' mechanism in the new data system is a bit hackish, and it will be good to take an overall look at the problem and possible mechanisms to address...AFTER we get to v1.

[2017-10-27 18:44] abigailsnyder commented on #797
- `L226.SubsectorShrwt_en` from `L226.en_distribution.R` affecting `L226.en_distribution_USA.R`

- ` L226.SubsectorInterpTo_en` from `L226.en_distribution.R` affecting `L226.en_distribution_USA.R`

- `L222.GlobalTechShutdownProfit_en` from `L222.en_transformation.R` affecting `L222.en_transformation_USA.R`

- `L222.GlobalTechSCurveProfit_en` from `L222.en_transformation.R` affecting `L222.en_trans

[2017-10-27 20:32] #722 closed

[2017-10-27 21:19] abigailsnyder opened #799 "L222.en_transformation.R doesn't actually produce outputs"
The body of the code is there, but the entire outputs look like
[code]

So nothing is actually getting written or tested. Throwing the inputs in is an easy fix on my end to give me the files I need for `L222.en_transformation_USA` but they haven't been tested, and I'd prefer to wait for the tests to pass. I'm going to start a branch and open a PR to do it, but if the tests fail then I don't....wan

[2017-10-27 21:35] cwroney commented on #799
Thanks @abigailsnyder, I caught this about a week ago and we have a fix incoming shortly, see https://github.com/JGCRI/gcamdata/issues/785. Two outputs are failing the test now that they're actually being tested so I just have to track them down and will put a pull request in. Ben and I are also trying to figure out why they're not getting tested by the oldnew so hopefully it can be caught automat

[2017-10-27 21:36] abigailsnyder commented on #799
cool cool

[2017-10-27 21:37] abigailsnyder commented on #785
my b I meant to close the issue I opened

[2017-10-27 21:37] #799 closed

[2017-10-28 11:33] bpbond opened #801 "Create a missing_data function"
Create a `missing_data` function to abstract
[code]

[2017-10-28 12:36] bpbond opened #802 "driver could check that `year` columns are integers"
A lot of character `year` columns are floating around and that screw up joins.

[2017-10-28 13:13] russellhz opened #803 "Updating HDD/CDD Scenarios"
All of our HDD/CDD scenarios are old SRES scenarios. These should perhaps be updated to CMIP5 scenarios.

[2017-10-31 13:44] kdorheim opened #805 "#789 missing output"
I am working on `L2321.cement_USA` which uses `L2321.IncomeElasticity_cement_gcam3` from but I did not see it listed as an output from L2321.cement in the new data system. Is this output being stripped from the new ds?

[2017-10-31 14:06] bpbond commented on #805
@fengly20 ?

[2017-10-31 14:07] fengly20 commented on #805
`L2321.IncomeElasticity_cement_gcam3` (and other scenarios ) was not declared as output in the `L2321.cement` skeleton. Waiting on @bpbond to decide how we should deal with those (conversations in the #789 PR).

[2017-10-31 14:24] bpbond commented on #805
OK, sorry all–as @fengly20 points out, he asked this very question 10 days ago in #789 .

As far as I know we are keeping these outputs. So for now I'd say @kdorheim you should be using `temp-data-inject` data, and once #789 is merged you can switch to real outputs.

[2017-10-31 14:27] kdorheim commented on #805
Sounds good thanks! @bpbond @fengly20

[2017-10-31 17:07] swd-turner commented on #648
Attributes updated and committed to #798

[2017-10-31 17:18] #721 closed

[2017-10-31 20:30] #805 closed

[2017-10-31 20:31] #785 closed

[2017-10-31 20:31] bpbond commented on #785
Closed as #804 merged.

[2017-10-31 23:03] #705 closed

[2017-11-02 16:16] #778 closed

[2017-11-02 16:42] bpbond opened #806 "Correctly handling L2321.cement outputs and xml files"
In #789 we merged `module_energy_L2321.cement` and `module_energy_batch_cement_xml` but the latter is probably not correct, or at least not complete.

1. I commented out two of its inputs, `L2321.SubsectorShrwt_cement` and `L2321.SubsectorInterpTo_cement`, as they're not produced by `L2321.cement`. What should be done here?
2. The various SSP files produced by `L2321.cement` don't appear anywhere.

[2017-11-02 18:13] bpbond commented on #806
Hi @fengly20 - I just talked with @pkyle and he confirmed that what should happen is that each SSP, etc., all go into a separate XML file; this provides a mechanism for scenario-specific settings to override the default ones. I'll do this for #784 , and then you can open a new PR to address this issue, patterning after what I do, OK?

[2017-11-02 18:47] fengly20 commented on #806
Sorry I just saw your message. Somehow I was not getting email notifications from Github. I'll do the XML stuff for cement.

[2017-11-02 23:35] #769 closed

[2017-11-03 01:54] #517 closed

[2017-11-03 13:00] #806 closed

[2017-11-03 15:20] bpbond commented on #707
@russellhz - I added the SSP5 xml-generating file, which I think we'll want to have generate all the SSP files. See e.g. `module_energy_batch_cement_incelas_SSP_xml`.

[2017-11-03 16:22] #724 closed

[2017-11-03 20:09] cwroney commented on #770
@bpbond I think the zchunk for this is missing from master?

[2017-11-03 20:41] bpbond commented on #770
Hmm. Not only is the file there, but it seems to have been done by Aaron six months ago!

https://github.com/JGCRI/gcamdata/blob/master/R/zchunk_LA1321.Cement-gcam-usa.R
https://github.com/JGCRI/gcamdata/pull/420

Record-keeping fail.

[2017-11-03 20:42] bpbond commented on #770
Right? Closing.

[2017-11-03 20:46] cwroney commented on #770
@bpbond isn't that GCAM_USA not the core?

[2017-11-03 21:18] bpbond commented on #770
Sigh. Yeah. Sorry.

[2017-11-03 21:26] cwroney commented on #770
so close! thanks.

[2017-11-04 21:48] #726 closed

[2017-11-04 21:51] bpbond opened #809 "Computing passthrough sums"
This is done in at least two separate places - `L254.transportation_UCD` and `L254.transportation_USA`; can it be abstracted to a function? See discussion in #726 .

[2017-11-04 23:16] russellhz opened #810 "L210.resources metadata"
Two questions:

1. Units/source for energy-data/assumptions/A10.EnvironCost_SSPs.csv

2. Are all TechChanges unitless (A10.TechChange, A10.TechChange_SSPs, A15.roofPV_TechChange)?

[2017-11-05 15:21] pkyle commented on #810
Re (2), TechChange is an annual improvement rate. I'd call it unitless, but you might check what we've written for other similar parameters (e.g., AgProdChange).

[2017-11-06 20:32] bpbond commented on #715
Reassigning to @russellhz as I don't think @abigailsnyder has started on it yet, and Russell has opened #811 which has the necessary precursors for this.

[2017-11-06 20:36] bpbond opened #813 "Any case sensitivity issues we need to be aware of?"
I don't think so, because would have been caught by Travis tests, but let's pause and consider.

JGCRI/gcam-core#14

[2017-11-06 20:37] bpbond commented on #648
Thanks @swd-turner - closing.

[2017-11-06 20:37] #648 closed

[2017-11-06 20:51] bpbond commented on #768
Hi @jhoring - just checking, what's the status of this? Do you think it could be finished in the next 10 days? If possible, that would synchronize nicely with all other outstanding chunks. Thanks- B

[2017-11-06 20:55] jhoring commented on #768
@bpbond I'm working on it as we speak! A little over halfway through I'd say. I think I can get it done within 10 days.

[2017-11-06 20:57] kvcalvin commented on #810
Re (1), you can cite my SSP paper. It has documentation there. http://www.sciencedirect.com/science/article/pii/S095937801630084X

[2017-11-06 20:57] kvcalvin commented on #729
Can we close this?

[2017-11-06 20:58] bpbond commented on #729
Funny, I was just looking at this issue and wondering the same thing.

[2017-11-07 01:59] bpbond opened #814 "VERSION 1 CHECKOFF - AGLU"
Verify that

- [x] new data system produces exactly same `aglu` XML files as old data system (see python test results / #954)
[code]
- [x] structure of files matches (see python test results / #954)
``` 0 file discrepancies. ```
- [x] no `temp-data-inject` files still being used (see #917)  ** an aglu `temp-data-inject` is being used in an `OLD_DATA_SYSTEM_BEHAVIOR` block to address #929 this use

[2017-11-07 02:00] bpbond opened #815 "VERSION 1 CHECKOFF - EMISSIONS"
Verify that

- [x] new data system produces exactly same `emissions` XML files as old data system (see python test results)
[code]

- [x] structure and contents of files matches (see python test results)
[code]

- [x] no `temp-data-inject/` files still being used (see #935)

- [x] creates same outputs as GCAM 5 (pass old new test wtih #935)

- [x] GCAM runs with the xml files substituted in (see `

[2017-11-07 02:02] bpbond commented on #596
Do we want to fix this for version 1? Or punt to version 2?

[2017-11-07 02:04] bpbond commented on #730
Is this correctly tagged for Version 1? Or is it a Version 2 development?

[2017-11-07 03:12] pkyle commented on #596
I'd say punt--just in checking the model output, coal_elec in Venezuela+ accounts for less than 0.001 Tg/yr of all of the major primary non-CO2s (SOx, NOx, CO, BC). That's for the reference scenario; would be less in a policy scenario. Given the magnitudes involved, I can't really see anyone nailing us on having the "wrong" emissions factor here.

[2017-11-07 12:50] kvcalvin commented on #596
I agree with Page. The EF arose from following the SSP protocol and changing it will have a pretty small effect. I think we can deal with this in the next round.

[2017-11-07 12:53] kvcalvin commented on #730
I think this can be version 2. It looks like we generated the necessary chunks, but want to reorganize them so it is less confusing. @abigailsnyder -- does that sound right?

[2017-11-07 13:56] abigailsnyder commented on #730
I will go back through and double check. It's possible that I got to some of the later land input files (4,5) after we opened this issue and skipped the protected lands in those files. I can check later this week and add that translation in for now, if we want.

[2017-11-07 14:00] kvcalvin commented on #730
Thanks!

[2017-11-07 14:30] bpbond commented on #596
Sounds good--thanks.

[2017-11-07 14:32] bpbond commented on #730
Yes, thanks. I'd say that if it's a close-to-trivial amount of work, go for it; but otherwise let's kick this down the road. For now I'm going to move this to Version 2, but let me know if otherwise.

[2017-11-08 20:52] bpbond opened #817 "module_emissions_L115.nh3_an_R_S_T_Y unite-join-separate calls"
Several times, `module_emissions_L115.nh3_an_R_S_T_Y` uses a series of `unite`-`join`-`separate` calls (lines 69-72, 120-123, 135-137). Is this needed? It seems like this could be accomplished simply by `join(..., by("x1" = "x2", "y1" = "y2"))`?

[2017-11-08 21:21] bpbond opened #818 "gather_years function?"
There's an awful lot of this in the code
[code]

Could create a `gather_years("name_of_value_column")` function.

[2017-11-08 21:52] bpbond opened #819 "data_not_created function"
There's a lot of these in the code:
[code]

Abstract into a function. Perhaps rethink more generally.

[2017-11-08 22:29] bpbond commented on #817
@kdorheim Hi Kalyn, tagging you b/c you originally wrote this, I think, but feel free to ignore. Not urgent.

[2017-11-09 02:08] bpbond commented on #819
Duplicates #801

[2017-11-09 02:08] #819 closed

[2017-11-09 13:15] kdorheim commented on #817
@bpbond If I remember correctly you are right, the `unite-join-separate` can be simplified with a `join` call. This was my first chunk, before I understood the full power and potential usefulness of `joins`.

[2017-11-09 13:20] bpbond commented on #817
No worries at all--it's working just fine, after all. Just caught my eye. Again, optional. Thanks!

[2017-11-14 11:07] #818 closed

[2017-11-14 16:51] bpbond opened #826 "Should year columns be integers?"
Currently (see #802 and #820 ) the driver checks that all `year` columns are numeric. Should they forced to be integers? To do this right, if yes we should change many definitions in `constants.R` to e.g.
[code]

[2017-11-14 16:52] #802 closed

[2017-11-14 20:50] rplzzz commented on #826
That would appear not to be the case:
[code]
It seems that `:` and `seq` prefer to create integers whenever their arguments are integer-valued numerics.  For example:
[code]

[2017-11-14 22:42] bpbond commented on #826
Oh, huh, interesting–good for you for checking.

[2017-11-15 20:35] #768 closed

[2017-11-15 21:28] abigailsnyder commented on #730
The protected lands only show up in `land input 2` and `land input 3` in the old Data System.
We have then in `land input 2` in the new DS, but `land input 3 irr` in new DS needs prot lands from `land input 3` in old ds. So I will work on that this week.

[2017-11-15 21:46] kvcalvin commented on #730
Okay, hopefully it won't take too long.

[2017-11-15 22:33] bpbond commented on #730
Thanks. I'll handle your PR #825 .

[2017-11-16 10:20] #707 closed

[2017-11-16 15:28] bpbond commented on #817
@kdorheim Since you have some DSR hours, this would be one candidate to fix up.

[2017-11-16 15:29] bpbond commented on #747
@kdorheim Since you have some DSR hours, this would be one candidate issue to take on. Self-assign if of interest.

[2017-11-16 15:30] kdorheim commented on #817
@bpbond sounds great!

[2017-11-16 15:31] #366 closed

[2017-11-16 16:44] pkyle opened #829 "Should we allow for spline interpolation?"
The data system currently has dozens of places where exogenous data (whether assumptions or from other sources) is provided for some number of selected years, and we interpolate to either construct a time series with more years, or to construct the model inputs. This issue may be pertinent for ongoing studies using annual timesteps.
For monotonically increasing values linear interpolation may work

[2017-11-16 17:10] bpbond opened #830 "Data relationships - kind of a mess, no dedicated layer"
Right now functions like `dstrace` and `graph_chunks` and others get the raw inputs-and-outputs data from `chunk_inputs` and `chunk_outputs` and then have to manually construct/figure out relationships via joins, etc. It would be good to abstract and centralize this behind a standard layer of functions.

Just saving some notes on this topic...

High-level functions:

[code]

Low-level functions (a

[2017-11-16 17:40] bpbond commented on #809
@kdorheim This is another candidate for your time.

[2017-11-16 19:38] #691 closed

[2017-11-16 19:39] #810 closed

[2017-11-16 19:39] #672 closed

[2017-11-16 21:26] #817 closed

[2017-11-17 15:28] #730 closed

[2017-11-17 19:08] cwroney opened #833 "Why do we cap historical elec gen IO coefficient in LA1321_Cement?"
In the old data system, we set a maximum input-output coefficient for historical electricity generation, which is used to calculate the GJ/kg IO coefficient of the weighted fuelshares of fossil cement production. `energy.MAX_IOELEC <- 4` replaces 116 of 1280 region/years, mostly in older historical years. Why do we cap historical coefficients?

[2017-11-17 20:01] #725 closed

[2017-11-17 23:32] #716 closed

[2017-11-18 01:39] #770 closed

[2017-11-18 11:29] bpbond opened #836 "LA161.CStorage"
Accidentally skipped chunk that needs to be done.

[2017-11-18 11:29] bpbond opened #837 "Outstanding uses of temp-data-inject"
In theory, at this point we shouldn't have any dependencies on `temp-data-inject`. But we do:

Module | Chunk | temp-data-inject object | Notes
--------| ------ | ------------------------- | ------
aglu | L2052.ag_prodchange_cost_irr_mgmt | L201.AgYield_bio_grass | ?
aglu | L2242.land_input_4_irr_mgmt | L223.LN3_MgdAllocation_bio | ?
aglu | L2242.land_input_4_irr_mgmt | L223.LN3_MgdAllocation_crop

[2017-11-18 11:37] bpbond opened #838 "LA143.HDDCDD-gcam-usa"
Accidentally skipped chunk that needs to be done.

[2017-11-18 11:43] bpbond opened #839 "LA119.Solar"
Accidentally skipped chunk that needs to be done.

[2017-11-18 11:55] bpbond opened #840 "L133.water.demand.livestock"
Accidentally skipped chunk that needs to be done.

[2017-11-18 11:58] bpbond commented on #837
As far as I can tell these fall into three categories:
1. Chunks that were accidentally skipped because there were two identically-named files in both `gcam-usa` and `energy`. This confused both the skeleton generating script and me. I've created new issues for these: #836 #838 #839 .
2. A chunk that was skipped for some unknown reason in `water`: #840 .
2. The reworking of the aglu land nesting s

[2017-11-18 12:01] bpbond commented on #837
@kdorheim @russellhz @crvernon @fengly20  Not sure about your DSR time allotments, but if you have some, feel free to claim one of the following: #836 #838 #839 #840 - thanks.

[2017-11-18 12:02] #723 closed

[2017-11-18 19:43] kvcalvin commented on #837
@bpbond: I removed almost all of those temp-data-injects in the `aglu-traceback` branch. What happened to that?

[2017-11-18 19:59] #747 closed

[2017-11-18 20:02] bpbond commented on #837
@kvcalvin Looks like that branch hasn't been touched in a month. Did it fall through the cracks? Were we supposed to open a PR from it?

[2017-11-18 20:05] kvcalvin commented on #837
Yes, I had done almost everything, but ran out of time so I pushed the branch but didn't open a PR. Information is in https://github.com/JGCRI/gcamdata/issues/729. My memory is that the work is all done but it could have been cleaner.

[2017-11-18 20:19] bpbond commented on #837
OK, I've opened #841 and will deal with this. Thanks!

[2017-11-18 20:20] kvcalvin commented on #837
Okay, hopefully it won't be too hard

[2017-11-19 18:27] abigailsnyder commented on #837
@bpbond, I'll look into the L205 temp inject for that emissions chunk this week. Once you get #841  merged in, I'll check up on all the chunks. Slash help with getting #841 merged in or whatever comes up.

[2017-11-20 14:59] bpbond commented on #837
Thanks @abigailsnyder

[2017-11-20 15:29] d3y419 commented on #836
@russellhz : one more for the road?

[2017-11-20 15:30] d3y419 commented on #839
@fengly20 : one last one?

[2017-11-20 15:35] fengly20 commented on #839
Sure. @d3y419

[2017-11-20 16:24] bpbond commented on #840
Thanks.

[2017-11-20 16:45] #727 closed

[2017-11-20 19:02] #715 closed

[2017-11-20 19:14] kdorheim commented on #838
@bpbond I think that @russellhz did this chunk already

[2017-11-20 19:20] bpbond commented on #838
There's a GCAM-USA version of this, `module_gcam.usa_LA143.HDDCDD`, that I think is undone?